
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Exnova_tournaments_announcement&retrack=Exnova_tournaments_announcement" target="_blank") ${{ social-exnova.block_03 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.last.pt20.pb40
            a(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank")
                img.banner(src="https://fsms.quadcode.com/storage/public/cj/1m/40piuavv9levmbd0/pic (1).png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        //p.title.pb15 ${{ exnova010324.block_01 }}$
                            span.span-blue 
                        p.text.pb10 
                            b ${{ exnova010324.block_01 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb20 ${{ exnova010324.block_03 }}$
                        //- p.text.pb20 ${{ exnova010324.block_04 }}$
                        table.w245(align="center")
                            tr 
                                td.pt0.pb40 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank") ${{ exnova010324.block_04 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")
//- https://api.trade.exnova.com/v1/multi-links/deposit?amount=100?aff=7&afftrack=mail_Exnova_tournaments_announcement&retrack=Exnova_tournaments_announcement

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title-2.pb20 
                            span.span-blue 
                            |${{ exnova010324.block_05 }}$
                        p.text.pb0 ${{ exnova010324.block_06 }}$
                        table.w245(align="center")
                            tr 
                                td.pt20.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank") ${{ exnova010324.block_07 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp; 

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30    
                        p.subtitle.pb20 ${{ exnova010324.block_08 }}$                    
                        table.row
                            tr 
                                td.asset-block
                       
                                    p.text.pb10 1️⃣&nbsp;&nbsp;${{ exnova010324.block_09 }}$&nbsp;
                                        a.link(href="https://trade.exnova.com/traderoom/deeplink?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank") ${{ exnova010324.block_10 }}$
                                        |${{ exnova010324.block_11 }}$
                                    p.text.pb10 2️⃣&nbsp;&nbsp;${{ exnova010324.block_12 }}$ 
                                        a.link(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank") ${{ exnova010324.block_13 }}$
                                        |&nbsp;${{ exnova010324.block_14 }}$
                                    p.text.pb20 3️⃣&nbsp;&nbsp;${{ exnova010324.block_15 }}$
  
.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.subtitle.pb20 ${{ exnova010324.block_16 }}$
                        table.row
                            tr 
                                td.asset-block
                                    p.white-box ${{ exnova010324.block_17 }}$
                                    p.text.pt10.pb20 ${{ exnova010324.block_18 }}$
                                    p.white-box ${{ exnova010324.block_19 }}$
                                    p.text.pt10.pb20 ${{ exnova010324.block_20 }}$
                                    p.white-box ${{ exnova010324.block_21 }}$
                                    p.text.pt10 ${{ exnova010324.block_22 }}$
                        //- p.text.pb20 ${{ exnova010324.block_17 }}$
                        //- table.row
                        //-     tr 
                        //-         td.asset-block
                       
                        //-             p.text.pb20 ${{ exnova010324.block_18 }}$
                        //-                span &nbsp;${{ exnova010324.block_19 }}$
                        //-             p.text.pb20 ${{ exnova010324.block_20 }}$
                        //-                span &nbsp;${{ exnova010324.block_21 }}$
                        //-             p.text ${{ exnova010324.block_22 }}$
                        //-                span &nbsp;${{ exnova010324.block_23 }}$    
                        //- p.text.pt20 ${{ exnova010324.block_24 }}$   
                        table.w245(align="center")
                            tr 
                                td.pt20.pb30 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?aff=7&afftrack=mail_exnova-bonus&retrack=Exnova_Risk-Free" target="_blank") ${{ exnova010324.block_23 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.center
                            //- span.span-blue ${{ Exnova_Risk-Free.block_24 }}$ 
                            |${{ exnova010324.block_24 }}$
                        p.text.center
                            //- span.span-blue ${{ Exnova_Risk-Free.block_24 }}$ 
                            |${{ exnova010324.block_25 }}$    
                    