
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb28.text-pad-small 
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cu/72/0ieuko6hcq7ndba0/exnova-logo-blue.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")  ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
        
table.row.white-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt44.pb0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb32 ${{ exnova-welcome.block_00 }}$<br>
                            |${{ exnova-welcome.block_01 }}$
                
                        a(href="#" target="_blank")
                            img.header-img(src="https://fsms.quadcode.com/storage/public/cu/72/0ieuko6hcq7ndbag/container (3).png")
                tr
                    td.text-pad-small.pb44
                        p.text.pt32.pb40 ${{ exnova-welcome.block_02 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_05 }}$ 

.h-12 &nbsp;

table.row.white-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt32
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        .blue-block 
                            p.small-title.pb16.center ${{ exnova-welcome.block_03 }}$
                            p.text.pb32.center ${{ exnova-welcome.block_04 }}$
                            table.w280(align="center")
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_05 }}$ 

                        a(href="#" target="_blank")
                            img.pt16(src="https://fsms.quadcode.com/storage/public/cu/72/0id4nhqjshkklfjg/pic (1).png")
.h-12 &nbsp;

table.row.white-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt32
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        .blue-block 
                            p.small-title.pb16.center ${{ exnova-welcome.block_06 }}$
                            p.text.pb32.center ${{ exnova-welcome.block_07 }}$
                            table.w280(align="center")
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_08 }}$ 

                        a(href="#" target="_blank")
                            img(src="https://fsms.quadcode.com/storage/public/cu/72/0id4nhqjshkklfk0/Group 322.png")


.h-12 &nbsp;

table.row.blue-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt32
            table.ten.columns
                tr
                    td.text-pad-small.pb10
                        p.blue-title.pb16.center ${{ exnova-welcome.block_09 }}$
                        p.white-text.pb32.center ${{ exnova-welcome.block_10 }}$
                        .black-block
                            a(href="#" target="_blank")
                                img.pb30(src="https://fsms.quadcode.com/storage/public/cu/73/3sl4nhqjshkklfkg/blitz-1.png")
                            p.big-white.center ${{ exnova-welcome.block_12 }}$
                tr
                    td.text-pad-small.pb40
                        .left-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-small(src="https://fsms.quadcode.com/storage/public/cu/73/db54nhqjshkklflg/one.png")
                                    |${{ exnova-welcome.block_13 }}$
                        .right-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-small(src="https://fsms.quadcode.com/storage/public/cu/73/db54nhqjshkklfl0/two.png")
                                    |${{ exnova-welcome.block_14 }}$
                        .left-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-small(src="https://fsms.quadcode.com/storage/public/cu/73/db6uko6hcq7ndbb0/three.png")
                                    |${{ exnova-welcome.block_15 }}$
                        .right-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-big(src="https://fsms.quadcode.com/storage/public/cu/73/dbd4nhqjshkklfmg/four.png")
                                    |${{ exnova-welcome.block_16 }}$
                        .left-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-big(src="https://fsms.quadcode.com/storage/public/cu/73/dbd4nhqjshkklfm0/five.png")
                                    |${{ exnova-welcome.block_17 }}$
                        .right-side
                            .pd16
                                p.fat-white-text 
                                    img.emoji-small(src="https://fsms.quadcode.com/storage/public/cu/73/dbeuko6hcq7ndbbg/six.png")
                                    |${{ exnova-welcome.block_18 }}$

.h-12 &nbsp;

table.row.white-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt32
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.small-title.pb16 ${{ exnova-welcome.block_20 }}$
                        p.text.pb32 ${{ exnova-welcome.block_21 }}$
                        a(href="#" target="_blank")
                            img.center.pb40(src="https://fsms.quadcode.com/storage/public/cu/72/0id4nhqjshkklfj0/Frame 427321586.png")    
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_22 }}$ 

.h-12 &nbsp;

table.row.white-bg.br-full
    tr
        td.wrapper.offset-by-one.last.pt32
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.small-title.pb16 ${{ exnova-welcome.block_22 }}$
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0i54nhqjshkklfgg/11.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_23 }}$</b>
                                        p.text ${{ exnova-welcome.block_24 }}$
                        .h-12 &nbsp;
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0id4nhqjshkklfi0/22.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_25 }}$</b>
                                        p.text ${{ exnova-welcome.block_26 }}$
                        .h-12 &nbsp;
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0id4nhqjshkklfig/33.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_27 }}$</b>
                                        p.text ${{ exnova-welcome.block_28 }}$
                        .h-12 &nbsp;
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0ieuko6hcq7ndb9g/44.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_29 }}$</b>
                                        p.text ${{ exnova-welcome.block_30 }}$

                        .h-12 &nbsp;
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0i54nhqjshkklfhg/55.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_31 }}$</b>
                                        p.text ${{ exnova-welcome.block_32 }}$
                        .h-12 &nbsp;
                        .grey-block 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/72/0i54nhqjshkklfh0/66.png")  
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-welcome.block_33 }}$</b>
                                        p.text ${{ exnova-welcome.block_34 }}$
                                    
                 tr
                    td.text-pad-small.pb44
                        table.w280(align="center" style="padding-top: 40px")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_35 }}$ 

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-14-01-25&retrack=exnova-new-digest-14-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_TrumpCoin-email2&retrack=TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.mar0.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a.mar0(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a.mar0(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a.mar0(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a.mar0(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.mar0.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

