table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt20
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb30
                                    a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=8x-welcome" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5c/76/8687019df5d4f2e4f0/logo.png")
                                td.six.sub-columns.last.pb25
                                    //.header-soc
                                    //    a(href="" target="_blank")
                                    //        img.ig(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e5c0f1/ig.png")
                                    //    a(href="" target="_blank")
                                    //        img.tw(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e7d517/tw.png")
                                    //    a(href="" target="_blank")
                                    //        img.yt(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e9749a/yt.png")
                                    //    a(href="" target="_blank")
                                    //        img.fb(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1de9f9a/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt0
                        table.ten.columns
                            tr
                                td.text-pad-small.pb0
                                    p.title.pb10.center
                                        span.red ${{ 8x-welcome.block_00 }}$
                                        | &nbsp;${{ 8x-welcome.block_01 }}$
                                    p.white-text.center.plr30 ${{ 8x-welcome.block_02 }}$
            table.row
                tr
                    td.wrapper.last.offset-by-four.pt30
                        table.four.columns
                            tr
                                td.text-pad-small.vam.pb0
                                    .button-wrapper.button-wrapper_left
                                        table.medium-button.radius
                                            tr
                                                td.butt-td
                                                    a.butt(href="{{embedded.domain}}/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-welcome" target="_blank") ${{ 8x-welcome.block_03 }}$

            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb30




table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-sub.pb40 ${{ 8x-welcome.block_15 }}$
                        .step.step_1
                            p.step-title.pb10 ${{ 8x-welcome.block_16 }}$
                            p.step-text ${{ 8x-welcome.block_17 }}$
                            a.step-link(href="{{embedded.domain}}/verification" target="_blank") ${{ 8x-welcome.block_18 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/5c/77/ec8773c0d7c7e8i3c9/arr.png")

                        .step.step_2
                            p.step-title.pb10 ${{ 8x-welcome.block_19 }}$
                            p.step-text ${{ 8x-welcome.block_20 }}$
                            a.step-link(href="{{embedded.domain}}/traderoom" target="_blank") ${{ 8x-welcome.block_21 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/5c/77/ec8773c0d7c7e8i3c9/arr.png")

                        .step.step_3
                            p.step-title.pb10 ${{ 8x-welcome.block_22 }}$
                            p.step-text ${{ 8x-welcome.block_23}}$
                            a.step-link(href="{{embedded.domain}}/counting" target="_blank") ${{ 8x-welcome.block_24 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/5c/77/ec8773c0d7c7e8i3c9/arr.png")

table.row.black-bg
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb50
                        p.white-sub.pb30 ${{ 8x-welcome.block_25 }}$
                        a(href="${{ 8x-welcome.block_33 }}$" target="_blank")
                            img.video(src="https://static.cdnpub.info/files/storage/public/5c/76/86871d9121d9h7h9h0/video.png")

//table.row.white-bg
//    tr
//        td.wrapper.last.offset-by-one.pt40
//            table.ten.columns
//                tr
//                    td.text-pad-small.pb30
//                        p.black-sub.pb10 ${{ 8x-app.block_00 }}$
//                        p.text.pb30 ${{ 8x-app.block_01 }}$
//                        a.download-link.android(href="" target="_blank")
//                            .download-left
//                                p.platform ${{ 8x-welcome.block_12 }}$
//                                p.platform-sub ${{ 8x-welcome.block_14 }}$
//                            .download-right
//                                p.down-btn ${{ 8x-welcome.block_13 }}$
//                                    img.dwn-img(src="https://static.cdnpub.info/files/storage/public/5c/77/b0535d6c93a6f7a3g7/down.png")
//
//                        .download-link.win.soon
//                            .download-left
//                                p.platform ${{ 8x-welcome.block_06 }}$
//                                p.platform-sub ${{ 8x-welcome.block_08 }}$
//                            .download-right
//                                p.down-btn ${{ 8x-app.block_06 }}$
//                                    //img.dwn-img(src="https://static.cdnpub.info/files/storage/public/5c/77/b0535d6c93a6f7a3g7/down.png")
//
//                        .download-link.apple.soon
//                            .download-left
//                                p.platform ${{ 8x-welcome.block_09 }}$
//                                p.platform-sub ${{ 8x-welcome.block_11 }}$
//                            .download-right
//                                p.down-btn ${{ 8x-app.block_06 }}$
//                                    //img.dwn-img(src="https://static.cdnpub.info/files/storage/public/5c/77/b0535d6c93a6f7a3g7/down.png")



table.row.dark-bg
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb60
                        p.white-sub.pb10 ${{ 8x-welcome.block_27 }}$
                        p.white-text ${{ 8x-welcome.block_28 }}$
                            br
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
                            | &ensp;${{ 8x-welcome.block_30 }}$&ensp;
                            a(href="{{embedded.domain}}/faq" target="_blank") ${{ 8x-welcome.block_31 }}$
                            | &ensp;${{ 8x-welcome.block_32 }}$

table.row
    tr
        td.wrapper.last.offset-by-four.pt20
            table.four.columns
                tr
                    td.text-pad-small.vam.pb40
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/traderoom/asset/?aff=7&afftrack=mail_system&retrack=8x-welcome" target="_blank") ${{ 8x-welcome.block_26 }}$