
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small(align="center")
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_PT-welcome-post&retrack=PT-welcome-post&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo.center(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    //- a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-10-12-24&retrack=exnova-new-digest-10-12-24&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-robot.block_02 }}$
                                    //-     img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ PT-welcome-post.block_00 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/ct/gk/3ouuko6hcq7nd750/en-head.png")
                        p.big-text.pb16.pt32 ${{ PT-welcome-post.block_01 }}$
                        p.text.pb32 ${{ PT-welcome-post.block_02 }}$
                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ot4nhqgkuqemec0/Frame 427321551.png")
                                        
                                    td.pb0.w-a
                                        p.text ${{ PT-welcome-post.block_03 }}$

                        .div-12 &nbsp;

                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ol4nhqgkuqemea0/2.png")
                                        
                                    td.pb0.w-a
                                        p.text ${{ PT-welcome-post.block_04 }}$

                        .div-12 &nbsp;

                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ol4nhqgkuqemeb0/3.png")
                                        
                                    td.pb0.w-a
                                        p.text ${{ PT-welcome-post.block_05 }}$

                        .div-12 &nbsp;

                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3omuko6hcq7nd740/4.png")
                                        
                                    td.pb0.w-a
                                        p.text ${{ PT-welcome-post.block_06 }}$


 

.div-20 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/ct/gk/3ot4nhqgkuqemecg/960 × 562 (1).png")
                        p.text.pt32.pb40 ${{ PT-welcome-post.block_07 }}$
                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="https://t.me/exnovachatpt" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ol4nhqgkuqeme9g/soc-1.png")
                                        
                                    td.pb0.w-a
                                        a.text.underline(href="https://t.me/exnovachatpt" target="_blank") ${{ PT-welcome-post.block_08 }}$

                        .div-12 &nbsp;

                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="https://www.facebook.com/groups/exnovaptgroup" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ol4nhqgkuqemeag/soc-2.png")
                                        
                                    td.pb0.w-a
                                        a.text.underline(href="https://www.facebook.com/groups/exnovaptgroup" target="_blank") ${{ PT-welcome-post.block_09 }}$

                        .div-12 &nbsp;

                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="https://discord.gg/exnovapt" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ot4nhqgkuqemebg/soc-3.png")
                                        
                                    td.pb0.w-a
                                        a.text.underline(href="https://discord.gg/exnovapt" target="_blank") ${{ PT-welcome-post.block_10 }}$

                        .div-12 &nbsp;
                        .border-block
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/ct/gk/3ouuko6hcq7nd74g/soc-4.png")
                                        
                                    td.pb0.w-a
                                        a.text.underline(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank") ${{ PT-welcome-post.block_11 }}$

                        p.text.pt40  ${{ PT-welcome-post.block_12 }}$
                        p.text ${{ PT-welcome-post.block_13 }}$
                        




