
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt28
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Exnova-Trading-Challenge-Winners&retrack=Exnova-Trading-Challenge-Winners&type=forex&asset=1" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Exnova-Trading-Challenge-Winners&retrack=Exnova-Trading-Challenge-Winners&type=forex&asset=1" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.title.pb32 ${{ Exnova-Trading-Challenge-Winners.block_01 }}$
                        a(href="#" target="_blank")
                            img.under-logo.center(src="https://fsms.quadcode.com/storage/public/cv/j6/snbjqakhdj8lo6d0/container-exnova.png")
                        p.text.pt32 ${{ Exnova-Trading-Challenge-Winners.block_02 }}$ 

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44
                        p.middle-title.pb32 ${{ Exnova-Trading-Challenge-Winners.block_03 }}$
                        .image-block-1 
                            p.place-block ${{ Exnova-Trading-Challenge-Winners.block_04 }}$ 
                            .max-with
                                
                                p.orange-number $300
                                p.strong-text ${{ Exnova-Trading-Challenge-Winners.block_05 }}$
                        .h-12 &nbsp;
                        .image-block-2
                            p.place-block ${{ Exnova-Trading-Challenge-Winners.block_06 }}$ 
                            .max-with
                                
                                p.orange-number 200%
                                p.strong-text ${{ Exnova-Trading-Challenge-Winners.block_07 }}$
                                                      
                tr
                    td.text-pad-small.pb44.pt0 
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Exnova-Trading-Challenge-Winners&retrack=Exnova-Trading-Challenge-Winners&type=forex&asset=1" target="_blank") ${{ Exnova-Trading-Challenge-Winners.block_08 }}$                  

.h-12 &nbsp;

table.row.white-bg.brad-full(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.subtitle.pb32.center ${{ Exnova-Trading-Challenge-Winners.block_09 }}$
                        p.text.pb40.center ${{ Exnova-Trading-Challenge-Winners.block_10 }}$
 
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrack=mail_Exnova-Trading-Challenge-Winners&retrack=Exnova-Trading-Challenge-Winners&type=forex&asset=1" target="_blank") ${{ Exnova-Trading-Challenge-Winners.block_11 }}$ 
       