
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.data-blue(style="font-weight: 700;") ${{ Teaser-email-1.block_02 }}$
                        p.title.pb32.pt15 ${{ Teaser-email-1.block_01 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/8r/ehudi3umufautsf0/email-2-top.png")

                        p.text.pt32 ${{ Teaser-email-1.block_13 }}$&nbsp;
                            a(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank") ${{ Teaser-email-1.block_14 }}$
                            |${{ Teaser-email-1.block_15 }}$

                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank") ${{ Teaser-email-1.block_16 }}$


.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb16
                        p.small-title.pb32 ${{ Teaser-email-1.block_17 }}$
                        .grey-box
                            p.text.pb16 ${{ Teaser-email-1.block_18 }}$
                            p.big-date.pb8 ${{ Teaser-email-1.block_19 }}$
                            p.text  ${{ Teaser-email-1.block_20 }}$
                        
                      
                tr
                    td.text-pad-small.pb40.pt0

                        .left-block
                            .padding-blocks
                                p.text.pb16 ${{ Teaser-email-1.block_21 }}$
                                p.big-date.pb8 ${{ Teaser-email-1.block_22 }}$

                        .right-block
                            .padding-blocks
                                p.text.pb16 ${{ Teaser-email-1.block_23 }}$
                                p.big-date.pb8 ${{ Teaser-email-1.block_24 }}$
                tr
                    td.text-pad-small.pb44.pt0          
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank") ${{ Teaser-email-1.block_25 }}$

.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.small-title.pb32 ${{ Teaser-email-1.block_26 }}$
                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f20/Frame 69.png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ Teaser-email-1.block_27 }}$</b>
                                        p.text ${{ Teaser-email-1.block_28 }}$
                        .h-12 &nbsp;   
                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f1g/Frame 69 (1).png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ Teaser-email-1.block_29 }}$</b>
                                        p.text ${{ Teaser-email-1.block_30 }}$
                        .h-12 &nbsp;        
                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f1g/Frame 69 (1).png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ Teaser-email-1.block_31 }}$</b>
                                        p.text ${{ Teaser-email-1.block_32 }}$
                         
.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb32
                        p.small-title ${{ Teaser-email-1.block_33 }}$
    tr
        td.wrapper.last.pt0.pb40
            table.twelve.columns
                tr
                    td.pb0.text-pad-small.plr50.background-arrow
                        .social-links.pt0.pb0
                            .countries-block-new.fisrt-block
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f10/stepspics.png")
                                    p.text.pt12.center ${{ Teaser-email-1.block_34 }}$ ${{ Teaser-email-1.block_35 }}$ ${{ Teaser-email-1.block_36 }}$

                            .countries-block-new.mar-mob
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehudi3umufautse0/stepspics (1).png")
                                    p.text.pt12.center ${{ Teaser-email-1.block_37 }}$
                        
                            .countries-block-new
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f00/stepspics (2).png")
                                    p.text.pt12.center ${{ Teaser-email-1.block_38 }}$ 
                            
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44                                
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-2" target="_blank") ${{ Teaser-email-1.block_39 }}$
                       

