table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt15
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb30
                                    a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail&retrack=8x-binary" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e783a4/logo.png")
                                td.six.sub-columns.last.pb30
                                    //.header-soc
                                    //    a(href="" target="_blank")
                                    //        img.ig(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e5c0f1/ig.png")
                                    //    a(href="" target="_blank")
                                    //        img.tw(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e7d517/tw.png")
                                    //    a(href="" target="_blank")
                                    //        img.yt(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e9749a/yt.png")
                                    //    a(href="" target="_blank")
                                    //        img.fb(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1de9f9a/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt20
                        table.ten.columns
                            tr
                                td.text-pad-small.pb0
                                    p.title.pb20 ${{ 8x-binary.block_00 }}$
                                    p.white-text ${{ 8x-binary.block_01 }}$
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt20
                        table.ten.columns
                            tr
                                td.text-pad-small.vam.pb0
                                    .left-side
                                        .button-wrapper.button-wrapper_left
                                            table.medium-button.radius
                                                tr
                                                    td.butt-td
                                                        a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&href_position=top&aff=7&afftrack=mail&retrack=8x-binary" target="_blank") ${{ 8x-binary.block_02 }}$

            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb30

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.black-title ${{ 8x-binary.block_03 }}$
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt25
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a.nopoint(href="#")
                            img.gif(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e02f3b/8x_1.gif")

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.blue-title.pb10 ${{ 8x-binary.block_04 }}$
                        .pl15
                            p.text.list ${{ 8x-binary.block_05 }}$
                            p.text.list ${{ 8x-binary.block_06 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt25
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a.nopoint(href="#")
                            img.gif(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e1fae3/8x_2.gif")

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.blue-title.pb10 ${{ 8x-binary.block_07 }}$
                        .pl15
                            p.text.list ${{ 8x-binary.block_08 }}$
                            p.text.list ${{ 8x-binary.block_09 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt25
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a.nopoint(href="#")
                            img.gif(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e22ec1/8x_3.gif")

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.blue-title.pb10 ${{ 8x-binary.block_10 }}$
                        .pl15
                            p.text.list ${{ 8x-binary.block_11 }}$&nbsp;
                                span.bid-green ${{ 8x-binary.block_12 }}$
                                img.bid-up(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e804cc/up.png")
                                | ${{ 8x-binary.block_13 }}$
                            p.text.list ${{ 8x-binary.block_14 }}$&nbsp;
                                span.bid-red ${{ 8x-binary.block_15 }}$
                                img.bid-down(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1de9f94/down.png")
                                | ${{ 8x-binary.block_16 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.big-text.pb10 ${{ 8x-binary.block_17 }}$
                        p.text ${{ 8x-binary.block_18 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb30
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&href_position=mid&aff=7&afftrack=mail&retrack=8x-binary" target="_blank") ${{ 8x-binary.block_19 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        img.stripe(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e772db/stripes.png")
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.small-title.pb20 ${{ 8x-binary.block_20 }}$
                        .items
                            .item.item_1
                                p.item-text ${{ 8x-binary.block_21 }}$
                                    br
                                    | ${{ 8x-binary.block_22 }}$
                            .item.item_2
                                p.item-text ${{ 8x-binary.block_23 }}$
                                    br
                                    | ${{ 8x-binary.block_24 }}$
                        .items
                            .item.item_3
                                p.item-text ${{ 8x-binary.block_25 }}$
                                    br
                                    | ${{ 8x-binary.block_26 }}$
                            .item.item_4
                                p.item-text ${{ 8x-binary.block_27 }}$
                                    br
                                    | ${{ 8x-binary.block_28 }}$

                        p.text.pt20 ${{ 8x-binary.block_29 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&href_position=bot&aff=7&afftrack=mail&retrack=8x-binary" target="_blank") ${{ 8x-binary.block_30 }}$