
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_pwa-install&retrack=pwa-install&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_pwa-install&retrack=pwa-install&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title.pb16 ${{ pwa-install.block_01 }}$ 
                        p.subtitle.pb16 ${{ pwa-install.block_02 }}$
                        a(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank")
                            img.img-logo.center(src="https://fsms.quadcode.com/storage/public/cv/45/a4jjqakjdvu1n2bg/exnov-head.png")
                        p.text.pb40.pt32 ${{ pwa-install.block_03 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank") ${{ pwa-install.block_04 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt40 
                        p.subtitle.pb24 ${{ pwa-install.block_05 }}$
                        p.text.pb24 ${{ pwa-install.block_06 }}$
                        .orange-block 
                            p.promo ${{ pwa-install.block_07 }}$
                        .h-12 &nbsp;
                        .h-12 &nbsp;
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank") ${{ pwa-install.block_08 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt40 
                        p.subtitle.pb24 ${{ pwa-install.block_09 }}$
                        a(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank")
                            img.img-logo.center(src="https://fsms.quadcode.com/storage/public/cv/45/a4jjqakjdvu1n2c0/exnova-middle.png")
                        p.text.pt24 ${{ pwa-install.block_10 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44 
                        p.title-head.pb32 ${{ pwa-install.block_11 }}$
                        p.text.pb32 ${{ pwa-install.block_12 }}$

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ pwa-install.block_08 }}$
                                    p.text ${{ pwa-install.block_14 }}$ {{embedded.brand_name}} ${{ pwa-install.block_16 }}$

                        .h-12 &nbsp;

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ pwa-install.block_10 }}$
                                    p.text ${{ pwa-install.block_18 }}$

                        .h-12 &nbsp;

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ pwa-install.block_12 }}$
                                    p.text ${{ pwa-install.block_20 }}$

                        p.text.pt32.pb40 ${{ pwa-install.block_21 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank") ${{ pwa-install.block_22 }}$


                tr
                    td.text-pad-small.pb44.pt0
                        .grey-block
                            p.subtitle.pb30.center ${{ pwa-install.block_23 }}$
                            table.w280(align="center" style="border-collapse: initial;")
                                tr
                                    td.butt-2.pb0
                                        a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=pwa-install" target="_blank" style="color: #413E43;") ${{ pwa-install.block_24 }}$
                        p.gray-text.center.pt32 ${{ pwa-install.block_25 }}$

.h-12 &nbsp;

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_pwa-install5" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_pwa-install&retrack=pwa-install5" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

