table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_notify_poi_declined&retrack=notify_poi_declined" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ kyc-poi-declined.block_01 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb15 ${{ kyc-poi-declined.block_02 }}$
                        p.text ${{ kyc-poi-declined.block_03 }}$

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb0
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}/verification/docs?aff=7&afftrack=mail_notify_poi_declined&retrack=notify_poi_declined" target="_blank") ${{ kyc-poi-declined.block_04 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb15 ${{ kyc-poi-declined.block_05 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ kyc-poi-declined.block_06 }}$
                            | &ensp;${{ kyc-poi-declined.block_07 }}$
                        p.big-text ${{ kyc-poi-declined.block_08 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text ${{ verification-add.block_00 }}$
table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embeded_domain}}/profile/security?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ verification-add.block_01 }}$
