table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb28.text-pad-small 
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cu/72/0ieuko6hcq7ndba0/exnova-logo-blue.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")  ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.bg-white.br-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ instinct_vs_analysis.block_02 }}$
                        a(href="#" universal="true" target="_blank")  
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/cu/8f/a2euko6hcq7ndckg/container-12.png")
                        p.text.pt32.pb0 ${{ instinct_vs_analysis.block_03 }}$
                        //- table.w280(align="center")
                        //-     tr
                        //-         td.butt.pb0
                        //-             a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-welcome.block_05 }}$ 

.h-12 &nbsp;
                  
table.row.bg-white.br-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-small.pb16 ${{ instinct_vs_analysis.block_04 }}$
                        p.text.pb15 ${{ instinct_vs_analysis.block_05 }}$
                        p.text.pb32 ${{ instinct_vs_analysis.block_06 }}$
                        a(href="#" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/cu/8f/9kd4nhql0kbkqnrg/banner.png")
                        p.text.pt32.pb40 ${{ instinct_vs_analysis.block_07 }}$    
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ instinct_vs_analysis.block_08 }}$

.h-12 &nbsp;
                      
table.row.bg-white.br-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-small.pb16 ${{ instinct_vs_analysis.block_09 }}$
                        p.text.pb32 ${{ instinct_vs_analysis.block_10 }}$
                        .blue-block  
                            p.little-title ${{ instinct_vs_analysis-table.block_00 }}$
                            p.blue-text ${{ instinct_vs_analysis-table.block_01 }}$
                            table.w100
                                tr
                                    td.left-table.pb0
                                        .green-block
                                        p.green-number 81%
                                        p.small-txt ${{ instinct_vs_analysis-table.block_02 }}$
                                    td.center-table.pb0
                                    td.right-table.pb0
                                        .red-block
                                        p.red-number.text-right 19%
                                        p.small-txt.text-right ${{ instinct_vs_analysis-table.block_03 }}$

                        p.text.pt32 ${{ instinct_vs_analysis.block_11 }}$  

.h-12 &nbsp;
                      
table.row.bg-white.br-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-small.pb16 ${{ instinct_vs_analysis.block_12 }}$  
                        p.text.pb32 ${{ instinct_vs_analysis.block_13 }}$   
                        .bottom-block  
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/8f/9keuko6hcq7ndck0/Frame-1.png")
                                    td.pb0.w-a
                                        p.blue-title.pb5 ${{ instinct_vs_analysis.block_14 }}$ 
                                        p.text ${{ instinct_vs_analysis.block_15 }}$   
                        .h-12 &nbsp;  
                        .bottom-block
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        a(href="#" target="_blank")
                                            img.small-img(src="https://fsms.quadcode.com/storage/public/cu/8f/9kd4nhql0kbkqnr0/Frame-2.png")
                                    td.pb0.w-a
                                        p.blue-title.pb5 ${{ instinct_vs_analysis.block_16 }}$ 
                                        p.text ${{ instinct_vs_analysis.block_17 }}$ 

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        p.fotter-text ${{ instinct_vs_analysis.block_19 }}$ 

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_TrumpCoin-email2&retrack=TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.mar0.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a.mar0(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a.mar0(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a.mar0(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a.mar0(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.mar0.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

