table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")
                tr
                    td.text-pad-small.pb40
                        p.title ${{ sus-geo.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb10
                            strong ${{ sus-geo.block_01 }}$
                        p.text.pb20 ${{ sus-geo.block_02 }}$

                        p.text.list
                            a(href="{{embeded_domain}}/profile/security" target="_blank") ${{ sus-geo.block_03 }}$
                        p.text.list
                            a(href="{{embeded_domain}}/profile/security" target="_blank") ${{ sus-geo.block_04 }}$


table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15

table.row.bot-block
    tr
        td.wrapper.last.offset-by-two.pt30
            table.eight.columns
                tr
                    td.text-pad-small.pb30
                        p.block-text.center ${{ sus-geo.block_05 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ sus-geo.block_06 }}$
                            | &ensp;${{ sus-geo.block_07 }}$

