table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_rollover-300126&retrack=mail_rollover-300126&type=forex&asset=1" universal="true" target="_blank")
                            img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

table.row.brad-full.bgr-image
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d5/rl/v9nvhhgea139ujb0/Visual.png")

    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb50.pt10
                        

                        div.gmail-blend-screen
                            div.gmail-blend-diff
                                p.white-title.pb16 ${{ rollover-300126.block_01 }}$
                                p.white-text  ${{ rollover-300126.block_02 }}$

                        .h-24 &nbsp;

                        table.w280(align="left")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_rollover-300126&retrack=mail_rollover-300126" universal="true" target="_blank") ${{ rollover-300126.block_03 }}$

.h-12 &nbsp;
//- table.row.brad-full.white-bg(style="border: 4px solid #FF7700;")
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44

                        p.middle-title.pb32 ${{ rollover-300126.block_04 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.pb32(src="https://fsms.quadcode.com/storage/public/d5/rl/v9nvhhgea139uj9g/image-12.png")
                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                        p.text ${{ rollover-300126.block_05 }}$

                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                        p.text ${{ rollover-300126.block_06 }}$

                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                        p.text ${{ rollover-300126.block_07 }}$
                        .h-40 &nbsp;
                        table.w280.centet(style="border-collapse: initial;" align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=NY2026&aff=7&afftrack=mail_rollover-300126&retrack=rollover-300126" universal="true" target="_blank") ${{ rollover-300126.block_08 }}$

                tr
                    td.text-pad-small.pb44.pt0 
                        p.note-text.center.plr30 ${{ rollover-300126.block_09 }}$

                        

.h-12 &nbsp;
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ rollover-300126.block_10 }}$
                        .orange-back-1
                            .left-block 
                                p.small-title.pb40 ${{ rollover-300126.block_11 }}$ 
                                p.text ${{ rollover-300126.block_12 }}$ 
                          
                        .h-8 &nbsp;
                        .orange-back-2
                            .left-block 
                                p.small-title.pb40 ${{ rollover-300126.block_13 }}$ 
                                p.text ${{ rollover-300126.block_14 }}$ 
                   
                        .h-8 &nbsp;
                        .orange-back-3
                            .left-block 
                                p.small-title.pb40 ${{ rollover-300126.block_15 }}$ 
                                p.text ${{ rollover-300126.block_16 }}$ 
                         

                        //- .h-40 &nbsp;
                        //- table.w280.centet(style="border-collapse: initial;" align="center")
                        //-     tr
                        //-         td.butt.pb0
                        //-             a.butt-link(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=NY2026&aff=7&afftrack=mail_IQ-RFM-3-1-1&retrack=rollover-300126" universal="true" target="_blank") ${{ rollover-300126.block_17 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #FF7700;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ rollover-300126.block_17 }}$
                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                        p.small-title.pb4 ${{ rollover-300126.block_18 }}$
                                        p.text ${{ rollover-300126.block_19 }}$

                        .h-12 &nbsp;

                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                            p.small-title.pb4 ${{ rollover-300126.block_20 }}$
                                            p.text.pb36 ${{ rollover-300126.block_21 }}$
                            p.fat-text.pb12 ${{ rollover-300126.block_22 }}$
                            .up-promo-block
                                p.promo-text ${{ rollover-300126.block_23 }}$

                            p.fat-text.pb12.pt30 ${{ rollover-300126.block_24 }}$

                            .promo-block
                                p.promo-text ${{ rollover-300126.block_25 }}$

                            p.small-gray-text.pt6 ${{ rollover-300126.block_27 }}$
                        
                        .h-40 &nbsp;
                        
                        table.w280.centet(style="border-collapse: initial;" align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=ROLLOVER100&aff=7&afftrack=mail_rollover-300126&retrack=rollover-300126" universal="true" target="_blank") ${{ rollover-300126.block_26 }}$

table.row
    tr
        td.wrapper.last.pt20.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        p.promo-text-foot.center.pb10 ${{ rollover-300126.block_28 }}$
                        p.promo-text-foot.center.pb50 ${{ rollover-300126.block_29 }}$&nbsp;
                            a.link(href="https://iqoption.com/terms-and-conditions/promocodes-policy?&afftrack=mail_rollover-300126&retrack=rollover-300126" target="_blank") ${{ rollover-300126.block_30 }}$
                            |${{ rollover-300126.block_31 }}$
                        .stor.center
                            a(href="https://app.appsflyer.com/id871125783?pid=7&c=mail_rollover-300126" target="_blank")
                                img.a-app(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.iqoption?pid=7&c=mail_rollover-300126" target="_blank")
                                img.a-google(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjr0/play.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td(align="center").pb0.center
                        .socials.center
                            a.first-link(href="${{ iq-soc.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vdg/fb.png")
                            a(href="${{ iq-soc.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7ve0/ig.png")
                            a(href="${{ iq-soc.block_02 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/gb285cee2vclvjq0/yt.png")
                            a(href="${{ iq-soc.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vf0/tw.png")
                            a(href="${{ iq-soc.block_04 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.quadcode.com/storage/public/d5/ka/q8fvhhge5gv5vatg/tiktok-logo.png")
                            a(href="${{ iq-soc.block_05 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.quadcode.com/storage/public/d5/ka/dr7vhhge5gv5vat0/discord-logo.png")
                            a.last-link(href="${{ iq-soc.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/d5/ka/rf7vhhge5gv5vau0/tg.png")


