table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ cb-docs-full.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb20 ${{ cb-docs-full.block_01 }}$
                        .list-block
                            .left-list
                                p.text.list ${{ cb-docs-full.block_02 }}$
                                p.text.list ${{ cb-docs-full.block_03 }}$
                                p.text.list ${{ cb-docs-full.block_04 }}$
                            .right-list
                                p.text.list ${{ cb-docs-full.block_05 }}$
                                p.text.list ${{ cb-docs-full.block_06 }}$
                                p.text.list ${{ cb-docs-full.block_07 }}$
                        p.text.pt20 ${{ cb-docs-full.block_08 }}$

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{ docs_verify_link }}" target="_blank") ${{ cb-docs-full.block_09 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt5
            table.twelve.columns
                tr
                    td.pb0

table.row
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.purple-title.pb25 ${{ cb-docs-full.block_10 }}$
                        p.text.pb0 ${{ cb-docs-full.block_11 }}$&ensp;
                            strong {{card_last_digits}}
                            | &ensp;${{ cb-docs-full.block_12 }}$

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{ cards_verify_link }}" target="_blank") ${{ cb-docs-full.block_13 }}$
                        .right-side
                            p.small-text.center-small
                                span.red ${{ cb-docs-full.block_14 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.bot-block
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.block-title.center.pb5 ${{ cb-docs-full.block_15 }}$
                        p.block-text.center ${{ cb-docs-full.block_16 }}$&ensp;
                            a(href="mailto:support@capitalbear.com" target="_blank") ${{ cb-docs-full.block_17 }}$
                            | &ensp;${{ cb-docs-full.block_18 }}$
