table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt15
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb30
                                    a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail_system&retrack=8x-neteller" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5c/b9/9c61a73e26b3e3e2h0/8xtrade_black.png")
                                td.six.sub-columns.last.pb25
                                    //.header-soc
                                    //    a(href="" target="_blank")
                                    //        img.ig(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e5c0f1/ig.png")
                                    //    a(href="" target="_blank")
                                    //        img.tw(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e7d517/tw.png")
                                    //    a(href="" target="_blank")
                                    //        img.yt(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e9749a/yt.png")
                                    //    a(href="" target="_blank")
                                    //        img.fb(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1de9f9a/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt10
                        table.seven.columns
                            tr
                                td.text-pad-small.pb0
                                    p.subtitle ${{ 8xdep.block_00 }}$
                                    p.title.pb20 ${{ 8xdep.block_01 }}$
                                    p.white-text.pr30 ${{ 8xdep.block_02 }}$
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt40
                        table.ten.columns
                            tr
                                td.text-pad-small.vam.pb0
                                    .left-side
                                        .button-wrapper.button-wrapper_left
                                            table.medium-button.radius
                                                tr
                                                    td.butt-td
                                                        a.butt(href="https://8xtrade.onelink.me/JpEj" target="_blank") ${{ 8xdep.block_03 }}$

            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb30

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.black-title.pb20 ${{ 8xdep.block_04 }}$
                        p.step ${{ 8xdep.block_05 }}$
                        p.text.pb25 ${{ 8xdep.block_06 }}$
                        p.step ${{ 8xdep.block_07 }}$
                        p.text.pb25 ${{ 8xdep.block_08 }}$
                        p.step ${{ 8xdep.block_09 }}$
                        p.text ${{ 8xdep.block_10 }}$



table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="https://8xtrade.onelink.me/JpEj" target="_blank") ${{ 8xdep.block_11 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        img.stripe(src="https://static.cdnpub.info/files/storage/public/5c/75/0a1e772db/stripes.png")
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-title ${{ 8xdep.block_12 }}$