table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.title.pb20 ${{ billing-request-card-only.block_00 }}$
                        p.text.pb10 <b>${{ billing-request-card-only.block_01 }}$</b>
                        p.text.pb15 ${{ billing-request-card-only.block_02 }}$ <b>{{cards_last_digits}}</b> ${{ billing-request-card-only.block_04 }}$ 
                        p.text.pb15
                            img.znak(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef739638j2e3h8d6/exclamation.png")
                            |${{ billing-request-card-only.block_05 }}$
                        .cards  
                            img.card-img.left(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef714423a4b2g1f9/card1.png")
                            img.card-img.right(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef96fff9b2c7c5b8/card2.png")

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb20
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}/verify-bank-cards" target="_blank") ${{ billing-request-card-only.block_06 }}$

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text-bot ${{ billing-request-card-only.block_07 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
                            
