table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pb20.pt25
                        .center        
                            img.article-left.bottom-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a87494270c8d2b0j6/Group_195.png")
                            p.big-text.center ${{ digest-02-11-22.block_23 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a871e23a0i2e4d3e8/Group_193.png")              

                tr
                    td.pb50.pt0
                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-02-11-22.block_47 }}$/tournaments/3494?&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" target="_blank")
                            .left-mob.white-bg.br10.bg-arrow    
                                .padding-tournament
                                    p.min-data ${{ digest-19-04-23.block_21 }}$
                                    p.text-week.pb15 Salary in a Day
                                    .pizzle
                                        p.pizzle-text.pb18 ${{ digest-04-01-23.block_23 }}$
                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_23 }}$
                                    .entry
                                        p.pizzle-text.pb18 ${{ digest-04-01-23.block_25 }}$
                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_25 }}$
                                    .arrow-round  
                                        img(src="https://fsms.iqoption.com/storage/public/cd/bv/9i9cumhhpaekqei0/arrow-orange.png")  
 
                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-02-11-22.block_47 }}$/tournaments/3490?&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" target="_blank")                
                            .right-mob.white-bg.br10.bg-arrow   
                                .padding-tournament
                                    p.min-data ${{ digest-19-04-23.block_28 }}$
                                    p.text-week.pb15 Weekend Treat 
                                    .pizzle
                                        p.pizzle-text.pb18 ${{ digest-04-01-23.block_23 }}$
                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_30 }}$
                                    .entry
                                        p.pizzle-text.pb18 ${{ digest-04-01-23.block_25 }}$
                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_32 }}$
                                    .arrow-round   
                                    
                                            img(src="https://fsms.iqoption.com/storage/public/cd/bv/9i9cumhhpaekqei0/arrow-orange.png")  

table.row.blue-background
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .forty-five &nbsp;
                        p.white-big-text.plr30.pb15.center ${{ digest-19-04-23.block_35 }}$
                        p.white-min-text.plr30.center ${{ digest-19-04-23.block_36 }}$
                        //- p.white-min-text.plr30.center
                        .thirty-five &nbsp;                  

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
              
                tr
                    td.pt0
                        .socials.center
                            a.first-link(href="${{ socials-2.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cd/bt/oood7ocfs51u796g/f_logo.png")
                            a(href="${{ socials-2.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cd/bt/op0d7ocfs51u7980/instagram_logo.png")
                            a(href="${{ socials-2.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cd/bt/op1cumhhpaekqed0/youtube_logo.png")
                            a.last-link(href="${{ socials-2.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cd/bt/op0d7ocfs51u798g/twitter_logo.png")

