table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")


table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.title.pb20 ${{ b2b-fee.block_00 }}$
                        p.text.pb10 ${{ b2b-fee.block_01 }}$&ensp;{{embedded.brand_name}}&ensp;${{ b2b-fee.block_02 }}$&ensp;
                            strong {{days}}
                            | &ensp;${{ b2b-fee.block_03 }}$&ensp;
                            a(href="{{embedded.general_fees}}" target="_blank") ${{ b2b-fee.block_04 }}$
                            | &ensp;${{ b2b-fee.block_05 }}$
                        p.text.pb25 ${{ b2b-fee.block_06 }}$&ensp;
                            strong {{embedded.brand_name}}
                            | &ensp;${{ b2b-fee.block_07 }}$
                        .grey-block
                            p.text.pb10 ${{ b2b-fee.block_08 }}$&ensp;
                                strong {{UserID}}
                            p.text.pb10 ${{ b2b-fee.block_09 }}$&ensp;
                                strong {{Balance}}
                            p.text ${{ b2b-fee.block_10 }}$&ensp;
                                strong {{Fee}}
                        p.black-title.pt30.pb15 ${{ b2b-fee.block_11 }}$

                        p.text.list ${{ b2b-fee.block_12 }}$&ensp;{{embedded.brand_name}}&ensp;${{ b2b-fee.block_13 }}$
                        hr.liner
                        p.text.list ${{ b2b-fee.block_14 }}$
                        hr.liner
                        p.text.list ${{ b2b-fee.block_15 }}$
                        hr.liner
                        p.text.list.pb30 ${{ b2b-fee.block_16 }}$

                        a.blue-link(href="{{embedded.general_fees}}" target="_blank")
                            img.arr(src="https://static.cdnroute.io/files/storage/public/61/1b/b2b4a80223h0j9j2j9/arr.png")
                            | ${{ b2b-fee.block_17 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0

                        p.black-title.pb15 ${{ b2b-fee.block_18 }}$

                        p.text.list ${{ b2b-fee.block_19 }}$
                        hr.liner
                        p.text.list ${{ b2b-fee.block_20 }}$&ensp;{{embedded.brand_name}}&ensp;${{ b2b-fee.block_21 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt30
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ b2b-fee.block_22 }}$&ensp;{{embedded.brand_name}}

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.center
                            strong ${{ b2b-fee.block_23 }}$
table.row.bg-col
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb5
                        p.asterisk ${{ b2b-fee.block_24 }}$