table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ card-only.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb10
                            strong ${{ card-only.block_01 }}$
                        p.text.pb15 ${{ card-only.block_02 }}$&ensp;
                            strong {{cards_last_digits}}
                            | &ensp;${{ card-only.block_03 }}$
                        p.text.pb15
                            img.icon-ex(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef739638j2e3h8d6/exclamation.png")
                            | &ensp;${{ card-only.block_04 }}$
                        .cards
                            img.card-img.left(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef714423a4b2g1f9/card1.png")
                            img.card-img.right(src="https://static.cdnpub.info/files/storage/public/61/0a/b1ef96fff9b2c7c5b8/card2.png")

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb0
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}/verify-bank-cards" target="_blank") ${{ card-only.block_05 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb0 ${{ card-only.block_06 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
                            | &ensp;${{ card-only.block_07 }}$

