table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_notify_poi_declined&retrack=notify_poi_declined" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title.pb20 ${{ selfie-verification.block_0 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb10
                            strong ${{ selfie-verification.block_1 }}$
                        p.text.pb10 ${{ selfie-verification.block_2 }}$
                        p.text.pb10 ${{ selfie-verification.block_3 }}$&ensp;
                            a(href="{{embedded.domain}}/verification/docs" target="_blank") ${{ selfie-verification.block_4 }}$
                            | &ensp;${{ selfie-verification.block_5 }}$
                        p.text.pb10 ${{ selfie-verification.block_6 }}$
                        p.text.pb10 ${{ selfie-verification.block_7 }}$
                        p.text.pb0 ${{ selfie-verification.block_8 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}