
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Teaser-3&retrack=Teaser-3" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Teaser-3&retrack=Teaser-3" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        //- p.text.data-blue.center(style="font-weight: 700;") ${{ exnova-TON.block_01 }}$
                        p.title ${{ Teaser-3.block_01 }}$ 
                        p.title.pb32 ${{ Teaser-3.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/8q/cqudi3umufautsc0/Teaser-3-top.png")

                        p.text.pt32 ${{ Teaser-3.block_03 }}$

                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_Teaser-3&retrack=Teaser-3" target="_blank") ${{ Teaser-3.block_04 }}$
                        //- .h-32 &nbsp;


