
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt28
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova&retrack=Leader-exnova&type=forex&asset=1" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova&retrack=Leader-exnova&type=forex&asset=1" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ Leader-iq.block_02 }}$
                        a(href="#" target="_blank")
                            img.under-img.center(src="https://fsms.quadcode.com/storage/public/d0/up/tfbjqakt70bn9lkg/leader-exnova.png")

                        p.text.pt32.pb10 ${{ Leader-iq.block_03 }}$ 
                        p.text ${{ Leader-iq.block_04 }}$
                tr
                    td.text-pad-small.pb40.pt0   
                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 1

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-iq.block_05 }}$ 
                                        p.text ${{ Leader-iq.block_06 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 2

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-iq.block_07 }}$ 
                                        p.text ${{ Leader-iq.block_08 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 3

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-iq.block_09 }}$ 
                                        p.text ${{ Leader-iq.block_10 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 4

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-iq.block_11 }}$ 
                                        p.text ${{ Leader-iq.block_12 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 5

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-iq.block_13 }}$ 
                                        p.text ${{ Leader-iq.block_14 }}$

                tr
                    td.text-pad-small.pb32.bb

                        table.w280(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova&retrack=Leader-exnova&type=forex&asset=1" universal="true" target="_blank") ${{ Leader-iq.block_16 }}$

                
                tr
                    td.text-pad-small.pb44.pt32 
                        p.gray-text.plr40.center ${{ Leader-iq.block_15 }}$
table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


