
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb25.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-day-6&retrack=exnova-day-6" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-day-7&retrack=exnova-day-7" target="_blank") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ Exnova-day-6.block_01 }}$ {{embedded.user_first_name}}${{ Exnova-day-6.block_03 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/ct/bc/s5vn71ajn3fd7gfg/Email 6.png")
                        p.text.pt32.pb10 ${{ Exnova-day-6.block_04 }}$
                        p.text.pb10 ${{ Exnova-day-6.block_05 }}$
                        p.text.pb40 ${{ Exnova-day-6.block_06 }}$
   

                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-day-6&retrack=exnova-day-6" target="_blank") ${{ Exnova-day-6.block_07 }}$

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb32 ${{ Exnova-day-6.block_08 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_09 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_10 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_11 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_12 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_13 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_14 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_15 }}$
                        p.text.pb15 ${{ Exnova-day-6.block_16 }}$
                        p.text.pb40 ${{ Exnova-day-6.block_17 }}$
                
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-day-6&retrack=exnova-day-6" target="_blank") ${{ Exnova-day-6.block_18 }}$
