
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank") ${{ social-exnova.block_03 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25.pt323
                        .data-blue
                            p.data-text ${{ exnova-2002.block_02 }}$
                        p.title.pt10.pb15 ${{ exnova-2002.block_01 }}$
                            span.span-blue
                        p.text.pb10 ${{ exnova-2002.block_03 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb10 ${{ exnova-2002.block_05 }}$ 
                        p.text ${{ exnova-2002.block_06 }}$
                        table.w245(align="center")
                            tr 
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="${{ exnova-chats.block_00 }}$" target="_blank") ${{ exnova-2002.block_07 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            |${{ exnova-2002.block_08 }}$
                        table.row
                            tr 
                                td.asset-block
                                    .left-block.bg-asset
                                        p.text.asset-color Lyft, Inc.
                                        p.text.asset-color LYFT

                                    .right-block 
                                        p.blue-percent $17.91

                        p.text.pt20.pb0 ${{ exnova-2002.block_09 }}$ 
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=167" target="_blank") ${{ exnova-1408.block_10 }}$ 
                            //- |${{ exnova-1408.block_11 }}$
                        //- p.text.pb10 ${{ exnova-0407.block_11 }}$
                        //- p.text ${{ exnova-1411.block_15 }}$

                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=1313" target="_blank") ${{ exnova-2002.block_10 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            | ${{ exnova-1107.block_14 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🇩🇪
                                            td.pb0
                                                p.text.asset-color
                                                    b ${{ exnova-2002.block_13 }}$
                                                p.text.asset-color ${{ exnova-2002.block_12 }}$
                        //- table.row 
                        //-     tr
                        //-         td.asset-block
                        //-             .left-block.bg-market
                        //-                 p.text.asset-color
                        //-                     b ${{ exnova-2208.block_14 }}$
                        //-                 p.text.asset-color ${{ exnova-2208.block_13 }}$

                        p.text.pt20.pb0 ${{ exnova-2002.block_14 }}$ 
                        //- p.text.pt20.pb10 ${{ exnova-2301.block_14 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=1" target="_blank") ${{ exnova-3001.block_15 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_18 }}$ 
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=2" target="_blank") ${{ exnova-3001.block_16 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_20 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=4" target="_blank") ${{ exnova-3001.block_17 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_22 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=8" target="_blank") ${{ exnova-2301.block_18 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_22 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=72" target="_blank") ${{ exnova-2301.block_19 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_24 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=99" target="_blank") ${{ exnova-2301.block_20 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_27 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=100" target="_blank") ${{ exnova-2301.block_21 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_29 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=105" target="_blank") ${{ exnova-3001.block_18 }}$
                            //- |, 
                            //- |${{ exnova-1909.block_30 }}$ ${{ exnova-1909.block_31 }}$&ensp;
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=108" target="_blank") ${{ exnova-3001.block_19 }}$
                            //- |.
                            //- |${{ exnova-2301.block_24 }}$ 
                        //- p.text ${{ exnova-3001.block_20 }}$ 

                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=1" target="_blank") ${{ exnova-2002.block_15 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            |${{ exnova-1107.block_37 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 📈
                                            td.pb0
                                                p.text.asset-color
                                                    b ${{ exnova-2002.block_17 }}$
                                                p.text.asset-color ${{ exnova-2002.block_18 }}$

                        p.text.pt20.pb0 ${{ exnova-2002.block_19 }}$ 
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=730" target="_blank") ${{ exnova-1010.block_31 }}$ 
                            //- |${{ exnova-1408.block_35 }}$
                        //- p.text.pt20.pb0 ${{ exnova-0310.block_30 }}$
                        //- p.text.pb10 ${{ exnova-1107.block_41 }}$
                        //- p.text ${{ exnova-2002.block_20 }}$

                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=415" target="_blank") ${{ exnova-2002.block_20 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            |${{ exnova-1107.block_44 }}$
                            //- |${{ exnova-1107.block_44 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🪙
                                            td.pb0
                                                p.text.asset-color
                                                    b ${{ exnova-2002.block_22 }}$
                                                p.text.asset-color ${{ exnova-2002.block_23 }}$ 

                        p.text.pb0.pt20 ${{ exnova-2002.block_24 }}$ 
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=971" target="_blank") ${{ exnova-1408.block_41 }}$ 
                            //- |${{ exnova-1408.block_42 }}$ 
                            //- a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=969" target="_blank") ${{ exnova-1408.block_43 }}$ 
                            //- |${{ exnova-1408.block_44 }}$ 
                        //- p.text.pb10 ${{ exnova-2609.block_37 }}$
                        //p.text ${{ exnova-2002.block_25 }}$     

                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=crypto&assetId=816" target="_blank") ${{ exnova-2002.block_25 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;