table.row
    tr
        td.pb0
            table.row.twelve.columns
                tr
                    td.offset-by-one.wrapper.last.pb0.pt32
                        table.ten.columns
                            tr
                                td.wrapper.last.pb0 
                                    .center
                                        p.orange-text.center Official Online Trading Partner
                                    a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo.center(src="https://fsms.quadcode.com/storage/public/d3/b4/9einkfh5fd10g160/logo-IQ-MC.png")

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt20.pb55
                        p.data-text 
                            img.data-img(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9ug/data-img.png")
                            |${{ new-digest-25.block_01 }}$  
                        p.title.pt12 ${{ new-digest-25.block_02 }}$

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb32
                        p.middle-title.pb12 ${{ new-digest-25-2609.block_01 }}$ 
                        p.text.pb32 ${{ new-digest-25-2609.block_02 }}$ 

                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2715&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .left-block-pay 
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqjjqakt70bn9mb0/btc.png")
                                    |Bitcoin
                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2717&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .right-block-pay
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqjjqakt70bn9m8g/usdt.png")
                                    |Tether

                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2718&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .left-block-pay 
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqhmsj7oc3be3e70/eth.png")
                                    |Etherium
                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2719&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .right-block-pay
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqjjqakt70bn9ma0/ltc.png")
                                    |Litecoin
                        
                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2720&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .left-block-pay 
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqjjqakt70bn9m9g/crd.png")
                                    |Cardano
                        a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2721&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .right-block-pay
                                p.pay-text
                                    img.pay-img(src="https://fsms.quadcode.com/storage/public/d1/0o/oqjjqakt70bn9mbg/rpl.png")
                                    |Ripple

                tr
                    td.text-pad-small.pt0.pb44
                        .center
                            a(href="https://api.iqoption.com/v1/multi-links/deposit?id=2718&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                                .div-butt2
                                    p.butt-p2 ${{ new-digest-25-2609.block_03 }}$ 
                             
.h-12 &nbsp; 

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44
                        p.middle-title.pb32 ${{ new-digest-25.block_09 }}$
                        .gray-table 
                            .left-side.pb20.center-mobile 
                                .img-flag
                                    p.asset-name Barrick Gold Corp
                                    p.short-asset-name GOLD
                            
                            .right-side.pb20
                                p.right-text.center-mobile ${{ new-digest-25.block_10 }}$
                                p.small-green-text.center-mobile 872%
                            .left-side-bottom
                                p.black-text.center-mobile.text-left $168

                            a(href="#" universal="true" target="_blank")
                                img.arrow.center(src="https://fsms.quadcode.com/storage/public/ct/vr/ip54nhqgkuqemhbg/gray-arrow.png")
                            a(href="#" universal="true" target="_blank")
                                img.arrow-bottom.center(src="https://fsms.quadcode.com/storage/public/cu/33/c2muko6hcq7ndadg/arrow-bottom-2.png")
                            .right-side-bottom
                                p.green-text.center-mobile.text-right $1,633

                            .h-30 &nbsp;
                            
                            .center
                                a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$&type=cfd&asset=1394" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p2 ${{ new-digest-25.block_11 }}$

                        .h-12 &nbsp;
           
                        .gray-table 
                            .left-side.pb20.center-mobile 
                                .img-flag-2
                                    p.asset-name ZCash
                                    p.short-asset-name ZEC
                            .right-side.pb20
                                p.right-text.center-mobile ${{ new-digest-25.block_12 }}$
                                p.small-green-text.center-mobile 578%  
                            .left-side-bottom
                                p.black-text.center-mobile.text-left $99

                            a(href="#" universal="true" target="_blank")
                                img.arrow.center(src="https://fsms.quadcode.com/storage/public/ct/vr/ip54nhqgkuqemhbg/gray-arrow.png")
                            a(href="#" universal="true" target="_blank")
                                img.arrow-bottom.center(src="https://fsms.quadcode.com/storage/public/cu/33/c2muko6hcq7ndadg/arrow-bottom-2.png")
                            .right-side-bottom
                                p.green-text.center-mobile.text-right $671
                            .h-30 &nbsp;
                            .center
                                a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$&type=crypto&asset=826" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p2 ${{ new-digest-25.block_13 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(style="text-align:center;")
                        p.middle-title.pb32 ${{ new-digest-25.block_14 }}$
                        
                            .left-block 
                                .padding-iside
                                    a(href="${{ new-digest-25.block_31 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_33 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_33 }}$&retrack=digest-new-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                                        img.blog-img(src="${{ new-digest-25.block_34 }}$")
                                    a(href="${{ new-digest-25.block_31 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_33 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_33 }}$&retrack=digest-new-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                                        .img-a
                                            p.text.pt24 ${{ new-digest-25.block_15 }}$
                            
                        
                            .right-block
                                .padding-iside
                                    a(href="${{ new-digest-25.block_32 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_33 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_33 }}$&retrack=digest-new-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                                        img.blog-img(src="${{ new-digest-25.block_35 }}$")
                                    a(href="${{ new-digest-25.block_32 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_33 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_33 }}$&retrack=digest-new-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                                        .img-a
                                            p.text.pt24 ${{ new-digest-25.block_16 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(style="text-align:center;")
                        p.middle-title.pb32 ${{ new-digest-25.block_17 }}$

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column
                                        p.just-number 1
                                    td.pb0.second-column
                                        p.traider 
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/61/f1/14d39ba251h8d0d3e6/Philippines.png") 
                                            |Lily D.
                                    td.pb0.thirth-column(align="right")
                                        p.small-green-number $227,154

                        .h-12 &nbsp;

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column
                                        p.just-number 2
                                    td.pb0.second-column
                                        p.traider 
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/5f/e1/c66f8eb2b4d8c3c8d2/peru.png") 
                                            |David C.
                                    td.pb0.thirth-column(align="right")
                                        p.small-green-number $129,955

                        .h-12 &nbsp;

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column
                                        p.just-number 3
                                    td.pb0.second-column
                                        p.traider 
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/cu/7p/ndt4nhqjshkklg6g/Malaysia.png") 
                                            |Rachel A. J.
                                    td.pb0.thirth-column(align="right")
                                        p.small-green-number $125,430
.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(style="text-align:center;")
                        p.middle-title.pb32 ${{ new-digest-25.block_18 }}$
                        
                        a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=4853&aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .left-block.orange-line 
                                .padding-iside
                                    p.text
                                        img.data-img.img-update(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9ug/data-img.png")
                                        img.orange-small.img-update.fl-r(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9v0/orange-img.png")
                                    p.data-text.bb.pb16.pt8 ${{ new-digest-25.block_19 }}$
                                    p.tournament-name.pb20.pt16 United Autosports Speed Challenge
                                    .little-left 
                                        p.pizzle ${{ new-digest-25.block_21 }}$
                                        p.greem-tournament ${{ new-digest-25.block_22 }}$
                                    .little-right
                                        p.pizzle ${{ new-digest-25.block_23 }}$
                                        p.greem-tournament ${{ new-digest-25.block_24 }}$
   
                        a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=4761&aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_33 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_33 }}$" universal="true" target="_blank")
                            .right-block
                                .padding-iside
                                    p.text
                                        img.data-img.img-update(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9ug/data-img.png")
                                        img.orange-small.img-update.fl-r(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9v0/orange-img.png")
                                    p.data-text.bb.pb16.pt8 ${{ new-digest-25.block_25 }}$
                                    p.tournament-name.pb20.pt16 IQ Launch <br> &nbsp;
                                    .little-left 
                                        p.pizzle ${{ new-digest-25.block_27 }}$
                                        p.greem-tournament ${{ new-digest-25.block_28 }}$
                                    .little-right
                                        p.pizzle ${{ new-digest-25.block_29 }}$
                                        p.greem-tournament ${{ new-digest-25.block_30 }}$

table.row
    tr
        td.wrapper.last.pt50.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-smal
           
                        .stor.center
                            a(href="https://app.appsflyer.com/id871125783?pid=7&c=mail_new-IQ-Trending-${{ new-digest-25.block_33 }}$" target="_blank")
                                img.a-app(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.iqoption?pid=7&c=mail_new-IQ-Trending-${{ new-digest-25.block_33 }}$" target="_blank")
                                img.a-google(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjr0/play.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td
                        .socials.center
                            a.first-link(href="${{ socials-3.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vdg/fb.png")
                            a(href="${{ socials-3.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7ve0/ig.png")
                            a(href="${{ socials-3.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/gb285cee2vclvjq0/yt.png")
                            a.last-link(href="${{ socials-3.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vf0/tw.png")


