
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova&type=forex&asset=1" universal="true" target="_blank") ${{ social-exnova.block_07 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.data ${{ exnova-profit.block_01 }}$
                        p.title.pb32.pt16 ${{ exnova-profit.block_02 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/cv/pt/pbpmsj7rr6s5202g/banner-1.png")

                tr
                    td.text-pad-small.pb0
                        
                        .left-block 
                            .padd 
                                p.asset ${{ exnova-profit.block_03 }}$
                                p.name-asset ${{ exnova-profit.block_04 }}$
                        .right-block
                            .padd 
                                p.asset ${{ exnova-profit.block_07 }}$
                                p.name-asset ${{ exnova-profit.block_08 }}$

                tr
                    td.text-pad-small.pb20

                        .left-block 
                            .padd 
                                p.asset ${{ exnova-profit.block_05 }}$
                                p.name-asset ${{ exnova-profit.block_06 }}$
                        .right-block
                            .padd 
                                p.asset ${{ exnova-profit.block_09 }}$
                                p.name-asset ${{ exnova-profit.block_10 }}$

                tr
                    td.text-pad-small.pb44
                        p.text.pb32 ${{ exnova-profit.block_11 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova&type=blitz-option&asset=1859" universal="true" target="_blank") ${{ exnova-profit.block_12 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb24
                            img.title-img(src="https://fsms.quadcode.com/storage/public/cv/07/ep3jqakjdvu1n1lg/Icon-Circle.png")
                            |${{ exnova-profit.block_13 }}$
                        p.text ${{ exnova-profit.block_14 }}$
.h-12 &nbsp;
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb24 ${{ exnova-profit.block_15 }}$
                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 1
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-profit.block_16 }}$</b>
                                        p.text ${{ exnova-profit.block_17 }}$
                        .h-12 &nbsp;
                        .blue-block-big
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 2
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-profit.block_18 }}$</b>
                                        p.text ${{ exnova-profit.block_19 }}$
                            p.text.pt22.pb5 <b>${{ exnova-profit.block_20 }}$</b>
                            .block-blue-line
                                p.middle-text ${{ exnova-profit.block_21 }}$
                            p.text.pt30.pb5 <b>${{ exnova-profit.block_22 }}$</b>
                            .left-side 
                                p.left-text ${{ exnova-profit.block_23 }}$
                            .right-side 
                                table.w100(align="center")
                                    tr
                                        td.pb0.butt
                                            a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=QUICK110&aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova" universal="true" target="_blank") ${{ exnova-profit.block_24 }}$
                            p.gray-text ${{ exnova-profit.block_25 }}$
                        .h-12 &nbsp;

                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 3
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-profit.block_26 }}$</b>
                                        p.text ${{ exnova-profit.block_27 }}$

.h-12 &nbsp;

table.row.brad-full.bg-1(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        .block-280
                            //- p.title-head ${{ exnova-profit.block_28 }}$
                            p.title-head.pb12.mob-center ${{ exnova-profit.block_28 }}$
                            p.text.pb40.mob-center ${{ exnova-profit.block_29 }}$

                            table.w280
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=QUICK110&aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova" universal="true" target="_blank") ${{ exnova-profit.block_30 }}$

.h-12 &nbsp;

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_profit-0804-exnova" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_profit-0804-exnova&retrack=profit-0804-exnova" target="_blank")
                                img.a-google(src="${{ social-exnova.block_06 }}$")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            .div-inline.first-inline
                                a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                    img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                                a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                                a(href="${{ social-exnova.block_02 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                                a(href="https://t.me/exnovachat" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            .div-inline
                                a(href="${{ social-exnova.block_04 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                                a.last-link(href="${{ social-exnova.block_05 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png" style="max-width: 20px !important;")
                                a.last-link(href="https://discord.gg/exnova" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")
                                a.last-link(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank" style="margin-left: 0px !important; margin-right: 0px !important;")
                                    img.soc-icon.what(src="https://fsms.quadcode.com/storage/public/cv/e2/jchmsj7rr6s51tf0/what-icon.png")