table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")
table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20 ${{ exnova-fulldocs.block_00 }}$
                        p.text.pb20 ${{ exnova-fulldocs.block_01 }}$
                        .list-block
                            .left-list
                                p.text.list ${{ exnova-fulldocs.block_02 }}$
                                p.text.list ${{ exnova-fulldocs.block_03 }}$
                                p.text.list ${{ exnova-fulldocs.block_04 }}$
                            .right-list
                                p.text.list ${{ exnova-fulldocs.block_05 }}$
                                p.text.list ${{ exnova-fulldocs.block_06 }}$
                                p.text.list ${{ exnova-fulldocs.block_07 }}$
                        p.text.pt20 ${{ exnova-fulldocs.block_08 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb30
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{ docs_verify_link }}" target="_blank") ${{ exnova-fulldocs.block_09 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb10

table.row.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb20 ${{ exnova-fulldocs.block_10 }}$
                        p.text.pb20 ${{ exnova-fulldocs.block_11 }}$ <b>{{card_last_digits}}</b> ${{ exnova-fulldocs.block_13 }}$
                        p.text.pb20
                            img.icon-ex(src="https://static.cdnroute.io/files/storage/public/62/0f/89f09cf316g3h5f3d4/exclam.png")
                            | ${{ exnova-fulldocs.block_14 }}$
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{ cards_verify_link }}" target="_blank") ${{ exnova-fulldocs.block_15 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb10

table.row.brad-top.brad-bot
    tr
        td.wrapper.last.bgr.pt0
            table.row.trans
                tr
                    td.wrapper.last.offset-by-one.pt35
                        table.ten.columns
                            tr
                                td.text-pad-small.pb35.pr140
                                    p.bg-title.pb5 ${{ exnova-fulldocs.block_16 }}$ {{embedded.brand_name}}${{ exnova-fulldocs.block_18 }}$
                                    p.bg-text ${{ exnova-fulldocs.block_19 }}$&ensp;
                                        a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ exnova-fulldocs.block_20 }}$
                                        | &ensp;${{ exnova-fulldocs.block_21 }}$
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb0
