table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")
                tr
                    td.text-pad-small.pb40
                        p.title ${{ b2b-fee-charged.block_00 }}$
table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.black-subtitle.pb10 ${{ b2b-fee-charged.block_01 }}$
                        p.text.pb30 ${{ b2b-fee-charged.block_02 }}$&ensp;{{embedded.brand_name}}&ensp;${{ b2b-fee-charged.block_03 }}$&ensp;
                            strong {{commission_sum}}
                            | ${{ b2b-fee-charged.block_04 }}$
                        .purple-block
                            p.small-text ${{ b2b-fee-charged.block_05 }}$&ensp;
                                a(href="{{embedded.general_fees}}" target="_blank") ${{ b2b-fee-charged.block_06 }}$
                                | &ensp;${{ b2b-fee-charged.block_07 }}$


table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.purple-title.pb30 ${{ b2b-fee-charged.block_08 }}$
                        p.text.check.pb20 ${{ b2b-fee-charged.block_09 }}$&ensp;
                            strong {{embedded.brand_name}}
                            | &ensp;${{ b2b-fee-charged.block_10 }}$
                        p.text.cross ${{ b2b-fee-charged.block_11 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ b2b-fee-charged.block_12 }}$&ensp;{{embedded.brand_name}}

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.center
                            span.italic ${{ b2b-fee-charged.block_13 }}$
                            | &ensp;🙏