
table.row
    tr
        td.wrapper
            table.row.twelve.columns
                tr
                    td.wrapper.offset-by-four.last.pb0
                        table.gour.columns
                            tr
                                td.pb0
                                    a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-weekly&retrack=capital-weekly" target="_blank")
                                        img.logo.center(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

//table.row.bgr
//    tr
//        td.wrapper.last.pt0
//            table.twelve.columns
//                tr
//                    td.pb0.text-pad-small
//                        p.title.center ${{ capital.block_01 }}$
table.row.br-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="#").nopoint
                            img.image.br-top(src="https://static.cdnroute.io/files/storage/public/61/97/8676b57d17g5e0g7b3/capital_top__1_.png")

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb0.pt30.text-pad-small
                        p.text-title.pb10.center ${{ capital-26-11.block_02 }}$
                        p.text.center ${{ capital-26-11.block_03 }}$

table.row.white-bg.br-bot
    tr
        td.wrapper.last.pt0.plr30
            table.elewen.columns
                tr
                    td.pt30.pb0.text-pad-small
                        .left-block
                            a(href="#")
                                img.min-img.center(src="https://static.cdnroute.io/files/storage/public/61/96/39ea3b96a9d5h7j5d9/1.png")
                            p.text-bot ${{ capital-26-11.block_04 }}$
                        .center-block
                            a(href="#")
                                img.min-img.center(src="https://static.cdnroute.io/files/storage/public/61/96/39ea3e5d13d6j8i9j6/2.png")
                            p.text-bot ${{ capital-26-11.block_05 }}$
                        .right-block
                            a(href="#")
                                img.min-img.center(src="https://static.cdnroute.io/files/storage/public/61/96/39ea6b4ed6g7j3e0j0/3.png")
                            p.text-bot ${{ capital-26-11.block_06 }}$
                tr
                    td.pt30.pb43
                        p.text-title.center ${{ capital-26-11.block_07 }}$

table.row
    tr
        td.wrapper.last.pt60
            table.elewen.columns
                tr
                    td.pb25
                        p.black-subtitle.a-center ${{ capital-26-11.block_08 }}$
                tr
                    td.pt0.pb0.dis-fl
                        .left-side
                            p.title-side.pt40.pb15 ${{ capital-26-11.block_09 }}$
                            p.text-side.pb20 ${{ capital-26-11.block_10 }}$
                            .button-wrapper.pt0.medium-button-mini.wh157
                                table.medium-button.radius
                                    tr
                                        td.bg-none
                                            a.butt-mini(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=cfd&assetId=931" target="_blank") ${{ capital-26-11.block_21 }}$
                                                img.arr(src="https://static.cdnroute.io/files/storage/public/61/96/4a0579a307c2f2b6f8/min_arrow_2.png")


                        .right-side
                            p.title-side.pt40.pb15  A Zoom Video Inc.
                            p.text-side.pb20  ${{ capital-26-11.block_12 }}$
                            .button-wrapper.pt0.medium-button-right.wh190
                                table.medium-button.radius
                                    tr
                                        td.bg-none
                                            a.butt-mini(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=cfd&assetId=1316" target="_blank") ${{ capital-26-11.block_22 }}$
                                                img.arr(src="https://static.cdnroute.io/files/storage/public/61/96/4a0579a307c2f2b6f8/min_arrow_2.png")
                tr
                    td.pb25.pt60
                        p.black-subtitle.a-center ${{ capital.block_13 }}$

                tr
                    td.pb45.text-pad-small
                        .social-links.pb10.pt0
                            .top-flag
                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=crypto&assetId=816" target="_blank")
                                    .countries-block-new.mr15
                                        .l-b
                                            p.item-title.pb3 Bitcoin
                                            p.item-subtitle BTC
                                            p.bottom-block $57,346
                                        .r-b
                                            p.item-number +3%
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")

                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=crypto&assetId=818" target="_blank")
                                    .countries-block-new
                                        .l-b
                                            p.item-title.pb3 Ethereum
                                            p.item-subtitle ETH
                                            p.bottom-block $4,370
                                        .r-b
                                            p.item-number +9%
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")

                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=crypto&assetId=1279" target="_blank")
                                    .countries-block-new.mr15
                                        .l-b
                                            p.item-title.pb3 Binance Coin
                                            p.item-subtitle BNB
                                            p.bottom-block $608
                                        .r-b
                                            p.item-number +11%
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")

                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-weecly&retrack=capital-weecly&instrument=crypto&assetId=826" target="_blank")
                                    .countries-block-new
                                        .l-b
                                            p.item-title.pb3 ZCash
                                            p.item-subtitle ZEC
                                            p.bottom-block $271
                                        .r-b
                                            p.item-number +76%
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")
                                            //p.znak +

table.row.white-bg.brad-top
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb20.pt20.text-pad-small
                        a(href="#")
                            img.bottom-img.center(src="https://static.cdnroute.io/files/storage/public/61/96/69d68074f4d6g3d3i4/Bitmap_2.png")
                        p.text-title.pb5.center ${{ capital.block_17 }}$
                        p.text-subtitle-bot.pb20.center ${{ capital.block_18 }}$
                        p.text.center ${{ capital.block_19 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-three.pt5
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.pr30-a
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="${{ capital-26-11.block_23 }}$" target="_blank") ${{ capital.block_20 }}$
                                            img.arr-pn(src="https://static.cdnroute.io/files/storage/public/61/96/5a2f117522g6a6e0b8/pan.png")

table.row
    tr
        td.wrapper.last.pt60.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-subtitle.pb10.center ${{ capital.block_21 }}$
                        p.text.center ${{ capital.block_22 }}$

                tr
                    td.center
                        .stor.center
                            a.a-app(href="https://www.facebook.com/Capital-Bear-108054551079940" target="_blank")
                                img.app-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f57d7f8i7j4i5j1/fb.png")
                            a.a-google(href="https://www.instagram.com/capitalbear/" target="_blank")
                                img.google-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f5ad843a0g9c4b7/inst.png")


