
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Bitcoin-ETF&retrack=Bitcoin-ETF&instrument=etf&assetId=2241" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Bitcoin-ETF&retrack=Bitcoin-ETF&instrument=etf&assetId=2241" target="_blank") ${{ social-exnova.block_03 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.last.pt20.pb20
            a(href="#" target="_blank")
                img.banner(src="https://fsms.quadcode.com/storage/public/cj/1m/40piuavv9levmbd0/pic (1).png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb10
                        //- p.title.pt10.pb15 ${{ exnova-bitok.block_00 }}$ 
                        //-     span.span-blue ${{ exnova-bitok.block_01 }}$
                        p.text.pb10 
                            b ${{ exnova-bitok.block_00 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb20 ${{ exnova-bitok.block_02 }}$
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Bitcoin-ETF&retrack=Bitcoin-ETF&instrument=etf&assetId=2241" target="_blank") ${{ exnova-bitok.block_03 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")


.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb20 ${{ exnova-bitok.block_04 }}$
                        
                        table.row
                            tr 
                                td.asset-block
                                    p.white-box 🔒 ${{ exnova-bitok.block_05 }}$
                                    p.text.pt10.pb20 ${{ exnova-bitok.block_06 }}$
                                    p.white-box 📈 ${{ exnova-bitok.block_07 }}$
                                    p.text.pt10.pb20 ${{ exnova-bitok.block_08 }}$
                                    p.white-box 🌟 ${{ exnova-bitok.block_09 }}$
                                    p.text.pt10 ${{ exnova-bitok.block_10 }}$
                        p.text.pt10 ${{ exnova-bitok.block_11 }}$            
                        table.w245(align="center")
                            tr 
                                td.pt20.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Bitcoin-ETF&retrack=Bitcoin-ETF&instrument=etf&assetId=2241" target="_blank") ${{ exnova-bitok.block_12 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")
          
.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text ${{ exnova-bitok.block_13 }}$ 
                        table.w245(align="center")
                            tr 
                                td.pt20.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Bitcoin-ETF&retrack=Bitcoin-ETF&instrument=etf&assetId=2241" target="_blank") ${{ exnova-bitok.block_14 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")
           
.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.center ${{ exnova-bitok.block_15 }}$