table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ cb-card-front.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb25
                        p.text.pb15 ${{ cb-card-front.block_01 }}$
                        p.text ${{ cb-card-front.block_02 }}$
table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{ link }}" target="_blank") ${{ cb-card-front.block_03 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.bot-block
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.block-title.center.pb5 ${{ cb-card-front.block_04 }}$
                        p.block-text.center ${{ cb-card-front.block_05 }}$&ensp;
                            a(href="mailto:support@capitalbear.com" target="_blank") ${{ cb-card-front.block_06 }}$
                            | &ensp;${{ cb-card-front.block_07 }}$