table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ cb-dep-complete.block_01 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text ${{ cb-dep-complete.block_02 }}$&ensp;
                            span.red {{amount}}&nbsp;{{currency}}
                            | &ensp;${{ cb-dep-complete.block_03 }}$

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.big-text ${{ cb-dep-complete.block_04 }}$

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank") ${{ cb-dep-complete.block_05 }}$
