
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-boom-options&retrack=exnova-boom-options" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-boom-options&retrack=exnova-boom-options" target="_blank") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.data-blue.center(style="font-weight: 700;") ${{ Boom-2.block_04 }}$
                        p.title.pt20.pb20 ${{ Boom-2.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cp/b0/3fcds9kt1nhaukgg/banner-1.png")

                        table.w245(align="center")
                            tr 
                                td.pt30.pb30 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://ftvqpcw8xqn.typeform.com/to/YTL6ZRkg" target="_blank") ${{ Boom-2.block_05 }}$
                        
                        p.center.text ${{ Boom-2.block_03 }}$

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb20 ${{ Boom-2.block_06 }}$

                        p.text ${{ Boom-2.block_07 }}$

                tr 
                    td.text-pad-small.pb30.bb
                        .left-block
                            a(href="#")
                                img.block-img(src="https://fsms.quadcode.com/storage/public/cp/av/te0r041vksckpjgg/img-1.png")

                        .right-block
                            a(href="#")
                                img.block-img(src="https://fsms.quadcode.com/storage/public/cp/av/te4ds9kt1nhaukg0/img-2.png")

                tr 
                    td.text-pad-small.pt30.pb40
                        p.text.center.pb40 ${{ Boom-2.block_10 }}$ ${{ Boom-2.block_11 }}$${{ Boom-2.block_12 }}$

                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cp/bl/bgcds9kt1nhaukt0/Video-2.png")
                   
.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        //- p.subtitle.center.pb15 ${{ Boom-2.block_13 }}$
                        p.text.pb32.center ${{ Boom-2.block_14 }}$

                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://ftvqpcw8xqn.typeform.com/to/YTL6ZRkg" target="_blank") ${{ Boom-2.block_13 }}$

                //- tr
                //-     td.text-pad-small.pb40.pt30
                //-         p.text.center ${{ Boom-2.block_14 }}$
