
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
                    //- td.wrapper.last.pt0
                    //-     table.three.columns
                    //-         tr                        
                    //-             td.pb0.vam
                                    a.go-invest(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_margin_28-02&retrack=margin&instrument_type=binary&asset=1" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
  
table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25.pt323
                        .data-blue
                            p.data-text ${{ exnova120623.block_02 }}$
                        p.title.pt10.pb15 ${{ exnova120623.block_01 }}$
                            span.span-blue
                        p.text.pb10 ${{ exnova120623.block_03 }}$ {{embedded.user_first_name}} 👋
                        p.text ${{ exnova120623.block_05 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue
                            | ${{ exnova120623.block_06 }}$
                        table.row 
                            tr 
                                td.asset-block

                                    .left-block.bg-asset
                                        p.text.asset-color
                                            b Advanced Micro Apple Inc
                                        p.text.asset-color AAPL&nbsp;&nbsp;$181.05
                                    .right-block 
                                        p.blue-percent 

                        p.text.pt20 ${{ exnova120623.block_07 }}$
                        p.text.pt10 ${{ exnova120623.block_08 }}$
                        p.text.pt10 ${{ exnova120623.block_09 }}$
                        p.text.pt10 ${{ exnova120623.block_10 }}$
                        
                        table.w245(align="center")
                            tr 
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=32" target="_blank") ${{ exnova120623.block_11 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            | ${{ exnova120623.block_12 }}$
                        table.row 
                            tr
                                td.asset-block
                                    .left-block.bg-market
                                        p.text.asset-color
                                            b ${{ exnova120623.block_14 }}$
                                        p.text.asset-color ${{ exnova120623.block_13 }}$
                                   
                        p.text.pt20.pb10 ${{ exnova120623.block_15 }}$
                        p.text.pb10 ${{ exnova120623.block_16 }}$&ensp;
                            a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=1" target="_blank") ${{ exnova120623.block_17 }}$
                            |${{ exnova120623.block_18 }}$ 
                            a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=5" target="_blank") ${{ exnova120623.block_19 }}$
                            |${{ exnova120623.block_20 }}$&ensp;
                            a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=6" target="_blank") ${{ exnova120623.block_21 }}$
                            |${{ exnova120623.block_22 }}$&ensp;
                            a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=8" target="_blank") ${{ exnova120623.block_23 }}$
                            |${{ exnova120623.block_24 }}$ ${{ exnova120623.block_25 }}$
                        p.text.pb10 ${{ exnova120623.block_26 }}$    
                        p.text.pb10 ${{ exnova120623.block_27 }}$ 
                    
                        table.w245(align="center")
                            tr 
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=forex&assetId=1" target="_blank") ${{ exnova120623.block_28 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            |${{ exnova120623.block_29 }}$
                        table.row 
                            tr
                                td.asset-block
                                    .left-block.bg-stocks
                                        p.text.asset-color
                                            b ${{ exnova120623.block_31 }}$
                                        p.text.asset-color ${{ exnova120623.block_30 }}$
                        //- p.text.pt20.pb10 Hey, it's time for JOLTs Job Openings! 
                        p.text.pt20.pb10 ${{ exnova120623.block_32 }}$
                        p.text.pb10 ${{ exnova120623.block_33 }}$
                        p.text.pb10 ${{ exnova120623.block_34 }}$
                        p.text ${{ exnova120623.block_35 }}$
                        
                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=cfd&assetId=258" target="_blank") ${{ exnova120623.block_36 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20
                            span.span-blue #
                            |${{ exnova120623.block_37 }}$
                        table.row 
                            tr
                                td.asset-block
                                    .left-block.bg-stocks
                                        p.text.asset-color
                                            b ${{ exnova120623.block_39 }}$
                                        p.text.asset-color ${{ exnova120623.block_38 }}$ 

                        p.text.pb10.pt20 ${{ exnova120623.block_40 }}$&nbsp;
                            a.link(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=crypto&assetId=1406" target="_blank") ${{ exnova120623.block_41 }}$ 
                            |${{ exnova120623.block_42 }}$ 
                        p.text.pb10 ${{ exnova120623.block_43 }}$
                        p.text ${{ exnova120623.block_44 }}$    
                            
                             
                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova&instrument=crypto&assetId=1406" target="_blank") ${{ exnova120623.block_45 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;
