
table.row.header
    tr
        td.wrapper.offset-by-four.last.pt10
            table.four.columns
                tr
                    td.pb30
                        a(href="https://capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=welcome" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/b2/959fd19e89f4b9d3a5/logo.png")
    tr
        td.wrapper.last.offset-by-one.pt60
            table.six.columns
                tr
                    td.text-pad-small.pb60
                        p.title.pb15 ${{ cb-welcome.block_01 }}$
                        p.text.pr30.header-text ${{ cb-welcome.block_02 }}$&ensp;
                            strong ${{ cb-welcome.block_03 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table.row
    tr
        td.wrapper.last.pt0
            table.eleven.columns
                tr
                    td.pb0
                        .down-block
                            p.down-text.pb25 ${{ cb-welcome.block_04 }}$
                            .button-wrapper.button-wrapper_down
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="" target="_blank") ${{ cb-welcome.block_05 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top.brad-bot.activate-block
    tr
        td.wrapper.last.offset-by-one.pt20
            table.eleven.columns
                tr
                    td.text-pad-small.pb40
                        p.activate-title.pb10 ${{ cb-welcome.block_06 }}$
                            br
                            | ${{ cb-welcome.block_07 }}$
                        p.text.pr50.pb25 ${{ cb-welcome.block_08 }}$
                        .button-wrapper.button-wrapper_activate
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://capitalbear.com/counting?aff=7&afftrack=mail&retrack=welcome" target="_blank") ${{ cb-welcome.block_10 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top.perks-block
    tr
        td.wrapper.last.pt60
            table.twelve.columns
                tr
                    td.text-pad-small.pb40
                        p.white-title.center.pb10 ${{ cb-welcome.block_11 }}$
                        p.white-text.center.plr70 ${{ cb-welcome.block_12 }}$
table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .perk.perk_1
                            p.perk-title.pb12 ${{ cb-welcome.block_13 }}$
                            p.text ${{ cb-welcome.block_14 }}$
                        .perk.perk_2
                            p.perk-title.pb12 ${{ cb-welcome.block_15 }}$
                            p.text ${{ cb-welcome.block_16 }}$
                        .perk.perk_3
                            p.perk-title.pb12 ${{ cb-welcome.block_17 }}$
                            p.text ${{ cb-welcome.block_18 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top.brad-bot.plus-block
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.plus-title.pb25 ${{ cb-welcome.block_19 }}$
                        p.text.pb25 ${{ cb-welcome.block_20 }}$
                        .block-left
                            img.img1(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73b752b0f7a7d5/1.png")
                            p.point-text.pb30 ${{ cb-welcome.block_21 }}$
                            img.img3(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73e7b1f7i9g2c1/3.png")
                            p.point-text ${{ cb-welcome.block_23 }}$
                        .block-right
                            img.img2(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73b408e1a4h0a4/2.png")
                            p.point-text.pb30 ${{ cb-welcome.block_22 }}$
                            img.img4(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f9bb462a7f4d0b4/4.png")
                            p.point-text ${{ cb-welcome.block_24 }}$




