table.row
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova1-click-TH&retrack=exnova1-click-TH&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova1-click-THe&retrack=exnova1-click-TH&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title ${{ exnova1-click-TH.block_01 }}$ 
                        p.title.pb32 ${{ exnova1-click-TH.block_02 }}$
                        
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d3/4i/49hmsj7k6olr6i3g/1-click-TH-img-1.png")
                
                        p.text.pt32.pb12 ${{ exnova1-click-TH.block_03 }}$
                        p.text ${{ exnova1-click-TH.block_04 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44
                        p.middle-title.pb32 ${{ exnova1-click-TH.block_05 }}$
                       
             
                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 1

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova1-click-TH.block_06 }}$

                        .h-12 &nbsp;

                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 2

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text.pb24 ${{ exnova1-click-TH.block_07 }}$
                                        a(href="#" universal="true" target="_blank")
                                            img.center.img-center(src="https://fsms.quadcode.com/storage/public/d2/va/gvrjqakt7v2kurt0/screen-1.png")  
                        .h-12 &nbsp;

                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 3

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova1-click-TH.block_08 }}$

                        .h-30 &nbsp;
                        
                        table.w280(align="center" style="border-collapse:initial;")
                            tr
                                td.butt-2.pb0
                                    a.butt-link-2(href="https://api.trade.exnova.com/v1/multi-links/upload-card-document?payout-id=4&aff=7&afftrack=mail_exnova1-click-TH&retrack=exnova1-click-TH" universal="true" target="_blank") ${{ exnova1-click-TH.block_09 }}$
      
                tr
                    td.text-pad-small.pb44.pt0
                        .grey-box-big(style="border: 1px solid #0B79CC")

                            p.small-title.center.pb24 ${{ iq-one-click-th.block_10 }}$

                            .stor.center
                                a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova1-click-TH" target="_blank")
                                    img.a-app-2(src="https://fsms.quadcode.com/storage/public/d3/4k/lu1msj7k6olr6i50/left-3.png")
                                a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova1-click-TH&retrack=exnova1-click-TH" target="_blank")
                                    img.a-google-2(src="https://fsms.quadcode.com/storage/public/d3/4k/lu3jqakt7v2kusv0/right-3.png")

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb8.center ${{ exnova1-click-TH.block_13 }}$
                        p.text.pb40.center ${{ exnova1-click-TH.block_14 }}$
                        table.w280(align="center" style="border-collapse:initial;")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/upload-card-document?payout-id=4&aff=7&afftrack=mail_exnova1-click-TH&retrack=exnova1-click-TH" universal="true" target="_blank") ${{ exnova1-click-TH.block_15 }}$
    
table.row
    tr
        td.wrapper.last.pt50.offset-by-one
            table.ten.columns
                tr
                    td.pb0.pt30
                        .socials.center
                            .div-inline.first-inline
                                a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                    img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                                a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                                a(href="${{ social-exnova.block_02 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                                a(href="https://t.me/exnovachat" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            .div-inline
                                a(href="${{ social-exnova.block_04 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                                a.last-link(href="${{ social-exnova.block_05 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png" style="max-width: 20px !important;")
                                a.last-link(href="https://discord.gg/exnova" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")
                                a.last-link(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank" style="margin-left: 0px !important; margin-right: 0px !important;")
                                    img.soc-icon.what(src="https://fsms.quadcode.com/storage/public/cv/e2/jchmsj7rr6s51tf0/what-icon.png")
