table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb0  
                        p.big-text-a.pb20.center ${{ digest-19-04-23.block_11 }}$
                        .left-mob.white-bg.br10   
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/ci/4m/nn01ik1feokk5sc0/14-green-64.png")
                                    |Emma P
                                p.country-number.green $83,027
                        .right-mob.white-bg.br10   
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/ci/4m/nn1iuavgkak85ja0/3-blue-64.png")
                                    |Mateo L.
                                p.country-number.green $28,141

table.row
    tr
        td.wrapper.last.offset-by-two.pt20
            table.eight.columns
                tr
                    td.pb0.text-pad-small
                        .button-wrapper.button-wrapper_top
                            table.medium-button.radius-big
                                tr
                                    td.iq
                                        a.butt(href="https://iqoption.com/traderoom/deeplink/deposit?amount=100" target="_blank") ${{ digest-19-04-23.block_12 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb25-a.pt30
                        .left-block.fl-l.blue-bg.br10 
                            p.most-text ${{ digest-04-01-23.block_11 }}$  
                            
                        .right-block.fl-r.br10 
                            .padding-card
                                p.flag-item.pb9.flag-top
                                    img.flag-img(src="https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png")
                                    |Beyond Meat
                                p.profit-text.pt3 ${{ digest-02-11-22.block_15 }}$: 
                                    span.green.pl6.pt $245
                                .cont    
                                    p.big-number.pt10.pb25 $25
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $540
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=1336" target="_blank") ${{digest-11-01-23.block_13 }}$ 
                                //- https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png
                                //- https://static.cdnroute.io/files/storage/public/62/bc/339f9fbe69h0b8b3e4/btc.png

                tr
                    td.pb50
                        .right-block.fl-l.br10 
                            .padding-card
                                p.flag-item.pb9.flag-bott
                                    img.flag-img(src="https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png")
                                    |Tesla
                                p.profit-text.pt5 ${{ digest-02-11-22.block_15 }}$:
                                    span.green.pl6.pt 330%
                                .cont      
                                    p.big-number.pt10.pb25 $1,200
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $5,160
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=167" target="_blank") ${{ digest-11-01-23.block_13 }}$
                
                        .left-block.fl-r.white-bg.br10.mh225 
                            p.big-green-number.center.plr10 526k
                            p.text-week.center.pb23.plr10 ${{ digest-02-11-22.block_20 }}$
                           


