table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ poi-pre-expired.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb10
                            strong ${{ poi-pre-expired.block_01 }}$
                        p.text.pb30 ${{ poi-pre-expired.block_02 }}$&ensp;
                            strong {{days}}
                            | &ensp;${{ poi-pre-expired.block_03 }}$
                        .purple-block
                            p.text.pb15 ${{ poi-pre-expired.block_04 }}$
                            p.list-item.pb10 ${{ poi-pre-expired.block_05 }}$
                            p.list-item.pb10 ${{ poi-pre-expired.block_06 }}$
                            p.list-item.pb10 ${{ poi-pre-expired.block_07 }}$
                            p.list-item ${{ poi-pre-expired.block_08 }}$

                        p.text.pt30.pb10 ${{ poi-pre-expired.block_09 }}$
                        p.text
                            strong ${{ poi-pre-expired.block_10 }}$

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="{{embedded.domain}}/verification/docs" target="_blank") ${{ poi-pre-expired.block_11 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.bot-block
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.block-text.pb20 ${{ poi-pre-expired.block_12 }}$&ensp;
                            a.link(href="mailto:{{embedded.company_email}}" target="_blank") ${{ poi-pre-expired.block_13 }}$
                            | &ensp;${{ poi-pre-expired.block_14 }}$
                        p.block-title ${{ poi-pre-expired.block_15 }}$
