table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ cb-expiring.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb10 ${{ cb-expiring.block_01 }}$&nbsp;
                            span.red {{days}}&nbsp;${{ cb-expiring.block_02 }}$
                            | &ensp;${{ cb-expiring.block_03 }}$
                        p.text.pb20 ${{ cb-expiring.block_04 }}$
                        .list-block
                            .left-list
                                p.text.list ${{ cb-expiring.block_05 }}$
                                p.text.list ${{ cb-expiring.block_06 }}$
                                p.text.list ${{ cb-expiring.block_07 }}$
                            .right-list
                                p.text.striped ${{ cb-expiring.block_08 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{upload_url}}" target="_blank") ${{ cb-expiring.block_09 }}$
table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.bot-block
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.block-title.center.pb5 ${{ cb-expiring.block_10 }}$
                        p.block-text.center ${{ cb-expiring.block_11 }}$&ensp;
                            a(href="mailto:support@capitalbear.com" target="_blank") ${{ cb-expiring.block_12 }}$
                            | &ensp;${{ cb-expiring.block_13 }}$


