z
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=forex&asset=1" universal="true" target="_blank") ${{ social-exnova.block_07 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt40

                        .data-blue
                            p.data-text ${{ exnova-160725.block_01 }}$
                        p.title.pt10.pb20 ${{ exnova-160725.block_02 }}$

                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/6s/mg6fu8jqbm985e1g/banner-1.png")
                        p.subtitle.pt20.pb10 ${{ exnova-160725.block_03 }}$ {{embedded.user_first_name}} 👋
                        //- p.text.pb10 ${{ exnova-190325.block_05 }}$ 
                        p.text ${{ exnova-160725.block_05 }}$
                            //- a(href='#' target="_blank" style="color: #4575FE; font-weight: 700;") ${{ exnova-020725.block_06 }}$

                        //- table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=binary-option" universal="true" target="_blank") ${{ exnova-250625.block_05 }}$

//- https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-160725.block_06 }}$
                        //- table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 📊
                                            td.pb0(style="vertical-align:middle;")
                                                p.subtitle ${{ exnova-250625.block_16 }}$
                                                //- p.subtitle.pb5 ${{ exnova-180625.block_17 }}$
                                                //- p.text.asset-color ${{ exnova-180625.block_18 }}$

                        p.text.pb30 ${{ exnova-160725.block_07 }}$
                        //- p.text.pb30 ${{ exnova-160725.block_08 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=crypto&asset=816" universal="true" target="_blank") ${{ exnova-160725.block_08 }}$
                        p.text.pb30.pt30 ${{ exnova-160725.block_09 }}$
                        //- p.text.pb30 ${{ exnova-160725.block_08 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=167" universal="true" target="_blank") ${{ exnova-160725.block_10 }}$

.div-12 &nbsp;

table.row.white-bg(style="border: 4px solid #0B79CC")
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt40

                        p.title.pb20(style="font-size: 36px; line-height: 42px;") ${{ exnova-160725.block_11 }}$

                        p.text.pb30 ${{ exnova-160725.block_12 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://drive.google.com/file/d/18tsTkKTzhLkH2_f-OYwpyj2AgGlnaJJA/view?usp=sharing" target="_blank") ${{ exnova-160725.block_13 }}$

.div-12 &nbsp;

//- https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png
//- https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png

//- table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-1802.block_06 }}$
                        //- .blue-block
                            .bg-asset.bg-crypto
                                p.subtitle Bitcoin
                                p.text.asset-color BTC
                            .div-12 &nbsp;
                            p.red-percent 
                                img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png")
                                |3.82%

                        .blue-block
                            .bg-asset.bg-market
                                p.subtitle(style="font-size: 21px; line-height: 30px;") SolarEdge Technologies, Inc
                                p.text.asset-color SEDG
                            .div-12 &nbsp;
                            p.green-percent 
                                img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png")
                                |8.85%

                        .div-20 &nbsp;

                        .blue-block
                            .bg-asset.bg-stocks
                                p.subtitle(style="font-size: 21px; line-height: 30px;") JinkoSolar Holding Company
                                p.text.asset-color JKS
                            .div-12 &nbsp;
                            p.green-percent 
                                img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png")
                                |4.67%

                //- tr
                    td.text-pad-small.pb20
                        .left-box
                            .blue-block
                                .bg-asset.bg-market
                                    p.subtitle(style="font-size: 21px; line-height: 30px;") SolarEdge Technologies, Inc
                                    p.text.asset-color SEDG
                                .div-12 &nbsp;
                                p.green-percent 
                                    img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png")
                                    |8.85%

                        .right-box
                            .blue-block
                                .bg-asset.bg-stocks
                                    p.subtitle(style="font-size: 21px; line-height: 30px;") JinkoSolar Holding Company
                                    p.text.asset-color JKS
                                .div-12 &nbsp;
                                p.green-percent 
                                    img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png")
                                    |4.67%

                tr
                    td.text-pad-small.pb44
                        //- p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            //- |${{ new-digest-8.block_06 }}$
                            |${{ exnova-1401.block_06 }}$

                        p.text.pb30 ${{ exnova-1802.block_07 }}$
                        //- p.text.pb10 ${{ new-digest-9.block_07 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=31" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_09 }}$  
                            //- |${{ new-digest-8.block_10 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=36" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_11 }}$  
                            //- |${{ new-digest-8.block_12 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=38" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_13 }}$  
                            //- |${{ new-digest-8.block_14 }}$ 

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd" universal="true" target="_blank") ${{ exnova-2201.block_14 }}$

//- .div-12 &nbsp;

//- <img src="https://fsms.quadcode.com/storage/public/cr/6u/rqufu8jqbm985e80/arrow.png" class="arrow-icon" style="-ms-interpolation-mode: bicubic; clear: both; display: inline-block; float: none; font-family: 'Helvetica','Arial',sans-serif !important; max-width: 18px; outline: none; padding-bottom: 4px; padding-right: 0px; text-decoration: none; vertical-align: middle; width: auto;">

table.row.black-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44(style="text-align: center;" align="center")

                        p.title-2.pb10.center(style="color: #f5f9ff") ${{ exnova-160725.block_14 }}$
                        //- .data-blue(style="margin: 0 auto")
                            p.data-text(style="color: #f5f9ff") ${{ new-digest-4.block_11 }}$
                        .div-20 &nbsp;
                        .green-block
                            .bg-asset
                                p.subtitle.pt10.pb10 Bitcoin
                            .div-12 &nbsp;
                            p.text 
                                span.left-span(style="font-size: 32px; line-height: 46px; font-weight: 700") ${{ exnova-160725.block_15 }}$
                                span.right-span(style="font-size: 40px; line-height: 46px; float: right; color: #ffffff; font-weight: 700") +320%

                        p.subtitle.pt20.pb30(style="color: #f5f9ff").center ${{ exnova-160725.block_16 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25"  universal="true" target="_blank") ${{ exnova-160725.block_17 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-160725.block_18 }}$
                        //- table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 📊
                                            td.pb0(style="vertical-align:middle;")
                                                p.subtitle ${{ exnova-160725.block_20 }}$
                                                //- p.subtitle.pb5 ${{ exnova-180625.block_17 }}$
                                                //- p.text.asset-color ${{ exnova-180625.block_18 }}$

                        p.text.pb10 ${{ exnova-160725.block_19 }}$
                        //p.text.pb10 ${{ exnova-160725.block_20 }}$
                        p.text.pb30 ${{ exnova-160725.block_20 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=31" universal="true" target="_blank") ${{ exnova-160725.block_21 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-160725.block_22 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🪙
                                            td.pb0(style="vertical-align:middle;")
                                                p.subtitle ${{ exnova-160725.block_23 }}$
                                                //- p.subtitle.pb5 ${{ exnova-180625.block_22 }}$
                                                //- p.text.asset-color ${{ exnova-180625.block_23 }}$

                        p.text.pt20.pb20 ${{ exnova-160725.block_24 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-160725.block_25 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-160725.block_26 }}$
                        //- table.row
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 📊
                                            td.pb0(style="vertical-align:middle;")
                                                p.subtitle ${{ exnova-160725.block_27 }}$
                                                //- p.subtitle.pb5 ${{ exnova-040625.block_27 }}$
                                                //- p.text.asset-color ${{ exnova-040625.block_28 }}$

                        p.text.pb30 ${{ exnova-160725.block_27 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=cfd&asset=74" universal="true" target="_blank") ${{ exnova-160725.block_28 }}$

//- https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=crypto

//- .div-12 &nbsp;

//- table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20 ${{ exnova-160425.block_29 }}$
                        p.text.pb10 ${{ exnova-160425.block_30 }}$
                        p.text.pb30 ${{ exnova-160425.block_31 }}$
                        p.subtitle.pb15 ${{ exnova-160425.block_32 }}$
                        .blue-border
                            p.text.pb20.pt15(style="font-size: 20px;") 
                                b ${{ exnova-160425.block_33 }}$
                            
                            p.text.pb2 
                                b ${{ exnova-160425.block_34 }}$
                            p.text.pb20 ${{ exnova-160425.block_35 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_36 }}$
                            p.text.pb20 ${{ exnova-160425.block_37 }}$

                            p.text.pb20(style="font-size: 20px;") 
                                b ${{ exnova-160425.block_38 }}$
                            
                            p.text.pb2 
                                b ${{ exnova-160425.block_39 }}$
                            p.text.pb20 ${{ exnova-160425.block_40 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_41 }}$
                            p.text.pb20 ${{ exnova-160425.block_42 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_43 }}$
                            p.text.pb20 ${{ exnova-160425.block_44 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_45 }}$
                            p.text.pb20 ${{ exnova-160425.block_46 }}$


                        p.subtitle.pt30.pb15 ${{ exnova-160425.block_47 }}$
                        .blue-border
                            p.text.pb2.pt15 
                                b ${{ exnova-160425.block_48 }}$
                            p.text.pb20 ${{ exnova-160425.block_49 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_50 }}$
                            p.text.pb20 ${{ exnova-160425.block_51 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_52 }}$
                            p.text.pb20 ${{ exnova-160425.block_53 }}$


                        p.subtitle.pt30.pb15 ${{ exnova-160425.block_54 }}$
                        .blue-border
                            p.text.pb20.pt15(style="font-size: 20px;") 
                                b ${{ exnova-160425.block_55 }}$
                            
                            p.text.pb2 
                                b ${{ exnova-160425.block_56 }}$
                            p.text.pb20 ${{ exnova-160425.block_57 }}$

                            p.text.pb20(style="font-size: 20px;") 
                                b ${{ exnova-160425.block_58 }}$
                            
                            p.text.pb2 
                                b ${{ exnova-160425.block_59 }}$
                            p.text.pb20 ${{ exnova-160425.block_60 }}$

                            p.text.pb2 
                                b ${{ exnova-160425.block_61 }}$
                            p.text.pb20 ${{ exnova-160425.block_62 }}$

                        p.subtitle.pt30.pb15 ${{ exnova-160425.block_63 }}$
                        .blue-border
                            p.text.pb2.pt15 
                                b ${{ exnova-160425.block_64 }}$
                            p.text.pb20 ${{ exnova-160425.block_65 }}$

                        p.subtitle.pt30.pb15 ${{ exnova-160425.block_66 }}$
                        .blue-border
                            p.text.pb2.pt15 
                                b ${{ exnova-160425.block_67 }}$
                            p.text.pb20 ${{ exnova-160425.block_68 }}$

                        p.text.pt30 ${{ exnova-160425.block_69 }}$


//- https://trade.exnova.com/traderoom/deeplink/tournaments?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&id=3805

//- table.row.blue-bg-3
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40(style="text-align: center;")

                        .data-blue(style="display:inline-block;")
                            p.data-text(style="color: #ffffff;") ${{ exnova-1802.block_34 }}$
                        .div-30 &nbsp;
                        p.title-2.center.pb10(style="color: #ffffff;") ${{ exnova-1802.block_35 }}$
                        p.text.center.pb30(style="color: #ffffff;") ${{ exnova-1802.block_36 }}$ <br> ${{ exnova-1802.block_37 }}$
                        .promocode-box
                            p.center(style="font-family:Helvetica,sans-serif;color: #ffffff;font-size:54px;line-height:62px;")
                                b WEEKLY100

                        .div-30 &nbsp;

                        table.w245(align="center")
                            tr 
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=WEEKLY100&aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25" universal="true" target="_blank" style="color: #ffffff;") ${{ exnova-1802.block_38 }}$
                //- tr
                    td.text-pad-small.pb40.bb
                        p.text.center.pt20(style="color: #ffffff;") ${{ loyalty-1.block_15 }}$

//- .div-12 &nbsp;

//- table.row.black-bg-2
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44(style="text-align: center;" align="center")

                        p.title-2.pb30.center(style="color: #ffffff") ${{ exnova-300425.block_27 }}$

                        a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=trade-rush" universal="true" target="_blank")
                            img.banner(style="border-radius: 16px;" src="https://fsms.quadcode.com/storage/public/d0/4f/1t1msj7rr6s52310/banner-1.png")

                        
                        div(style="font-size:8px;line-height:40px;height:40px;") &nbsp;

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-16-07-25&retrack=exnova-new-digest-16-07-25&type=trade-rush" universal="true" target="_blank") ${{ exnova-300425.block_28 }}$

                        p.text.pt30.pb0.center(style="color: #f5f9ff") ${{ exnova-300425.block_29 }}$
//- .div-12 &nbsp;


