table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-raffle-mail1" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/d0/ae/hd3jqaku8utgeh10/googleplaybadge.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/d0/ae/e13jqaku8utgeh00/instant.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/d0/ae/7gjjqaku8utgegv0/fb-1.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d0/ae/7gjjqaku8utgegu0/ig-1.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d0/ae/7ghmsj7rr6s524d0/yt-1.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d0/ae/7gjjqaku8utgegtg/tg-1.png")
                            
                            a(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d0/ae/aorjqaku8utgegvg/discord.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d0/ae/aopmsj7rr6s524dg/tik-tok.png")
                            //- a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                            //-     img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.last-link(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/d0/ae/shbjqaku8utgeh1g/tw02025.png")
