table.row
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-trading-2-challenge-announcement&retrack=exnova-trading-2-challenge-announcement&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-trading-2-challenge-announcement&retrack=exnova-trading-2-challenge-announcement&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title.pb32 ${{ exnova-Trading-2-Challenge-Announcement.block_01 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d0/7j/759msj7rr6s523d0/container-exnova.png")
                
                        p.text.pt32.pb32 ${{ exnova-Trading-2-Challenge-Announcement.block_02 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-trading-2-challenge-announcement&retrack=exnova-trading-2-challenge-announcement&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-Trading-2-Challenge-Announcement.block_03 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ exnova-Trading-2-Challenge-Announcement.block_04 }}$
                
                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 1

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova-Trading-2-Challenge-Announcement.block_05 }}$
                        .h-12 &nbsp;

                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 2

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova-Trading-2-Challenge-Announcement.block_06 }}$
                        .h-12 &nbsp;

                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 3

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text <b>${{ exnova-Trading-2-Challenge-Announcement.block_07 }}$</b>
                      
.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44.bb
                        //p.middle-title.pb32 ${{ exnova-Trading-2-Challenge-Announcement.block_08 }}$
                        .image-block-1 
                            p.place-block ${{ exnova-Trading-2-Challenge-Announcement.block_08 }}$ 
                            .max-with
                                
                                p.orange-number  $300
                                p.strong-text ${{ exnova-Trading-2-Challenge-Announcement.block_09 }}$
                        .h-12 &nbsp;
                        .image-block-2
                            p.place-block ${{ exnova-Trading-2-Challenge-Announcement.block_10 }}$ 
                            .max-with
                                
                                p.orange-number  200%
                                p.strong-text ${{ exnova-Trading-2-Challenge-Announcement.block_11 }}$
                                                      
                tr
                    td.text-pad-small.pb44.pt24
                        p.gray-text.center.plr40 ${{ exnova-Trading-2-Challenge-Announcement.block_12 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44.bb
                        p.middle-title.pb32 ${{ exnova-Trading-2-Challenge-Announcement.block_13 }}$
          

                        
                        .grey-block
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank")
                                            img.list(src="https://fsms.quadcode.com/storage/public/d0/7j/759msj7rr6s523c0/exnova-list.png")
                                    td.pb0.w-a
                                        p.text ${{ exnova-Trading-2-Challenge-Announcement.block_14 }}$

                        .h-12 &nbsp;

                        .grey-block
                            
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank")
                                            img.list.pt8(src="https://fsms.quadcode.com/storage/public/d0/7j/759msj7rr6s523c0/exnova-list.png")
                                    td.pb0.w-a
                                        p.text ${{ exnova-Trading-2-Challenge-Announcement.block_15 }}$
                        .h-12 &nbsp;
                        .grey-block
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank")
                                            img.list.pt8(src="https://fsms.quadcode.com/storage/public/d0/7j/759msj7rr6s523c0/exnova-list.png")
                                    td.pb0.w-a
                                        p.text ${{ exnova-Trading-2-Challenge-Announcement.block_16 }}$
                                        
                        .h-12.pb20 &nbsp;
                
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.casatrade.com/v1/multi-links/deposit?promocode=CHALLENGE110&aff=7&afftrack=exnova-Trading-2-Challenge-Announcement&retrack=exnova-Trading-2-Challenge-Announcement" universal="true" target="_blank") ${{ exnova-Trading-2-Challenge-Announcement.block_17 }}$
                
                tr
                    td.text-pad-small.pb44.pt24
             
                            p.gray-text.pb10 ${{ exnova-Trading-2-Challenge-Announcement.block_21 }}$
                            p.gray-text ${{ exnova-Trading-2-Challenge-Announcement.block_22 }}$&nbsp;
                                a.link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=CHALLENGE50?aff=7&afftrack=mail_CASA-Trading-Challenge-Announcement&retrack=exnova-Trading-2-Challenge-Announcement" universal="true" target="_blank") ${{ exnova-Trading-2-Challenge-Announcement.block_23 }}$
                                |${{ exnova-Trading-2-Challenge-Announcement.block_24 }}$
                          
.h-12 &nbsp;

table.row.brad-full.bg-img-2
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        .max-with-2
                            p.middle-title.pb12 ${{ exnova-Trading-2-Challenge-Announcement.block_18 }}$
                            p.text.pb40 ${{ exnova-Trading-2-Challenge-Announcement.block_19 }}$
                            table.w280(align="left")
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-trading-2-challenge-announcement&retrack=exnova-trading-2-challenge-announcement&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-Trading-2-Challenge-Announcement.block_20 }}$
                    
