table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Asset-deep-dive-07-03&retrack=Asset-deep-dive-07-03&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Asset-deep-dive-07-03&retrack=Asset-deep-dive-07-03&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44
                        //- p.date 
                        //-     img.date-img(src="https://fsms.quadcode.com/storage/public/cu/vd/u6jjqakjdvu1n1ig/calendar-filled-1.png")
                        //-     |${{ Asset-deep-dive-07-03.block_01 }}$
                        p.title.pb32 ${{ Asset-deep-dive-07-03.block_02 }}$

                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.pb24
                                        p.asset-title Bitcoin 
                                        p.asset-subtitle BTC
                                    td.pb0.m-w-1.pb24(align="right")
                                        a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Asset-deep-divere&track=Asset-deep-dive-07-03&type=crypto&asset=816" universal="true" target="_blank")
                                            img.asset-img(src="https://fsms.quadcode.com/storage/public/5f/aa/eae10ce1e5a1f3i9i3/icon_btc.png")
                            p.text.bt.pt24.pb24 ${{ Asset-deep-dive-07-03.block_05 }}$

                            table.w100
                                tr
                                    td.pb0.w-a.pb8
                                        p.color-text-red ${{ Asset-deep-dive-07-03.block_06 }}$
                                    td.pb0.m-w-1.pb8(align="right")
                                        p.color-text-red.ta-r  <b>+35.64%</b>
                                tr
                                    td.pb0.w-a.pb8
                                        p.color-text-green ${{ Asset-deep-dive-07-03.block_07 }}$
                                    td.pb0.m-w-1.pb8(align="right")
                                        p.color-text-green.ta-r   <b>+1,218.88%</b>
                tr
                    td.text-pad-small.pb44        
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Asset-deep-dive-07-03&retrack=Asset-deep-dive-07-03&type=crypto&asset=816" universal="true" target="_blank") ${{ Asset-deep-dive-07-03.block_08 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb16.pt44 
                        p.title-head.pb16 ${{ Asset-deep-dive-07-03.block_09 }}$
                        p.text.pb32 ${{ Asset-deep-dive-07-03.block_10 }}$
 
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        //- p.block-title ${{ Asset-deep-dive-07-03.block_11 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_11 }}$

                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        //- p.block-title ${{ Asset-deep-dive-07-03.block_13 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_12 }}$

                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        //- p.block-title ${{ Asset-deep-dive-07-03.block_13 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_13 }}$
                   
.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44 
                        p.title-head.pb32 ${{ Asset-deep-dive-07-03.block_14 }}$
                        //- p.block-title ${{ Asset-deep-dive-07-03.block_13 }}$
                        //- p.text.pb32 ${{ Asset-deep-dive-07-03.block_13 }}$
                              
                        .blue-block.small-padding
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker-img(src="https://fsms.quadcode.com/storage/public/cv/4n/csjjqakjdvu1n2fg/point-one.png")
                                    td.pb0.w-a
                                        p.block-title-bottom ${{ Asset-deep-dive-07-03.block_15 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_16 }}$

                        .h-12 &nbsp;

                        .blue-block.small-padding
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker-img(src="https://fsms.quadcode.com/storage/public/cv/4n/cshmsj7jlq1dg9og/point-two.png")
                                    td.pb0.w-a
                                        p.block-title-bottom ${{ Asset-deep-dive-07-03.block_17 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_18 }}$
                        .h-12 &nbsp;
                        .blue-block.small-padding
                            table.w100
                                tr
                                    td.pb0.m-w-2
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker-img(src="https://fsms.quadcode.com/storage/public/cv/4n/csjjqakjdvu1n2f0/point-three.png")
                                    td.pb0.w-a
                                        p.block-title-bottom ${{ Asset-deep-dive-07-03.block_19 }}$
                                        p.text ${{ Asset-deep-dive-07-03.block_20 }}$
          
.h-12 &nbsp;

table.row.white-bg.brad-full(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title-head.pb30.center 🚀 ${{ Asset-deep-dive-07-03.block_21 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Asset-deep-dive-07-03retrack=Asset-deep-dive-07-03&type=crypto&asset=816" universal="true" target="_blank") ${{ Asset-deep-dive-07-03.block_22 }}$

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center

                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_Asset-deep-dive-07-03" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_Asset-deep-dive-07-03&retrack=Asset-deep-dive-07-03" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

