
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
                    //- td.wrapper.last.pt0
                    //-     table.three.columns
                    //-         tr                        
                    //-             td.pb0.vam
                                    a.go-invest(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_margin_28-02&retrack=margin&instrument_type=binary&asset=1" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25
                        p.title.pb15 ${{ EXNOVA_payment.block_01 }}$<br>
                            span.blue ${{ EXNOVA_payment.block_02 }}$
table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb0
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_payment.block_03 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

//- table.row.trans.green-block
//-     tr
//-         td.wrapper.last.pt30.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.text-pad-small.pb50
//-                         p.big-title.pb13 ${{ EXNOVA_payment.block_04 }}$   
//-                             span.green ${{ EXNOVA_payment.block_05 }}$
//-                         p.text.fs18.pb30 ${{ EXNOVA_payment.block_06 }}$
//-                         a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
//-                             img(src="https://static.cdnroute.io/files/storage/public/62/c2/a6e57b0c04j2c8j2i8/Group_235__1_.png")      

table.row.trans
    tr
        td.wrapper.last.pt35.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.big-title.pb15 ${{ EXNOVA_payment.block_04 }}$   
                        p.text.fs18.pb25 ${{ EXNOVA_payment.block_05 }}$
                        .left-side.bg-side 
                            .padding-side
                                table
                                    tr
                                        td.text-pad-small.pb15
                                            a(href="#" target="_blank")
                                                img.img-left-side(src="https://static.cdnroute.io/files/storage/public/62/c2/ac00b93145e5f5f7f8/Frame.png")
                                table
                                    tr
                                        td.text-pad-small.pb0                
                                            p.text ${{ EXNOVA_payment.block_06 }}$
                           
                        .right-side.bg-side
                            .padding-side
                                table
                                    tr
                                        td.text-pad-small.pb15
                                            a(href="#" target="_blank")
                                                img.img-right-side(src="https://static.cdnroute.io/files/storage/public/62/c2/ac00b9c686b4g8j1a7/Group_319.png")
                                table
                                    tr
                                        td.text-pad-small.pb0                
                                            p.text ${{ EXNOVA_payment.block_07 }}$

                tr
                    td.text-pad-small.pb25
                        .bg-side 
                            .padding-bottom-side
                                table
                                    tr
                                        td.pb0.w-a
                                            img.dollar(src="https://static.cdnroute.io/files/storage/public/62/c2/ac00b1f780b8g2e6j3/_.png")
                                        td.pb0.w-a
                                            p.text.img-right ${{ EXNOVA_payment.block_08 }}$    

table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb30
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_payment.block_09 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")              
                              
