table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.pt380.pb25.text-pad-small
                        p.big-title 
                            span.green ${{ EXNOVA_payment.block_13 }}$  
                            //| ${{ EXNOVA_payment.block_14 }}$
                tr
                    td.pb24.text-pad-small     
                        .social-links.pt0
                            .countries-block-new
                                .padding-min
                                        
                                    p.item-number.pt-table ${{ EXNOVA_payment.block_14 }}$
                                    p.item-text ${{ EXNOVA_payment.block_15 }}$

                            .countries-block-new.mar-mob
                                .padding-min     
                                    p.item-number.pt-table ${{ EXNOVA_payment.block_16 }}$
                                    p.item-text ${{ EXNOVA_payment.block_17 }}$

                            .countries-block-new
                                .padding-min   
                                    p.item-number-min ${{ EXNOVA_payment.block_18 }}$
                                    p.item-text ${{ EXNOVA_payment.block_19 }}$ 

table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.green-button
                                tr
                                    td.iq.green-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_payment.block_20 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")


table.row
    tr
        td.wrapper.offset-by-one.last.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0    
                        //- a.app-store(href="#" target="_blank")
                        //-     img.app-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmt0/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 (1).png")
                        a.google-store(href="#" target="_blank")
                            img.google-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmsg/google-play-badge (9).png")
