table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt20
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb0
                                    a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail_system&retrack=8x-trend" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5f/51/18dae78c93d4c4g1d5/logo.png")
                                td.six.sub-columns.last.pb0
                                    .header-soc
                                        a(href="" target="_blank")
                                            img.ig(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadc8ed0a9c1b2b3/ig.png")
                                        a(href="" target="_blank")
                                            img.tw(src="https://static.cdnpub.info/files/storage/public/5f/51/18db28f4f5a1b6i3e8/twitter.png")
                                        a(href="" target="_blank")
                                            img.yt(src="https://static.cdnpub.info/files/storage/public/5f/51/18db48a987a3i5a3j0/yt.png")
                                        a(href="" target="_blank")
                                            img.fb(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadd0ea9j2e9g2g8/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt0
                        table.ten.columns
                            tr
                                td.text-pad-small.pb0
                                    p.title ${{ 8x-trend.block_01 }}$
                                    p.white-text ${{ 8x-trend.block_02 }}$
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt15
                        table.six.columns
                            tr
                                td.text-pad-small.vam.pb0
                                    .button-wrapper.button-wrapper_left
                                        table.medium-button.radius
                                            tr
                                                td.butt-td
                                                    a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-trend" target="_blank") ${{ 8x-trend.block_03 }}$

            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb50




table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.text.pb10 ${{ 8x-trend.block_04 }}$
                        p.text.pb10 ${{ 8x-trend.block_05 }}$
                        p.text.pb30 ${{ 8x-trend.block_06 }}$

                        p.black-sub.pb30 ${{ 8x-trend.block_07 }}$
                        .blocks
                            .block.block_left
                                img.block-img(src="https://static.cdnpub.info/files/storage/public/5f/51/18db3e3a45f0e7d2d1/up.png")
                                p.block-title.pb10.pt20 ${{ 8x-trend.block_08 }}$
                                p.text.greenish ${{ 8x-trend.block_10 }}$
                            .block.block_right
                                img.block-img(src="https://static.cdnpub.info/files/storage/public/5f/51/18dab7a288e3c6c8j9/down.png")
                                p.block-title.pb10.pt20 ${{ 8x-trend.block_09 }}$
                                p.text.redish ${{ 8x-trend.block_11 }}$

                        a.nopoint.mtb30(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/51/18db23b387c4d3d6d3/lines.png")

                        p.black-sub.pb30 ${{ 8x-trend.block_12 }}$
                        .blocks
                            .block.block_left
                                img.block-img(src="https://static.cdnpub.info/files/storage/public/5f/57/5ba7c01ab3a4d4i3a9/up2.png")
                                p.block-title.pb10.pt20 ${{ 8x-trend.block_08 }}$
                                .pl20
                                    p.text.list.pb8
                                        span.list-text ${{ 8x-trend.block_15 }}$
                                    p.text.list.pb8
                                        span.list-text ${{ 8x-trend.block_16 }}$
                                    p.text.list
                                        span.list-text ${{ 8x-trend.block_17 }}$
                            .block.block_right
                                img.block-img(src="https://static.cdnpub.info/files/storage/public/5f/57/5ba7b5a9c7a1e7h2e9/down2.png")
                                p.block-title.pb10.pt20 ${{ 8x-trend.block_09 }}$
                                .pl20
                                    p.text.list.pb8
                                        span.list-text ${{ 8x-trend.block_18 }}$
                                    p.text.list.pb8
                                        span.list-text ${{ 8x-trend.block_19 }}$
                                    p.text.list
                                        span.list-text ${{ 8x-trend.block_20 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt30
            table.six.columns
                tr
                    td.text-pad-small.vam.pb40
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-trend" target="_blank") ${{ 8x-trend.block_21 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-sub.pb30 ${{ 8x-trend.block_22 }}$
                        p.text.pb10
                            img.icon(src="https://static.cdnpub.info/files/storage/public/5f/51/18da90a208h0i4e3a1/1.png")
                            | ${{ 8x-trend.block_23 }}$
                        p.text.pb10
                            img.icon(src="https://static.cdnpub.info/files/storage/public/5f/51/18da90b091d0a9h1d3/2.png")
                            | ${{ 8x-trend.block_24 }}$
                        p.text.pb10
                            img.icon.icon_3(src="https://static.cdnpub.info/files/storage/public/5f/51/18daa3b6d1a4c5g8h0/3.png")
                            | ${{ 8x-trend.block_25 }}$
                        p.text.pb30
                            img.icon.icon_4(src="https://static.cdnpub.info/files/storage/public/5f/51/18dab93695a2a9i4g2/4.png")
                            | ${{ 8x-trend.block_26 }}$

                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/51/18db23b387c4d3d6d3/lines.png")

                        p.black-sub.pt30 ${{ 8x-trend.block_27 }}$


table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt15
            table.six.columns
                tr
                    td.text-pad-small.vam.pb30
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail_system&retrack=8x-trend" target="_blank") ${{ 8x-trend.block_28 }}$

