
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb28.text-pad-small 
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cu/72/0ieuko6hcq7ndba0/exnova-logo-blue.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank")  ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.bg-white.br-full
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ EXNOVA_trend_trading.block_01 }}$ 
                        a(href="#" target="_blank")
                            img.under-img.center(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndcag/container (11).png")
                        p.text.pt32.pb40 ${{ EXNOVA_trend_trading.block_02 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_system&retrack=system&type=forex&asset=1" universal="true" target="_blank") ${{ EXNOVA_trend_trading.block_16 }}$

.h-12 &nbsp;

table.row.bg-white.br-full
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns                        
                tr
                    td.pb32.text-pad-small
                        p.black-title ${{ EXNOVA_trend_trading.block_03 }}$
                tr
                    td.pb40.text-pad-small     
                        .social-links.pt0
                            .left-block
                                .padd24
                                    a(href="#" target="_blank")
                                        img.img-items.center(src="https://fsms.quadcode.com/storage/public/cu/8c/4m54nhqjshkklgkg/icon (2).png")  
                                    p.item-number-new.center ${{ EXNOVA_trend_trading.block_04 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_05 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_06 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_07 }}$ 

                            .right-block
                                .padd24
                                    a(href="#" target="_blank")
                                        img.img-items.center(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndc90/icon (3).png")
                                    p.item-number-new.center ${{ EXNOVA_trend_trading.block_08 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_09 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_10 }}$
                                    p.grey-number.center ${{ EXNOVA_trend_trading.block_11 }}$
        
.h-12 &nbsp;

table.row.bg-white.br-full
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns                                       
                tr
                    td.pb44.text-pad-small          
                        p.black-title.pb32 ${{ EXNOVA_trend_trading.block_12 }}$
                        .purple-block  
                            .white-block 
                                table.w100                                    
                                    tr
                                        td.pb24.w-a
                                            a(href="#" target="_blank")
                                                p.small-title.pb8 ${{ EXNOVA_trend_trading.block_13 }}$
                                        td.pb24.w-a.m-w
                                            a(href="#" target="_blank")
                                                img.list(src="https://fsms.quadcode.com/storage/public/cu/8c/4luuko6hcq7ndc8g/Frame 729 (1).png") 
                                             
                                table.w100                                    
                                    tr
                                        td.pb0.mm-w.pb40
                                            a(href="#" target="_blank")
                                                img.list-small(src="https://fsms.quadcode.com/storage/public/cu/8c/4lt4nhqjshkklgjg/Frame 427321551 (3).png") 
                                        td.pb0.w-a.pb40
                                             p.text ${{ EXNOVA_trend_trading.block_14 }}$

                                table.w100                                    
                                    tr
                                        td.pb0.mm-w.pb15
                                            a(href="#" target="_blank")
                                                img.list-small(src="https://fsms.quadcode.com/storage/public/cu/8c/4lt4nhqjshkklgjg/Frame 427321551 (3).png") 
                                        td.pb0.w-a.pb15             
                                            p.text ${{ EXNOVA_trend_trading.block_15 }}$

                            a(href="#" target="_blank")
                                img.center.pt24(src="https://fsms.quadcode.com/storage/public/cu/8c/4m54nhqjshkklgk0/pic (4).png") 
        
.h-12 &nbsp;
.h-12 &nbsp;
.h-12 &nbsp;

table.row.bg-white.br-full
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns                                       
                tr
                    td.pb44.text-pad-small                      
                        .purple-block  
                            .white-block 
                                table.w100                                    
                                    tr
                                        td.pb24.w-a
                                            a(href="#" target="_blank")
                                                p.small-title.pb8 ${{ EXNOVA_trend_trading.block_17 }}$
                                        td.pb24.w-a.m-w
                                            a(href="#" target="_blank")
                                                img.list(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndc9g/Frame 730 (1).png") 
                                             
                                table.w100                                    
                                    tr
                                        td.pb0.mm-w.pb40
                                            a(href="#" target="_blank")
                                                img.list-small(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndcb0/Frame 427321551 (4).png") 
                                        td.pb0.w-a.pb40
                                            p.text.pb8 ${{ EXNOVA_trend_trading.block_18 }}$
                                table.w100                                    
                                    tr
                                        td.pb0.mm-w.pb15
                                            a(href="#" target="_blank")
                                                img.list-small(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndcb0/Frame 427321551 (4).png") 
                                        td.pb0.w-a.pb15
                                        td.pb0.w-a            
                                            p.text ${{ EXNOVA_trend_trading.block_19 }}$
                            a(href="#" target="_blank")
                                img.center.pt24(src="https://fsms.quadcode.com/storage/public/cu/8c/4m6uko6hcq7ndca0/pic (5).png") 

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.mar0.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a.mar0(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a.mar0(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a.mar0(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a.mar0(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.mar0.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_TrumpCoin-email2&retrack=TrumpCoin-email2" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")