
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_ambassador-club&retrack=ambassador-club" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_ambassador-club&retrack=ambassador-club" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.title ${{ ambassador-club.block_01 }}$ 
                        p.title.pb20  ${{ ambassador-club.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/t9/k4mdi3umufauu2q0/container.png")

                        p.hello.pt32.pb12 <b>${{ ambassador-club.block_03 }}$</b>
                        p.text.pb40 ${{ ambassador-club.block_04 }}$

                        table.w245(align="center")
                            tr 
                                td.pt0.pb10 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?promocode_id=230?aff=7&afftrack=mail_ambassador-club&retrack=ambassador-club" universal="true" target="_blank") ${{ ambassador-club.block_05 }}$

.div-20 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb32 ${{ ambassador-club.block_06 }}$

                        .border-block
                            .bg-1
                                p.text.pb4(style="font-size: 20px; line-height: 32px;") 
                                    b ${{ ambassador-club.block_07 }}$
                                p.text ${{ ambassador-club.block_08 }}$

                        .div-12 &nbsp;

                        .border-block
                            .bg-1
                                p.text.pb4(style="font-size: 20px; line-height: 32px;") 
                                    b ${{ ambassador-club.block_09 }}$
                                p.text ${{ ambassador-club.block_10 }}$

                        .div-12 &nbsp;

                        .border-block
                            .bg-1
                                p.text.pb4(style="font-size: 20px; line-height: 32px;") 
                                    b ${{ ambassador-club.block_11 }}$
                                p.text ${{ ambassador-club.block_12 }}$

                        .div-12 &nbsp;

                        .border-block
                            .bg-1
                                p.text.pb4(style="font-size: 20px; line-height: 32px;") 
                                    b ${{ ambassador-club.block_13 }}$
                                p.text ${{ ambassador-club.block_14 }}$

                        .div-30 &nbsp;

                        table.w245(align="center")
                            tr 
                                td.pt10.pb32 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/promo-centre?promocode_id=230?aff=7&afftrack=mail_influence-exnova&retrack=ambassador-club" universal="true" target="_blank") ${{ ambassador-club.block_15 }}$
                        p.text.center ${{ ambassador-club.block_16 }}$
                        p.text.center ${{ ambassador-club.block_17 }}$
           
