table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ gdpr-3-unreg.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40.bb
                        p.text.pb10
                            strong ${{ gdpr-3-unreg.block_01 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_02 }}$&ensp;
                            strong {{DD}}/{{MM}}/{{YYYY}}
                        p.text.pb0 ${{ gdpr-3-unreg.block_04 }}$

table.row
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40.bb
                        p.big-text.pb20 ${{ gdpr-3.block_05 }}$
                        p.text ${{ gdpr-3-add.block_00 }}$

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.big-text.pb20 ${{ gdpr-3.block_09 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_10 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_11 }}$
                        p.text.pb10 ${{ gdpr-3.block_23 }}$
                        p.text ${{ gdpr-3.block_24 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.bot-block
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.block-text.center ${{ gdpr-3.block_26 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}

