
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Feb-Results&retrack=Feb-Results&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Feb-Results&retrack=Feb-Results&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pt10.pb32 ${{ Feb-Results.block_02 }}$
                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cu/nl/b9rjqakjdvu1mvvg/container-5.png")
                        p.text.pt32.pb10  ${{ Feb-Results.block_03 }}$
                        p.text  ${{ Feb-Results.block_04 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44

                        p.title-2.pb16 ${{ Feb-Results.block_05 }}$
                        p.text.pb32  ${{ Feb-Results.block_06 }}$
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #1
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_07 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #2
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_08 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #3
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_09 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #4
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_10 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #5
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_11 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #6
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_12 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #7
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_13 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #8
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_14 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #9
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_15 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #10
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_16 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #11
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_17 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #12
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_18 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #13
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_19 }}$
                        .div-12 &nbsp;
                        .blue-block 
                            table.w100
                                tr
                                    td.pb0.w-a.m-w
                                        p.place-number #14
                                    td.pb0.w-a 
                                        p.place-text ${{ Feb-Results.block_20 }}$        
.div-12 &nbsp;

table.row.white-bg.blue-line
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.bottom-title.pb32.center ${{ Feb-Results.block_21 }}$
                        p.text.pb15.center ${{ Feb-Results.block_22 }}$
                        p.text.pb15.center ${{ Feb-Results.block_23 }}$
                        p.text.pb40.center ${{ Feb-Results.block_24 }}$
                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Feb-Results&retrack=Feb-Results&type=forex&asset=1" universal="true" target="_blank") ${{ Feb-Results.block_25 }}$

.div-12 &nbsp;

