
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt26
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend&retrack=exnova-Trade-on-weekend" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/d0/ad/vv3jqaku8utgegt0/exnova-logo-blue-2.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend&retrack=exnova-Trade-on-weekend" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb30.pt0.plr4
                        a(href="#" target="_blank" universal="true")
                            img.center(src="https://fsms.quadcode.com/storage/public/d0/iv/fdpmsj7vkgc00r3g/exnova-head-2.png")
                tr
                    td.text-pad-small.pb50.pt0.plr32
                        p.title.center ${{ exnova-Trade-on-weekend.block_01 }}$
                        p.title.pb16.center ${{ exnova-Trade-on-weekend.block_02 }}$
                        p.title.center &nbsp;
                        p.text.center.pb10 ${{ exnova-Trade-on-weekend.block_03 }}$ ${{ exnova-Trade-on-weekend.block_04 }}$
                        p.text.pb30.center ${{ exnova-Trade-on-weekend.block_05 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0.shadow-button
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend&retrack=exnova-Trade-on-weekend" target="_blank") ${{ exnova-Trade-on-weekend.block_06 }}$
                
                tr
                    td.text-pad-small.pb50.pt40.plr20
                        p.middle-title.pb16.center ${{ exnova-Trade-on-weekend.block_07 }}$
                        p.text.pb32.center ${{ exnova-Trade-on-weekend.block_08 }}$
                        .black-block
                            .orange-block 
                                p.promotion ${{ exnova-Trade-on-weekend.block_09 }}$
                                p.promocode ${{ exnova-Trade-on-weekend.block_10 }}$
                                p.under-promo.pb32 ${{ exnova-Trade-on-weekend.block_11 }}$
                                p.text.pb40 ${{ exnova-Trade-on-weekend.block_12 }}$
                                table.w280(align="center")
                                    tr
                                        td.butt-2.pb0
                                            a.butt-link-2(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" target="_blank") ${{ exnova-Trade-on-weekend.block_13 }}$
                            p.text.pb15.pt22.center.plr32 ${{ exnova-Trade-on-weekend.block_14 }}$
                            p.text.pb32.center.plr32 ${{ exnova-Trade-on-weekend.block_15 }}$&nbsp;
                                a.link(href="https://exnova.com/en/terms/promocodes-policy/?aff=7&afftrack=mail_exnova-Trade-on-weekend&retrack=mail_exnova-Trade-on-weekend" target="_blank") ${{ exnova-Trade-on-weekend.block_16 }}$
                                |${{ exnova-Trade-on-weekend.block_17 }}$

