
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Review-google-play&retrack=Review-google-play&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Review-google-play&retrack=Review-google-play&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.title.pb32 ${{ Review-google-play.block_01 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d0/jj/2ujjqakt70bn9k5g/Default.png")
                        p.hello.pt32.pb12 ${{ Review-google-play.block_06 }}$ {{embedded.user_first_name}}
                        //- p.text.pb40 ${{ Review-google-play.block_02 }}$
                        p.text.pb10 ${{ Review-google-play.block_02 }}$&nbsp;
                            a.link(href="https://play.google.com/store/apps/details?id=com.exnova&hl=en_in" universal="true" target="_blank") ${{ Review-google-play.block_03 }}$
                            |&nbsp;${{ Review-google-play.block_04 }}$
                        p.text.pb40 ${{ Review-google-play.block_09 }}$&nbsp;
                            a.link(href="https://play.google.com/store/apps/details?id=com.exnova&hl=en_in" universal="true" target="_blank") ${{ Review-google-play.block_10 }}$
                            |&nbsp;${{ Review-google-play.block_11 }}$
                        table.w280(align="center")
                            tr
                                td.butt-2.pb0
                                    .butt-2-line
                                        a.butt-link-2(href="https://ftvqpcw8xqn.typeform.com/to/vlOdD8FJ" universal="true" target="_blank") ${{ Review-google-play.block_05 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44
                        p.middle-title.pb32 ${{ Review-google-play.block_12 }}$
                        table.w100
                            tr
                                td.pb0.pt0.w-1
                                    p.number 1
                                td.pb0.pt0.w-2
                                    a(href="#" universal="true" target="_blank")
                                        img.play(src="https://fsms.quadcode.com/storage/public/d0/jj/2uhmsj7vkgc00rcg/one.png")
                                td.pb0.pt0.w-3
                                    p.text ${{ Review-google-play.block_13 }}$&nbsp;
                                        a.link(href="https://play.google.com/store/apps/details?id=com.exnova&hl=en_in" universal="true" target="_blank") ${{ Review-google-play.block_14 }}$
                                        |&nbsp;${{ Review-google-play.block_15 }}$&nbsp;
                                        a.link(href="https://ftvqpcw8xqn.typeform.com/to/FQSvbCoa" universal="true" target="_blank") ${{ Review-google-play.block_16 }}$
                                        |&nbsp;${{ Review-google-play.block_17 }}$

                        .h-12 &nbsp;
                        .h-12 &nbsp;

                        table.w100
                            tr
                                td.pb0.pt0.w-1
                                    p.number 2
                                td.pb0.pt0.w-2
                                    a(href="#" universal="true" target="_blank")
                                        img.play(src="https://fsms.quadcode.com/storage/public/d0/jj/2ujjqakt70bn9k50/two.png")
                                td.pb0.pt0.w-3
                                    p.text ${{ Review-google-play.block_18 }}$
                tr
                    td.text-pad-small.pb32.bb
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    
                                    a.butt-link(href="https://ftvqpcw8xqn.typeform.com/to/vlOdD8FJ" universal="true" target="_blank") ${{ Review-google-play.block_21 }}$
                tr
                    td.text-pad-small.pb44.pt24 
                        p.gray-text.center ${{ Review-google-play.block_19 }}$
                        p.gray-text.center ${{ Review-google-play.block_20 }}$

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        p.gray-text.center.pb40 ${{ Review-google-play.block_22 }}$
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-Instant-profit-6-05" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=Review-google-play" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


