table.row
    tr
        td
            table.twelve.columns
                tr
                    td.wrapper.last.pb5.pt5
                        a(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank")
                            img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

table.row.bgr
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0.pt30
                        p.data-text.center ${{ digest-01-06-22.block_01 }}$
                        img.img-header.center(src="${{ digest-new-04-05.block_45 }}$")        

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.pt15.pb20
                        .center
                            img.article-left.top-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a872ab1c7b4i9b9e5/Group_195__1_.png")
                            p.big-text.center
                                |${{ digest-01-06-22.block_08 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a8720a9f3h9b8c9h2/Group_193__1_.png")              

    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.pb0.brad-bot
                        .left-side
                            .padding-min
                                a(href="${{ digest-01-06-22.block_49 }}$?utm_source=emailcampaign&utm_campaign=digest-new-01-06-22&aff=88&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank")
                                    img.item-img.brad-full(src="https://static.cdnroute.io/files/storage/public/62/97/6a0680bfb8j6h0d9c1/Frame_698.png")
                            .padding
                                p.item-title.pb10 ${{ digest-01-06-22.block_10 }}$
                                p.item-text.pb15.pb15-a ${{ digest-01-06-22.block_11 }}$
                                a.item-link(href="${{ digest-01-06-22.block_49 }}$?utm_source=emailcampaign&utm_campaign=digest-new-01-06-22&aff=88&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank") ${{ digest-01-06-22.block_12 }}$
                                    img.arr(src="https://files.iqoption.com/storage/public/5b/b5/fc146d22e/arr.png")    
                        .right-side 
                            .padding-min
                                a(href="${{ digest-01-06-22.block_50 }}$?utm_source=emailcampaign&utm_campaign=digest-new-01-06-22&aff=208802&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank")
                                    img.item-img.brad-full(src="https://static.cdnroute.io/files/storage/public/62/97/6a06825899e9j2i1c1/Frame_697.png")
                            .padding
                                p.item-title.pb10 ${{ digest-01-06-22.block_13 }}$
                                p.item-text.pb15-a ${{ digest-01-06-22.block_14 }}$
                                a.item-link(href="${{ digest-01-06-22.block_50 }}$?utm_source=emailcampaign&utm_campaign=digest-new-01-06-22&aff=208802&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank") ${{ digest-01-06-22.block_15 }}$
                                    img.arr(src="https://files.iqoption.com/storage/public/5b/b5/fc146d22e/arr.png")  
 