table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb25-a.pt50
                        .left-block.fl-l.blue-bg.br10 
                            p.most-text ${{ digest-27-04-22.block_10 }}$
                            
                        .right-block.fl-r.br10 
                            .padding-card
                                p.flag-item.pb9.flag-top
                                    img.flag-img(src="https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png")
                                    | Snap Inc.
                                p.profit-text.pt3 ${{ digest-27-04-22.block_12 }}$:
                                    span.green.pl6.pt3  1,230%
                                .cont    
                                    p.big-number.pt10.pb25 $770
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $9,471
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=756" target="_blank") ${{ digest-27-04-22.block_13 }}$

                tr
                    td.pb25-a
                        .right-block.fl-l.br10 
                            .padding-card
                                p.flag-item.pb9.flag-bott
                                    img.flag-img(src="https://static.cdnroute.io/files/storage/public/5f/d7/6876f11235j9j9b6g2/AUD_USD.png")
                                    |AUD/USD
                                p.profit-text.pt5 ${{ digest-27-04-22.block_12 }}$:
                                    span.green.pl6.pt3 1,790%
                                .cont      
                                    p.big-number.pt10.pb25 $140
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $2,506
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=99" target="_blank") ${{ digest-27-04-22.block_13 }}$
                
                        .left-block.fl-r.white-bg.br10 
                            p.big-green-number.center.plr10 222k   
                            p.text-week.center.pb23.plr10 ${{ digest-27-04-22.block_16 }}$    

                tr
                    td.pb50
                        .left-mob.white-bg.br10   
                            .padding.pr5
                                p.text-week.pb20 ${{ digest-27-04-22.block_17 }}$ 
                                p.country-text
                                    img.flag-country(src="https://static.cdnroute.io/files/storage/public/60/1a/5643e73ab1e0j8h5a3/Arabia.png")
                                    |Saudi Arabia
                                p.country-number.green +$38,553.91
                        .right-mob.white-bg.br10   
                            .padding.pr5
                                p.text-week.pb20 ${{ digest-27-04-22.block_18 }}$ 
                                p.country-text
                                    img.flag-country(src="https://static.cdnroute.io/files/storage/public/62/0c/d36c8c1519j4a1g6f4/Venezuela.png")
                                    |Venezuela
                                p.country-number.red –$13,429.57
