table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pb20.pt25
                        .center        
                            img.article-left.bottom-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a87494270c8d2b0j6/Group_195.png")
                            p.big-text.center
                                ${{ digest-27-04-22.block_19 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a871e23a0i2e4d3e8/Group_193.png")              
            
                tr
                    td.pb50.pt0
                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-27-04-22.block_40 }}$/tournaments/3140?&aff=7&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank")
                            .left-mob.white-bg.br10.bg-arrow    
                                .padding-tournament
                                    p.min-data ${{ digest-01-06-22.block_33 }}$
                                    p.text-week.pb15 72 Hours
                                    .pizzle
                                        p.pizzle-text.pb18 ${{ digest-27-04-22.block_23 }}$ 
                                        p.pizzle-number.pb18 ${{ digest-01-06-22.block_35 }}$
                                    .entry
                                        p.pizzle-text.pb18 ${{ digest-27-04-22.block_25 }}$ 
                                        p.pizzle-number.pb18 ${{ digest-01-06-22.block_37 }}$

                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-27-04-22.block_40 }}$/tournaments/3138?&aff=7&afftrack=mail_digest-new-01-06-22&retrack=digest-new-01-06-22" target="_blank")                
                            .right-mob.white-bg.br10.bg-arrow   
                                .padding-tournament
                                    p.min-data ${{ digest-01-06-22.block_40 }}$
                                    p.text-week.pb15 Weekend Treat
                                    .pizzle
                                        p.pizzle-text.pb18 ${{ digest-27-04-22.block_23 }}$ 
                                        p.pizzle-number.pb18 ${{ digest-01-06-22.block_42 }}$
                                    .entry
                                        p.pizzle-text.pb18 ${{ digest-27-04-22.block_25 }}$ 
                                        p.pizzle-number.pb18 ${{ digest-01-06-22.block_44 }}$

                tr
                    td.pb35.pt45.blue-background.plr30    
                        p.white-big-text.pb15.center ${{ digest-01-06-22.block_47 }}$
                        p.white-min-text.center ${{ digest-01-06-22.block_48 }}$

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td
                        .socials.center
                            a.first-link(href="${{ socials-2.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://static.cdnpub.info/files/storage/public/60/c9/b3a34e6326d4b6h2h4/facebook_circular_logo_2.png")
                            a(href="${{ socials-2.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://static.cdnpub.info/files/storage/public/5f/4f/77876a6b58i0b7h2e5/instagram_logo.png")
                            a(href="${{ socials-2.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://static.cdnpub.info/files/storage/public/5f/4f/7787a9fb78g4b9g8i6/youtube_logo.png")
                            a.last-link(href="${{ socials-2.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://static.cdnpub.info/files/storage/public/5f/4f/77876a4177i0g1j4d0/twitter_logo.png")