table.row.transparent
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb35
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/ab/cec02ebec1j0e6g5e8/bg.png")

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb20 ${{ cb-deposit-success.block_00 }}$
                        p.text.pb5 ${{ cb-deposit-success.block_01 }}$
                        p.text
                            strong ${{ cb-deposit-success.block_02 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.subtitle.pb15 ${{ cb-deposit-success.block_03 }}$
                        p.text.pb25 ${{ cb-deposit-success.block_04 }}$

                        a.video-link(href="https://vimeo.com/groups/698443/videos/481682611" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/ab/cec05ff6b0b2b4e0g6/video.png")

                        p.subtitle.pt40.pb15 ${{ cb-deposit-success.block_05 }}$
                        p.text.pb20 ${{ cb-deposit-success.block_06 }}$
                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/ab/cec02e72e7j0i8e9a3/squares.png")

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank") ${{ cb-deposit-success.block_07 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25
                        p.subtitle.pb15 ${{ cb-deposit-success.block_08 }}$
                        p.text.pb25 ${{ cb-deposit-success.block_09 }}$
                        a.nopoint(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/ab/cec0421467b2e5g3b0/news.png")
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank") ${{ cb-deposit-success.block_10 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25
                        p.subtitle.pb15 ${{ cb-deposit-success.block_11 }}$
                        p.text.pb25 ${{ cb-deposit-success.block_12 }}$
                        a.nopoint(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/ab/cec0603fe8b3d3b4b7/sltp.png")
table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=success-deposit" target="_blank") ${{ cb-deposit-success.block_13 }}$
table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt45
            table.ten.columns
                tr
                    td.text-pad-small.pb45
                        p.subtitle ${{ cb-deposit-success.block_14 }}$ 🙌