
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
                    //- td.wrapper.last.pt0
                    //-     table.three.columns
                    //-         tr                        
                    //-             td.pb0.vam
                                    a.go-invest(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_margin_28-02&retrack=margin&instrument_type=binary&asset=1" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb28
                        p.title.pb15 ${{ EXNOVA_zero_balance.block_02 }}$<br>
                            span.title-b <b>${{ EXNOVA_zero_balance.block_03 }}$</b>
                        p.text ${{ EXNOVA_zero_balance.block_04 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.bg-blue.l.middle.pb0              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://static.cdnroute.io/files/storage/public/62/b1/d2b341de48j1i4a4f1/Group_308__1___1_.png")
                    td.bg-lite-blue.pb0           
                        .right-side
                            p.big-text.padd-text-three ${{ EXNOVA_zero_balance.block_05 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.text ${{ EXNOVA_zero_balance.block_06 }}$
                tr
                    td.pb0.text-pad-small     
                        .social-links.pt0.pb30
                            
                            .countries-block-new
                                .padding
                                    p.item-number-new.pb5.pt13 ${{ EXNOVA_zero_balance.block_07 }}$
                                    p.grey-number ${{ EXNOVA_zero_balance.block_08 }}$

                            .countries-block-new.mar-mob
                                .padding
                                    p.item-number-new.pb5.pt13 ${{ EXNOVA_zero_balance.block_09 }}$
                                    p.grey-number ${{ EXNOVA_zero_balance.block_10 }}$

                            .countries-block-new
                                .padding
                                    p.item-number-new.pb5.pt13 ${{ EXNOVA_zero_balance.block_11 }}$
                                    p.grey-number ${{ EXNOVA_zero_balance.block_12 }}$       
                tr
                    td.pb30.text-pad-small 
                        p.text.left-line <i>${{ EXNOVA_zero_balance.block_13 }}$</i>                                          

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pt0.pb25

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.bg-blue.l.middle.pb0              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://static.cdnroute.io/files/storage/public/62/b1/e68cd18b06i1i2e0f7/Group_314.png")
                    td.bg-lite-blue.pb0           
                        .right-side
                            p.big-text.padd-text-two ${{ EXNOVA_zero_balance.block_14 }}$
table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.text ${{ EXNOVA_zero_balance.block_15 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb30
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_zero_balance.block_16 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pt0.pb25

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.bg-blue.l.middle.pb0              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://fsms.iqoption.com/storage/public/cg/gm/tu01ik1e3hsi384g/Group 307 (1).png")
                    td.bg-lite-blue.pb0           
                        .right-side
                            p.big-text.padd-text-two ${{ EXNOVA_zero_balance.block_17 }}$
table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.text ${{ EXNOVA_zero_balance.block_18 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pt0.pb25

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.bg-blue.l.middle.pb0              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://static.cdnroute.io/files/storage/public/62/b1/e68cd285a0e1c8g3c3/Group_309.png")
                    td.bg-lite-blue.pb0           
                        .right-side
                            p.big-text.padd-text-two ${{ EXNOVA_zero_balance.block_19 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.text ${{ EXNOVA_zero_balance.block_20 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pt0.pb25

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.bg-blue.l.middle.pb0              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://static.cdnroute.io/files/storage/public/62/b1/e68cd20cc7c6g5h2b0/Group_315.png")
                    td.bg-lite-blue.pb0           
                        .right-side
                            p.big-text.padd-text-two ${{ EXNOVA_zero_balance.block_21 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.text ${{ EXNOVA_zero_balance.block_22 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_zero_balance.block_23 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row
    tr
        td.wrapper.offset-by-one.last.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0    
                        //- a.app-store(href="#" target="_blank")
                        //-     img.app-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmt0/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 (1).png")
                        
                        a.google-store(href="#" target="_blank")
                            img.google-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmsg/google-play-badge (9).png")
