
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.title.pb32 ${{ exnova-Trade-on-weekend.block_01 }}$ ${{ exnova-Trade-on-weekend.block_02 }}$   
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d0/jg/cirjqakt70bn9k1g/exnova-B.png")
                        p.text.pb15.pt32 ${{ exnova-Trade-on-weekend.block_03 }}$    
                        p.text.pb15 ${{ exnova-Trade-on-weekend.block_04 }}$ 
                        p.text.pb40 ${{ exnova-Trade-on-weekend.block_05 }}$   
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" universal="true" target="_blank") ${{ exnova-Trade-on-weekend.block_06 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb16 ${{ exnova-Trade-on-weekend.block_07 }}$
                        p.text.pb32 ${{ exnova-Trade-on-weekend.block_08 }}$
                        .orange-block 
                            p.promotion ${{ exnova-Trade-on-weekend.block_09 }}$
                            p.promocode ${{ exnova-Trade-on-weekend.block_10 }}$
                            p.under-promo.pb32 ${{ exnova-Trade-on-weekend.block_11 }}$
                            p.text ${{ exnova-Trade-on-weekend.block_12 }}$
                        

                tr
                    td.text-pad-small.pb32.pt0.bb
                        table.w280(align="center")
                            tr
                                td.butt.pb0.orange-shadow
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?category=binary-option&aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" universal="true" target="_blank") ${{ exnova-Trade-on-weekend.block_13 }}$
   
                
                tr
                    td.text-pad-small.pb44.pt24
                        p.gray-text.pb15.center.plr30 ${{ exnova-Trade-on-weekend.block_14 }}$
                        p.gray-text.center.plr30 ${{ exnova-Trade-on-weekend.block_15 }}$&nbsp;
                            a.link(href="https://exnova.com/en/terms/promocodes-policy/?aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=mail_exnova-Trade-on-weekend-B" universal="true" target="_blank") ${{ exnova-Trade-on-weekend.block_16 }}$
                            |${{ exnova-Trade-on-weekend.block_17 }}$

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


