table.row.transparent
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb35
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=zero-balance" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/89/4101b70885d1b5g8j1/bgr.png")

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb35
                        p.title.pb10 ${{ cb-zero.block_01 }}$
                        p.text ${{ cb-zero.block_02 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.pb10
                            strong ${{ cb-zero.block_03 }}$
                        p.text.pb30 ${{ cb-zero.block_04 }}$
                        p.subtitle.pb20 ${{ cb-zero.block_05 }}$
                        p.line-text.pb15 ${{ cb-zero.block_06 }}$
                        p.line-text.pb15 ${{ cb-zero.block_07 }}$
                        p.line-text.pb20 ${{ cb-zero.block_08 }}$
                        p.small-text ${{ cb-zero.block_09 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.plr30.text-pad-small.pb30
                        .purple-block.mb20
                            img.graph(src="https://static.cdnpub.info/files/storage/public/60/87/d24d901629b4a7e2h0/pic1.png")
                            p.block-title.pb8 ${{ cb-zero.block_10 }}$
                            p.under-text.pb20 ${{ cb-zero.block_11 }}$
                            p.small-text.pb20 ${{ cb-zero.block_12 }}$
                            a.try(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=zero-balance" target="_blank") ${{ cb-zero.block_13 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")

                        .purple-block.mb20
                            img.graph(src="https://static.cdnpub.info/files/storage/public/60/87/d24dac36f8h3a1f4d8/pic2.png")
                            p.block-title.pb8 ${{ cb-zero.block_14 }}$
                            p.under-text.pb20 ${{ cb-zero.block_15 }}$
                            p.small-text.pb20 ${{ cb-zero.block_16 }}$
                            a.try(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=zero-balance" target="_blank") ${{ cb-zero.block_17 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")

                        .purple-block.upper-block
                            img.graph(src="https://static.cdnpub.info/files/storage/public/60/87/d24dbfc676b5e3j0b3/pic3.png")
                            p.block-title.pb8 ${{ cb-zero.block_18 }}$
                            p.under-text.pb20 ${{ cb-zero.block_19 }}$
                            p.small-text ${{ cb-zero.block_20 }}$

                        .purple-block.down-block
                            p.block-title.pb8 ${{ cb-zero.block_21 }}$
                            p.small-text.pb20 ${{ cb-zero.block_22 }}$
                            a.try.pb25(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=zero-balance" target="_blank") ${{ cb-zero.block_23 }}$
                                img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")
                            img.graph(src="${{ cb-zero.block_31 }}$")

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.subtitle.pb15 ${{ cb-zero.block_28 }}$
                        p.small-text ${{ cb-zero.block_29 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb45
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=zero-balance" target="_blank") ${{ cb-zero.block_30 }}$
