table.row.header
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.six.sub-columns.pb25.bb
                        a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5c/62/c82e8882d/logo.png")
                    td.six.sub-columns.last.pb25.bb
                        //.header-soc
                        //    a(href="" target="_blank")
                        //        img.ig(src="https://static.cdnpub.info/files/storage/public/5c/62/c82e86a64/ig.png")
                        //    a(href="" target="_blank")
                        //        img.tw(src="https://static.cdnpub.info/files/storage/public/5c/62/c82eaa32c/tw.png")
                        //    a(href="" target="_blank")
                        //        img.yt(src="https://static.cdnpub.info/files/storage/public/5c/62/c82eb9b5d/yt.png")
                        //    a(href="" target="_blank")
                        //        img.fb(src="https://static.cdnpub.info/files/storage/public/5c/62/c82e5ef58/fb.png")
table.row
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb15 ${{ 8x-card-verified.block_00 }}$
                        p.text.pb10 ${{ 8x-card-verified.block_01 }}$&ensp;
                            strong {{card_last_digits}}
                            | &ensp;${{ 8x-card-verified.block_02 }}$
                        p.text ${{ 8x-card-verified.block_03 }}$


table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank") ${{ 8x-go.block_00 }}$
table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15
                        .grey-block
                            p.block-title.pb5 ${{ 8x-card-verified.block_04 }}$
                            p.block-text ${{ 8x-card-verified.block_05 }}$&ensp;
                                a(href="mailto:support@8xtrade.com" target="_blank") ${{ 8x-card-verified.block_06 }}$
                                | &ensp;${{ 8x-card-verified.block_07 }}$