
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Exnova-Influence-30dollars-181d-730d&retrack=Exnova-Influence-30dollars-181d-730d" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Exnova-Influence-30dollars-181d-730d&retrack=Exnova-Influence-30dollars-181d-730d" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        //- p.text.data-blue.center(style="font-weight: 700;") ${{ exnova-TON.block_01 }}$
                        //- p.title.pb32 ${{ Exnova-Influence-181d-730usd.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/2v/466fu8jqbm985d9g/container (7) (1).png")

                        //- table.w245(align="center")
                        //-     tr 
                        //-         td.pt40.pb0 
                        //-             .button-wrapper_bot.pt0
                        //-                 table.medium-button.radius.blue-button
                        //-                     tr
                        //-                         td.iq.blue-button
                        //-                             a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_02 }}$

                        p.hello.pb12.pt20 ${{ Exnova-Influence-181d-730usd.block_16 }}$ {{embedded.user_first_name}}${{ Exnova-Influence-181d-730usd.block_18 }}$
                        p.text ${{ Exnova-Influence-181d-730usd.block_19 }}$
                        //- p.text 
                        //-     a.link-blue(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_06 }}$
                        //-     |&nbsp;${{ exnova-TON.block_07 }}$


                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova-Influence-30dollars-181d-730d&retrack=Exnova-Influence-30dollars-181d-730d&instrument=crypto&assetId=2077" target="_blank") ${{ Exnova-Influence-181d-730usd.block_20 }}$
.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/2v/l5mfu8jqbm985da0/Wow (1).png")

                        //- a(href="#" target="_blank")
                        //-     img.banner(src="https://fsms.quadcode.com/storage/public/cr/2v/l5mfu8jqbm985da0/Wow (1).png")
                        //- p.text.data-blue.center(style="font-weight: 700;") ${{ exnova-TON.block_01 }}$
                        p.subtitle.pb24.pt32  ${{ Exnova-Influence-181d-730usd.block_21 }}$
                        ul 
                            li.pb8
                                p.text ${{ Exnova-Influence-181d-730usd.block_22 }}$
                            li.pb8
                                p.text ${{ Exnova-Influence-181d-730usd.block_23 }}$
                            li.pb8
                                p.text ${{ Exnova-Influence-181d-730usd.block_24 }}$        
                            li.pb24   
                                p.text ${{ Exnova-Influence-181d-730usd.block_25 }}$
                        p.text.pb32 ${{ Exnova-Influence-181d-730usd.block_26 }}$
                
              
                            //- p.subtitle-2.pb32.center ${{ exnova-TON.block_11 }}$
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova-Influence-30dollars-181d-730d&retrack=Exnova-Influence-30dollars-181d-730d&instrument=crypto&assetId=2077" target="_blank") ${{ Exnova-Influence-181d-730usd.block_27 }}$

