
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-bonus&retrack=exnova-bonus" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-bonus&retrack=exnova-bonus" target="_blank") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.last.pt20.pb20
            a(href="https://trade.exnova.com/traderoom/deeplink/deposit?amount=100?aff=7&amp;afftrack=mail_exnova-bonus&amp;retrack=exnova-bonus" target="_blank")
                img.banner(src="https://fsms.quadcode.com/storage/public/cj/1m/40piuavv9levmbd0/pic (1).png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb10
                        //- p.title.pt10.pb15 ${{ exnova-bonus.block_00 }}$ 
                        //-     span.span-blue ${{ exnova-bonus.block_01 }}$
                        p.text.pb10 
                            b ${{ exnova-bonus.block_01 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb20 ${{ exnova-bonus.block_03 }}$
                        table.w245(align="center")
                            tr 
                                td.pt0.pb30 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/deposit?amount=100?aff=7&amp;afftrack=mail_exnova-bonus&amp;retrack=exnova-bonus" target="_blank") ${{ exnova-bonus.block_04 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")


table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title-2.pb20 
                            span.span-blue 
                            |${{ exnova-bonus.block_05 }}$
                        p.text.pb0 ${{ exnova-bonus.block_06 }}$
                        table.w245(align="center")
                            tr 
                                td.pt20.pb30 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/deposit?amount=100?aff=7&amp;afftrack=mail_exnova-bonus&amp;retrack=exnova-bonus" target="_blank") ${{ exnova-bonus.block_07 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb20 ${{ exnova-bonus.block_09 }}$ 
                        
                        table.row
                            tr 
                                td.asset-block
                                        p.white-box ${{ exnova-bonus.block_10 }}$
                                        p.text.pt10.pb20 ${{ exnova-bonus.block_11 }}$
                                        p.white-box ${{ exnova-bonus.block_12 }}$
                                        p.text.pt10.pb20 ${{ exnova-bonus.block_13 }}$
                                        p.white-box ${{ exnova-bonus.block_14 }}$
                                        p.text.pt10 ${{ exnova-bonus.block_15 }}$

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.subtitle.pb20 ${{ exnova-bonus.block_16 }}$
                        p.text.pb20 ${{ exnova-bonus.block_17 }}$ 
                tr
                    td.text-pad-small.pb20
                        .left-block
                            img.block-img(src="https://fsms.quadcode.com/storage/public/cl/73/5hel467bt1j2o0g0/icon-1.png")

                        .right-block
                            p.text.list-item ${{ exnova-bonus.block_18 }}$

                tr
                    td.text-pad-small.pb20
                        .left-block
                            img.block-img(src="https://fsms.quadcode.com/storage/public/cl/73/5hel467bt1j2o0gg/icon-2.png")

                        .right-block
                            p.text.list-item ${{ exnova-bonus.block_19 }}$

                tr
                    td.text-pad-small.pb20
                        .left-block
                            img.block-img(src="https://fsms.quadcode.com/storage/public/cl/73/5hevga51bgs4iakg/icon-3.png")

                        .right-block
                            p.text.list-item ${{ exnova-bonus.block_20 }}$

                tr
                    td.text-pad-small.pb5
                        .left-block
                            img.block-img(src="https://fsms.quadcode.com/storage/public/cl/73/6iel467bt1j2o0h0/icon-5.png")

                        .right-block
                            p.text.list-item ${{ exnova-bonus.block_21 }}$

                tr
                    td.text-pad-small.pb0
                        p.text.pt20 ${{ exnova-bonus.block_22 }}$ 
                        table.w245(align="center")
                            tr 
                                td.pt20.pb30
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/deposit?amount=100?aff=7&amp;afftrack=mail_exnova-bonus&amp;retrack=exnova-bonus" target="_blank") ${{ exnova-bonus.block_23 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb20
                            //- span.span-blue ${{ exnova-bonus.block_24 }}$ 
                            |${{ exnova-bonus.block_24 }}$
                        

                        p.text ${{ exnova-bonus.block_25 }}$ 
                            a.link(href="mailto:{{embedded.company_email}}" target="_blank") ${{ exnova-bonus.block_26 }}$
                            |&ensp;${{ exnova-bonus.block_27 }}$
