table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pb20.pt25
                        .center        
                            img.article-left.bottom-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a87494270c8d2b0j6/Group_195.png")
                            p(dir="rtl").big-text.center ${{ digest-05-03-23.block_23 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a871e23a0i2e4d3e8/Group_193.png")              

                tr
                    td.pb50.pt0
                        a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=3901&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" universal="true" target="_blank")
                            .left-mob.white-bg.br10.bg-arrow    
                                .padding-tournament

                                    p(dir="rtl").min-data ${{ digest-19-04-23.block_21 }}$
                                    p(dir="rtl").text-week.pb15 11.11 Anniversary Tournament
                                    .arrow-round   
                                        a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=3901&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" universal="true" target="_blank")
                                            img(src="https://fsms.iqoption.com/storage/public/cg/mk/vrfm73k4mm2dgol0/Group 201 (1).png")  

                                    .rb
                                        .pizzle
                                            p.pizzle-text.pb18 ${{ digest-19-04-23.block_22 }}$
                                            p.pizzle-number.pb18 ${{ digest-19-04-23.block_23 }}$
                                        .entry
                                            p.pizzle-text.pb18 ${{ digest-19-04-23.block_24 }}$
                                            p.pizzle-number.pb18 ${{ digest-19-04-23.block_25 }}$

                        a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=3880&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" universal="true" target="_blank")            
                            .right-mob.white-bg.br10.bg-arrow   
                                    .padding-tournament
                                        
                                        p.min-data ${{ digest-19-04-23.block_28 }}$
                                        p.text-week.pb15 Weekend Treat
                                        .arrow-round   
                                            a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=3880&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" universal="true" target="_blank")
            
                                                img(src="https://fsms.iqoption.com/storage/public/cg/mk/vrfm73k4mm2dgol0/Group 201 (1).png")  

                                        .rb
                                            .pizzle
                                                p.pizzle-text.pb18 ${{ digest-19-04-23.block_22 }}$
                                                p.pizzle-number.pb18 ${{ digest-19-04-23.block_30 }}$
                                            .entry
                                                p.pizzle-text.pb18 ${{ digest-19-04-23.block_24 }}$
                                                p.pizzle-number.pb18 ${{ digest-19-04-23.block_32 }}$

table(background="https://static.cdnroute.io/files/storage/public/62/69/16d8138066e5e2c6f1/Frame_57__1_.pngg").row.blue-background
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .forty-five &nbsp;
                        p(dir="rtl").white-big-text.plr30.pb15.center ${{ digest-19-04-23.block_35 }}$
                        p.white-min-text.plr30.center ${{ digest-19-04-23.block_36 }}$
                        .thirty-five &nbsp;    

table.row
    tr
        td.wrapper.last.pt35
            table.twelve.columns
                tr
                    td
                        .socials.center
                            a.first-link(href="${{ socials-3.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vdg/fb.png")
                            a(href="${{ socials-3.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7ve0/ig.png")
                            a(href="${{ socials-3.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/gb285cee2vclvjq0/yt.png")
                            a.last-link(href="${{ socials-3.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vf0/tw.png")


