
table.row
    tr
        td.wrapper
            table.row.twelve.columns
                tr
                    td.wrapper.offset-by-four.last.pb0
                        table.four.columns
                            tr
                                td.pb0
                                    a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly" target="_blank")
                                        img.logo.center(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-full
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="#").nopoint
                            img.image.brad-full(src="https://static.cdnroute.io/files/storage/public/61/97/8676b57d17g5e0g7b3/capital_top__1_.png")

table.row
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb0.pt30

table.row.white-bg.brad-full
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt45.pb45.text-pad-small.plr30
                        .left-container
                            p.big-tabl-text.pb15.mob-center ${{ capitalBear-21-11-25.block_02 }}$
                            p.text.mob-center ${{ capitalBear-21-11-25.block_03 }}$
                        .right-container
                            .top-block
                                .padding(align="center")
                                    p.top-right-text.pb10.center ${{ capitalBear-21-11-25.block_04 }}$
                                    p.top-number.center ${{ capitalBear-21-11-25.block_05 }}$
                                    img.img-right.center.pb20.pt20(src="https://fsms.quadcode.com/storage/public/d4/kn/2a2nkfhebl8k68s0/micalp-capital.png")
                                    p.big-right-text.center.pb5 ${{ capitalBear-21-11-25.block_06 }}$
                                    p.big-greu-text.center.pb20 ${{ capitalBear-21-11-25.block_07 }}$
                                    .button-table
                                        a.but-text(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly&instrument=cfd&assetId=36" target="_blank") ${{ capitalBear-21-11-25.block_08 }}$
                                            img.arrow(src="https://static.cdnroute.io/files/storage/public/5c/f6/2d3d850972d6d6i7d8/beginer_arrow.png") 

table.row
    tr
        td.wrapper.last.pt40
            table.elewen.columns
                tr
                    td.pb25
                        p.black-subtitle.a-center ${{ capitalBear-21-11-25.block_09 }}$
               
table.row
    tr
        td.wrapper.last.pt0                        
            table.elewen.columns
                tr
                    td(background="https://fsms.iqoption.com/storage/public/cg/a5/dofm73k4mm2dgm2g/Group 104 (1).png").pt0.pb0.green
                        .left-side
                            .padding-left
                                p.title-side.pt40.pb15 ${{ capitalBear-21-11-25.block_10 }}$
                                //- p.title-side.pb15-a &nbsp;
                                //${{ capitalBear-15-07-22.block_06 }}$
                                p.text-side.pb-left ${{ capitalBear-21-11-25.block_11 }}$
                                .button-wrapper.pt0.medium-button-mini.wh157
                                    table.medium-button.radius
                                        tr
                                            td.bg-none
                                                a.butt-mini(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly&instrument=binary&assetId=2084" target="_blank") 
                                                    | ${{ capitalBear-21-11-25.block_12 }}$
                                                    img.arr(src="https://static.cdnroute.io/files/storage/public/61/96/4a0579a307c2f2b6f8/min_arrow_2.png")
                            .div-head &nbsp;                  

.div-head &nbsp;  

table.row
    tr
        td.wrapper.last.pt0                     
            table.elewen.columns    
                tr
                    td(background="https://fsms.iqoption.com/storage/public/cg/a5/do81ik1e3hsi37k0/Frame 12 (2).png").pt0.pb0.red 
                        .right-side
                            .pr-top
                                p.title-side.pt40.pb15 ${{ capitalBear-21-11-25.block_13 }}$
                            .padding-right    
                                
                                p.text-side.pb-right ${{ capitalBear-21-11-25.block_14 }}$
                                .button-wrapper.pt0.medium-button-right.wh190
                                    table.medium-button.radius
                                        tr
                                            td.bg-none
                                                a.butt-mini(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weeklyinstrument=binary&assetId=2090" target="_blank") 
                                                    | ${{ capitalBear-21-11-25.block_15 }}$
                                                    img.arr(src="https://static.cdnroute.io/files/storage/public/61/96/4a0579a307c2f2b6f8/min_arrow_2.png")
                                .div-head &nbsp;                  

                tr
                    td.pb25.pt40
                        p.black-subtitle.a-center ${{ capitalBear-21-11-25.block_16 }}$

                tr
                    td.pb30.text-pad-small
                        .social-links.pb10.pt0
                            .top-flag
                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly&instrument=binary&assetId=2148" target="_blank")
                                    .countries-block-new.mr15.fl-l
                                        .l-b
                                            p.item-title.pb3.fz16 ${{ capitalBear-21-11-25.block_17 }}$
                                            p.item-subtitle ${{ capitalBear-21-11-25.block_18 }}$
                                            p.bottom-block ${{ capitalBear-21-11-25.block_19 }}$
                                        .r-b
                                            p.item-number ${{ capitalBear-21-11-25.block_20 }}$
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")
                                             
                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly$&retrack=capital-Weekly&instrument=crypto&assetId=821" target="_blank")
                                    .countries-block-new.fl-r
                                        .l-b
                                            p.item-title.pb3.fz16 ${{ capitalBear-21-11-25.block_21 }}$
                                            p.item-subtitle ${{ capitalBear-21-11-25.block_22 }}$
                                            p.bottom-block ${{ capitalBear-21-11-25.block_23 }}$
                                        .r-b
                                            p.item-number ${{ capitalBear-21-11-25.block_24 }}$
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")

                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly&instrument=binary&assetId=2091" target="_blank")
                                    .countries-block-new.mr15.fl-l
                                        .l-b
                                            p.item-title.pb3.fz16 ${{ capitalBear-21-11-25.block_25 }}$
                                            p.item-subtitle ${{ capitalBear-21-11-25.block_26 }}$
                                            p.bottom-block ${{ capitalBear-21-11-25.block_27 }}$
                                        .r-b
                                            p.item-number ${{ capitalBear-21-11-25.block_28 }}$
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")
                                            
                                a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly&instrument=crypto&assetId=819" target="_blank")
                                    .countries-block-new.fl-r
                                        .l-b
                                            p.item-title.pb3.fz16 ${{ capitalBear-21-11-25.block_29 }}$
                                            p.item-subtitle ${{ capitalBear-21-11-25.block_30 }}$
                                            p.bottom-block ${{ capitalBear-21-11-25.block_31 }}$
                                        .r-b
                                            p.item-number ${{ capitalBear-21-11-25.block_32 }}$
                                            img.znak-img(src="https://static.cdnroute.io/files/storage/public/61/96/6bf6d2c054g5i1d5j3/111.png")

table.row.white-bg.brad-top
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb20.pt20.text-pad-small
                        a(href="#")
                            img.bottom-img.center(src="https://static.cdnroute.io/files/storage/public/61/96/69d68074f4d6g3d3i4/Bitmap_2.png")
                        p.text-title.pb20.center ${{ capitalBear-21-11-25.block_33 }}$
                        //p.text-subtitle-bot.pb20.center ${{ capitalBear-14-01-22.block_17 }}$
                        p.text.center ${{ capitalBear-21-11-25.block_34 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-three.pt5
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.pr30-a.borfer-bbb
                            table.medium-button.radius.borfer-bbb
                                tr
                                    td.iq.borfer-bbb
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly" target="_blank") ${{ capitalBear-21-11-25.block_35 }}$

//- table.row
//-     tr
//-         td.wrapper.last.pt40.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.text-pad-small.pb20
//-                         p.black-subtitle.pb10.center ${{ capitalBear-21-11-25.block_19 }}$
//-                         p.text.center ${{ capitalBear-21-11-25.block_20 }}$
//-                             img.arr-pn(src="https://static.cdnroute.io/files/storage/public/61/ea/a05b0c5b04f3d1g2g3/serd__1_.png")

//-                 tr
//-                     td.center
//-                         .stor.center
//-                             a.a-app(href="${{ capitalBear-21-11-25.block_20 }}$" target="_blank")
//-                                 img.app-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f57d7f8i7j4i5j1/fb.png")
//-                             a.a-google(href="${{ capitalBear-21-11-25.block_21 }}$" target="_blank")
//-                                 img.google-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f5ad843a0g9c4b7/inst.png")
