
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-nodep-bonus&retrack=exnova-nodep-bonus" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-nodep-bonus&retrack=exnova-nodep-bonus" target="_blank") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.last.pt20.pb30
            a(href="#" target="_blank")
                img.banner(src="https://fsms.quadcode.com/storage/public/cn/1p/e9q85cee2vclvdng/banner-1.png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb10
                        p.text.pb15(style="font-size: 20px; line-height: 26px;") 
                            b ${{ exnova-nodep-bonus.block_00 }}$ {{embedded.user_first_name}}
                        p.text.pb20 ${{ exnova-nodep-bonus.block_02 }}$

                        table.w245(align="center")
                            tr 
                                td.pt20.pb30 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="#" target="_blank") ${{ exnova-nodep-bonus.block_03 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row.white-bg
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle ${{ exnova-nodep-bonus.block_04 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.pb0
            table.twelve.columns
                tr
                    td.pb0.text-pad-small.plr50.background-arrow
                        .social-links.pt0.pb30
                            .countries-block-new.fisrt-block
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cn/1p/e9q85cee2vclvdlg/step-1.png")
                                    p.text.pt12.center ${{ exnova-nodep-bonus.block_05 }}$ ${{ exnova-nodep-bonus.block_06 }}$

                            .countries-block-new.mar-mob
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cn/1p/e9q85cee2vclvdmg/step-2.png")
                                    p.text.pt12.center ${{ exnova-nodep-bonus.block_07 }}$
                        
                            .countries-block-new
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cn/1p/e9q03qqv4qln7pn0/step-3.png")
                                    p.text.pt12.center ${{ exnova-nodep-bonus.block_08 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr 
                    td.text-pad-small.pt20.pb20.bb
                        p.subtitle.center(style="font-size: 20px;") ${{ exnova-nodep-bonus.block_09 }}$
                tr
                    td.text-pad-small.pb0
                        table.w245(align="center")
                            tr 
                                td.pt30.pb40 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="#" target="_blank") ${{ exnova-nodep-bonus.block_10 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.pb30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        .blue-block
                            p.text.center(style="font-size: 20px; line-height: 26px; color: #293753;").mob-text ${{ exnova-nodep-bonus.block_11 }}$ 
