
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-raffle-prizes&retrack=exnova-raffle-prizes&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-raffle-prizesl&retrack=exnova-raffle-prizes&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        //- p.title.pb16 ${{ exnova-raffle-prizes.block_01 }}$ 
                        p.subtitle.pb16 ${{ exnova-raffle-prizes.block_01 }}$  ${{ exnova-raffle-prizes.block_02 }}$
                        a(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=exnova-raffle-prizes" target="_blank")
                            img.img-logo.center(src="https://fsms.quadcode.com/storage/public/cu/hk/3f9msj7st9h5co70/banner-1.png")
                        p.text.pb10.pt32 ${{ exnova-raffle-prizes.block_03 }}$
                        p.text.pb32 ${{ exnova-raffle-prizes.block_04 }}$

                        .orange-block 
                            p.promo ${{ exnova-raffle-prizes.block_05 }}$
                tr
                    td.text-pad-small.pb44
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=exnova-raffle-prizes" target="_blank") ${{ exnova-raffle-prizes.block_06 }}$

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.subtitle.pb24 ${{ exnova-raffle-prizes.block_07 }}$
                        

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ exnova-raffle-prizes.block_08 }}$
                                    p.text ${{ exnova-raffle-prizes.block_08 }}$

                        .h-12 &nbsp;

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ exnova-raffle-prizes.block_10 }}$
                                    p.text ${{ exnova-raffle-prizes.block_09 }}$

                        .h-12 &nbsp;

                        table.w100
                            tr
                                td.table-td
                                    //- p.text.pb5(style="font-size: 20px; line-height: 28px; font-weight: 700;") ${{ exnova-raffle-prizes.block_12 }}$
                                    p.text ${{ exnova-raffle-prizes.block_10 }}$

                        p.text.pt32
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=exnova-raffle-prizes" target="_blank") ${{ exnova-raffle-prizes.block_11 }}$

                tr
                    td.text-pad-small.pb44.pt32.bt
                        p.text.center.pb20 ${{ exnova-raffle-prizes.block_12 }}$
                        p.gray-text.center ${{ exnova-raffle-prizes.block_13 }}$&nbsp;
                            a.link(href="http://trade.exnova.com/pwa?aff=7&afftrack=mail_iq-pwa&retrack=exnova-raffle-prizes" target="_blank") ${{ exnova-raffle-prizes.block_14 }}$
                            |${{ exnova-raffle-prizes.block_15 }}$

.h-12 &nbsp;

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_pwa-install5" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_pwa-install&retrack=pwa-install5" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")

