table.w100.max-w480(align="center")
    tr
        td.v-middle
            a(href="#" target="_blank")
                img.logo(src="https://static.cdnroute.io/files/storage/public/62/b2/e9e4a7c0f7a5f8a4b9/logo_exnova.png")
        td.v-middle
            table(align="right") 
                tr 
                    td.v-middle
                        a.invest-link(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") Invest now&nbsp;<img src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png" class="arrow-icon" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: inline-block; float: none; font-family: 'Roboto','Helvetica','Arial',sans-serif !important; max-width: 18px; outline: none; padding-left: 5px; text-decoration: none; vertical-align: middle; width: auto;">
    
table.w100.max-w620(align="center")
    tr 
        td(background="https://static.cdnroute.io/files/storage/public/62/c4/1e47085667h3a3j6g9/banner_1.png").v-middle.bg-exnova
            table.w100 
                tr 
                    td.pbbg &nbsp;
                tr 
                    td.pt20.mob-pad-head(align="center")
                                    table.w100.max-w480
                                        tr 
                                            td
                                                p.title-head ${{ exnova-deposit.block_01 }}$
                                                
    
    tr 
        td.pb50.mob-pad-head
            table.w100.max-w480(align="center")
                tr 
                    td
                        p.text-head.pb10 ${{ exnova-deposit.block_02 }}$ 
                        p.text-head.pt0 ${{ exnova-deposit.block_03 }}$ 
                        p.subtitle-head ${{ exnova-deposit.block_04 }}$ 

                tr 
                    td
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")  
                            table.table-btn 
                                tr 
                                    td.td-btn.blue-btn(height="50")
                                        table.w100(align="center")
                                            tr 
                                                td
                                                    <a href="{{embedded.domain}}/traderoom/asset?aff=7&amp;afftrack=mail_system&amp;retrack=system" target="_blank" class="butt" style="color: #fff; display: block; font-family: Helvetica !important; font-size: 16px !important; font-weight: 600 !important; letter-spacing: -.25px !important; margin: 0 !important; padding: 17px 0 !important; text-align: center; text-decoration: none; text-transform: none !important; width: 100%;">${{ exnova-deposit.block_18 }}$<img src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png" class="arrow-icon" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: inline-block; float: none; font-family: 'Roboto','Helvetica','Arial',sans-serif !important; max-width: 18px; outline: none; padding-left: 10px; text-decoration: none; vertical-align: middle; width: auto;"></a>

table.w100.max-w580(align="center")
    tr 
        td.white-bg(align="center")
            .plr50
                .div-offset-40 &nbsp;
                p.subtitle-text ${{ exnova-deposit.block_05 }}$
                .box
                    .card 
                        .plr20
                            .div-offset-20 &nbsp; 
                            table.w100 
                                tr 
                                    td(align="left")
                                        img.icon-card(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb5efa8b9f2a6f9h4/icon_1.png" width="36")
                            .div-offset-10 &nbsp; 
                            p.card-text ${{ exnova-deposit.block_06 }}$ 
                            p.card-title.mob-p0 ${{ exnova-deposit.block_07 }}$
                            .div-offset-20 &nbsp;
                    .div-offset-20 &nbsp;
                .center-box 
                    .card
                        .plr20
                            .div-offset-20 &nbsp; 
                            table.w100 
                                tr 
                                    td(align="left")
                                        img.icon-card(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb60bdce1e8f1h3e1/icon_2.png" width="36")
                            .div-offset-10 &nbsp; 
                            p.card-text ${{ exnova-deposit.block_08 }}$ 
                            p.card-text-2 ${{ exnova-deposit.block_09 }}$
                            .div-offset-20 &nbsp;
                    .div-offset-20 &nbsp;
                .box
                    .card
                        .plr20
                            .div-offset-20  &nbsp;
                            table.w100
                                tr 
                                    td(align="left")
                                        img.icon-card(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb5efa694i7i7d1a0/icon_3.png" width="36")
                            .div-offset-10 &nbsp; 
                            p.card-text ${{ exnova-deposit.block_10 }}$ 
                            p.card-title.mob-p0 ${{ exnova-deposit.block_11 }}$
                            .div-offset-20 &nbsp;  
                    .div-offset-20 &nbsp;
                p.text ${{ exnova-deposit.block_12 }}$
                .div-offset-20 &nbsp;
                table.w100
                    tr 
                        td.td-violet(align="left")
                            .div-offset-20 &nbsp;
                            .pl18
                                img.icon-card-2(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb619a233f3c4b3c2/icon_4.png" width="72")
                            .plr30 
                                p.text ${{ exnova-deposit.block_13 }}$
                            .div-offset-20 &nbsp;
                .div-offset-16 &nbsp;
                table.w100
                    tr 
                        td.td-violet(align="left")
                            .div-offset-20 &nbsp;
                            .pl18
                                img.icon-card-2(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb613ec00d0f0h4g9/icon_5.png" width="72")
                            .plr30 
                                p.text ${{ exnova-deposit.block_14 }}$
                            .div-offset-20 &nbsp;
                .div-offset-40 &nbsp;

.div-offset-8 &nbsp;

table.w100.max-w580(align="center")
    tr 
        td.white-bg(align="center")
            .plr50
                .div-offset-40
                p.subtitle-text ${{ exnova-deposit.block_15 }}$
                a(href="#" target="_blank")
                    img.video-banner(src="https://static.cdnroute.io/files/storage/public/62/c3/fcb62f02d2d3g5i1f0/banner_2.png" width="480")
                table.w100 
                    tr 
                        td(align="center")
                            .left-block
                                table.w100
                                    tr 
                                        td.td-violet.h-card(align="left" height="281")
                                            .plr24.min-h310
                                                .div-offset-20 &nbsp;
                                                img.icon-card-3(src="https://static.cdnroute.io/files/storage/public/62/c4/0f19699174c9b7i5f7/i1.png" width="50")
                                                .div-offset-20 &nbsp;
                                                p.text  ${{ exnova-deposit.block_16 }}$
                                                .div-offset-20 &nbsp;


                            .right-block
                                table.w100
                                    tr 
                                        td.td-violet.h-card(align="left" height="281")
                                            .plr24.min-h310
                                                .div-offset-20 &nbsp;
                                                img.icon-card-3(src="https://static.cdnroute.io/files/storage/public/62/c4/0f1969c6e0f0a4a0f1/i2.png" width="50")
                                                .div-offset-20 &nbsp;
                                                p.text  ${{ exnova-deposit.block_17 }}$
                                                .div-offset-49-spec &nbsp;


                table.w98.max-w480(align="center") 
                    tr 
                        td(height="25") &nbsp;
                    tr
                        td 
                            table.table-btn 
                                tr 
                                    td.td-btn.blue-btn(height="50")
                                        table.w100(align="center")
                                            tr 
                                                td
                                                    <a href="{{embedded.domain}}/traderoom/asset?aff=7&amp;afftrack=mail_system&amp;retrack=system" target="_blank" class="butt" style="color: #fff; display: block; font-family: Helvetica !important; font-size: 16px !important; font-weight: 600 !important; letter-spacing: -.25px !important; margin: 0 !important; padding: 17px 0 !important; text-align: center; text-decoration: none; text-transform: none !important; width: 100%;">${{ exnova-deposit.block_18 }}$<img src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png" class="arrow-icon" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: inline-block; float: none; font-family: 'Roboto','Helvetica','Arial',sans-serif !important; max-width: 18px; outline: none; padding-left: 10px; text-decoration: none; vertical-align: middle; width: auto;"></a>

                            .div-offset-40 &nbsp; 
.div-offset-50 &nbsp;







