
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Exnova_tons&retrack=Exnova_ton" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        //- p.text.data-blue.center(style="font-weight: 700;") ${{ exnova-TON.block_01 }}$
                        p.title.pb32 ${{ exnova-TON.block_01 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cq/u7/q3ufu8jqbm985b20/container (14).png")

                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_02 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.hello.pb12 ${{ exnova-TON.block_03 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb12 ${{ exnova-TON.block_05 }}$
                        p.text 
                            a.link-blue(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_06 }}$
                            |&nbsp;${{ exnova-TON.block_07 }}$


                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_08 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        //- p.text.data-blue.center(style="font-weight: 700;") ${{ exnova-TON.block_01 }}$
                        p.subtitle.pb32 ${{ exnova-TON.block_09 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cq/u7/q3ufu8jqbm985b2g/container (15).png")
                        p.text.pt32.pb40 ${{ exnova-TON.block_10 }}$
                
                        .blue-block
                            p.subtitle-2.pb32.center ${{ exnova-TON.block_11 }}$
                            table.w245(align="center")
                                tr 
                                    td.pt0.pb0 
                                        .button-wrapper_bot.pt0
                                            table.medium-button.radius.blue-button
                                                tr
                                                    td.iq.blue-button
                                                        a.butt(href="https://trade.exnova.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_Exnova_ton&retrack=Exnova_ton&instrument=crypto&assetId=2077" target="_blank") ${{ exnova-TON.block_12 }}$

