table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44

                        p.title.pb32 ${{ Exnova-Green-Red-market-1011.block_01 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/cv/el/v9rjqakhdj8lo5hg/Green-Red-Market-top.png")
                        p.text.pt32 ${{ Exnova-Green-Red-market-1011.block_02 }}$
                        //- p.text ${{ Exnova-Green-Red-market-1011.block_03 }}$
 
.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44 
                        p.title-head.pb24 ${{ Exnova-Green-Red-market-1011.block_03 }}$
                        p.text.pb24 ${{ Exnova-Green-Red-market-1011.block_04 }}$
                        .asset-block.mr-15
                            .asset-block-padding
                                .asset-img.asset-img-1
                                    p.asset-title ${{ Exnova-Green-Red-market-1011.block_05 }}$
                                    p.asset-subtitle ${{ Exnova-Green-Red-market-1011.block_06 }}$
                                    //- p.asset-subtitle &nbsp;
                                .h-24 &nbsp;
                                a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=digital-option&asset=1918" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2 ${{ Asset-deep-dive-07-03.block_22 }}$

                        .asset-block
                            .asset-block-padding
                                .asset-img.asset-img-2 
                                    p.asset-title ${{ Exnova-Green-Red-market-1011.block_07 }}$
                                    p.asset-subtitle ${{ Exnova-Green-Red-market-1011.block_08 }}$
                                .h-24 &nbsp;
                                a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=digital-option&asset=1916" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2 ${{ Asset-deep-dive-07-03.block_22 }}$

                        p.text.pt20.pb24 ${{ Exnova-Green-Red-market-1011.block_09 }}$

                        .asset-block-big
                            .asset-left
                                .asset-img.asset-img-3 
                                    p.asset-title ${{ Exnova-Green-Red-market-1011.block_10 }}$
                                    p.asset-subtitle ${{ Exnova-Green-Red-market-1011.block_11 }}$
                            .bottom-right 
                                a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=digital-option&asset=1976" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2 ${{ Asset-deep-dive-07-03.block_22 }}$

                        p.text.pt20.pb24 ${{ Exnova-Green-Red-market-1011.block_12 }}$

                        .asset-block.mr-15
                            .asset-block-padding
                                .asset-img.asset-img-4
                                    p.asset-title ${{ Exnova-Green-Red-market-1011.block_13 }}$
                                    p.asset-subtitle ${{ Exnova-Green-Red-market-1011.block_14 }}$
                                .h-24 &nbsp;
                                a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=digital-option&asset=2155" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2 ${{ Asset-deep-dive-07-03.block_22 }}$
                        .asset-block
                            .asset-block-padding
                                .asset-img.asset-img-5 
                                    p.asset-title ${{ Exnova-Green-Red-market-1011.block_15 }}$
                                    p.asset-subtitle ${{ Exnova-Green-Red-market-1011.block_16 }}$
                                .h-24 &nbsp;
                                a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market&type=crypto&asset=826" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2 ${{ Asset-deep-dive-07-03.block_22 }}$
                        
                        //- p.text.pt20 ${{ Exnova-Green-Red-market-1011.block_17 }}$
  
.h-12 &nbsp;

table.row.white-bg.brad-full(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title-fotter.pb32.center ${{ Exnova-Green-Red-market-1011.block_17 }}$
                        p.text.center.pb40 ${{ Exnova-Green-Red-market-1011.block_18 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://trade.exnova.com/en/counting?aff=7&afftrack=mail_mail_Green-Red-Market&promocode=BEAR100&retrack=mail_Green-Red-Market" universal="true" target="_blank") ${{ Exnova-Green-Red-market-1011.block_19 }}$

.h-12 &nbsp;

//- table.row.white-bg.brad-full
//-     tr
//-         td.wrapper.last.offset-by-one.pt44.pb0
//-             table.ten.columns
//-                 tr
//-                     td.pb32.text-pad-small
//-                         p.title-fotter ${{ Exnova-Green-Red-market-1011.block_21 }}$
//-     tr
//-         td.wrapper.last.pt0.pb0
//-             table.twelve.columns
//-                 tr
//-                     td.pb30.text-pad-small.plr50.background-arrow
//-                         .social-links.pt0
//-                             .countries-block-new.fisrt-block
//-                                     img.block-img(src="https://fsms.quadcode.com/storage/public/cv/en/ee3jqakhdj8lo5kg/SignIn.png")
//-                                     p.text.pt12.center.bw ${{ Exnova-Green-Red-market-1011.block_22 }}$ {{embedded.brand_name}} ${{ Exnova-Green-Red-market-1011.block_15 }}$

//-                             .countries-block-new.mar-mob
//-                                     img.block-img(src="https://fsms.quadcode.com/storage/public/cv/en/ee3jqakhdj8lo5l0/Promo.png")
//-                                     p.text.pt12.center.bw ${{ Exnova-Green-Red-market-1011.block_16 }}$
                        
//-                             .countries-block-new
//-                                     img.block-img(src="https://fsms.quadcode.com/storage/public/cv/en/ee1msj7rr6s51tp0/Trade.png")
//-                                     p.text.pt12.center.bw ${{ Exnova-Green-Red-market-1011.block_17 }}$

//-     tr
//-         td.wrapper.last.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.text-pad-small.pb44.pt0
//-                         table.w280(align="center")
//-                             tr
//-                                 td.butt.pb0
//-                                     a.butt-link(href="https://trade.exnova.com/en/counting?aff=7&afftrack=mail_mail_Green-Red-Market&promocode=MARKET110&retrack=mail_Green-Red-Market" universal="true" target="_blank") ${{ Exnova-Green-Red-market-1011.block_18 }}$

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0.pt50     
                        p.gray-text.pb15 ${{ Exnova-Green-Red-market-1011.block_20 }}$
                        p.gray-text ${{ Exnova-Green-Red-market-1011.block_21 }}$&nbsp;
                            a.link(href="https://exnova.com/terms/promocodes-policy/?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market" universal="true" target="_blank") ${{ Exnova-Green-Red-market-1011.block_22 }}$
                       

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center

                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_Green-Red-Market" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tpg/apple.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tr0/google.png")

table.row
    tr
        td.wrapper.last.pt32
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/cv/en/ht3jqakhdj8lo5m0/fb.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51ts0/ig.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht3jqakhdj8lo5mg/yt.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tq0/tg.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51trg/tw.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tqg/Dis.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/en/nu3jqakhdj8lo5n0/wats.png")
