
table.row
    tr
        td.wrapper
            table.row.twelve.columns
                tr
                    td.wrapper.offset-by-four.last.pb0
                        table.four.columns
                            tr
                                td.pb0
                                    a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-prod&retrack=capital-prod" target="_blank")
                                        img.logo.center(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.pt40.pb0.text-pad-small
                        p.title.pb20 ${{ capitalBear-prod-two.block_00 }}$
                        p.text.pb20 ${{ capitalBear-prod-two.block_01 }}$
                        //- p.text.pb20 ${{ capitalBear-prod-two.block_02 }}$
                        p.text.pb5 <b>${{ capitalBear-prod-two.block_02 }}$</b>
                        p.text.pb20 ${{ capitalBear-prod-two.block_03 }}$             

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb20.text-pad-small
                        a(href="#").nopoint
                            img.image(src="https://fsms.iqoption.com/storage/public/cb/bs/qqde0se5ps0qib70/Frame-721.png")
 
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.pt0.pb25.text-pad-small
                        p.text.pb20 ${{ capitalBear-prod-two.block_04 }}$
                        p.text.pb20 ${{ capitalBear-prod-two.block_05 }}$ 
                        p.text.pb20 ${{ capitalBear-prod-two.block_06 }}$ 
                        p.text.pb20 ${{ capitalBear-prod-two.block_07 }}$      
                               
table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.pr30-a.borfer-bbb
                            table.medium-button.radius.borfer-bbb
                                tr
                                    td.iq.borfer-bbb
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-prod&retrack=capital-prod" target="_blank") ${{ capitalBear-prod-two.block_08 }}$  
table.row.brad-bot
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb10

table.row.white-bg.brad-top
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb20.text-pad-small
                        p.black-subtitle ${{ capitalBear-prod-two.block_09 }}$
                tr
                    td.pt0.pb5.text-pad-small
                        .socials.pb20
                            .l-side
                                a(href="#" target="_blank")
                                    img.img-side(src="https://static.cdnroute.io/files/storage/public/62/bd/bbe6912815j5h4j7f5/Frame_712.png")

                            .r-side
                                p.title-side.pb5 step 1
                                p.text-side ${{ capitalBear-prod-two.block_10 }}$        
                        .socials.pb20
                            .l-side
                                a(href="#" target="_blank")
                                    img.img-side(src="https://static.cdnroute.io/files/storage/public/62/bd/bbe66ddf29e4g0i5c1/Frame_712__1_.png")
                            .r-side
                                p.title-side.pb5 step 2
                                p.text-side ${{ capitalBear-prod-two.block_11 }}$ 
                        .socials.pb20
                            .l-side
                                a(href="#" target="_blank")
                                    img.img-side(src="https://fsms.iqoption.com/storage/public/cb/bs/p55e0se5ps0qib5g/Frame 712 (6).png")
                            .r-side
                                p.title-side.pb5 step 3
                                p.text-side ${{ capitalBear-prod-two.block_12 }}$ 
                        .socials.pb20
                            .l-side
                                a(href="#" target="_blank")
                                    img.img-side(src="https://fsms.iqoption.com/storage/public/cb/bs/p55e0se5ps0qib50/Frame 712 (7).png")

                            .r-side
                                p.title-side.pb5 step 4
                                p.text-side ${{ capitalBear-prod-two.block_13 }}$                  

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.pr30-a.borfer-bbb
                            table.medium-button.radius.borfer-bbb
                                tr
                                    td.iq.borfer-bbb
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-prod&retrack=capital-prod" target="_blank") ${{ capitalBear-prod-two.block_14 }}$                         

table.row.brad-bot
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb10

table.row.white-bg.brad-top
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns
                tr
                    td.pb20.pt20.text-pad-small
                        a(href="#")
                            img.bottom-img.center(src="https://static.cdnroute.io/files/storage/public/62/d7/a6377b7e97j2b2d7a7/Group_294__1_.png")
                        p.text-title.pb20.center ${{ capitalBear-prod-two.block_15 }}$
                        //p.text-subtitle-bot.pb20.center ${{ capitalBear-14-01-22.block_17 }}$
                        p.text.center ${{ capitalBear-prod-two.block_16 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-three.pt5
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.pr30-a.borfer-bbb
                            table.medium-button.radius.borfer-bbb
                                tr
                                    td.iq.borfer-bbb
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-prod&retrack=capital-prod" target="_blank") ${{ capitalBear-prod-two.block_17 }}$

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-subtitle.pb10.center ${{ capitalBear-25-03-22.block_19 }}$
                        p.text.center ${{ capitalBear-25-03-22.block_20 }}$
                            img.arr-pn(src="https://static.cdnroute.io/files/storage/public/61/ea/a05b0c5b04f3d1g2g3/serd__1_.png")

                tr
                    td.center
                        .stor.center
                            a.a-app(href="https://www.facebook.com/Capital-Bear-108054551079940" target="_blank")
                                img.app-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f57d7f8i7j4i5j1/fb.png")
                            a.a-google(href="https://www.instagram.com/capitalbear/" target="_blank")
                                img.google-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f5ad843a0g9c4b7/inst.png")
