table.row
    tr
        td.pt30
            table.twelve.columns
                tr
                    td.text-pad-small.pb30.center
                        a(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_Sprint-Strategy&retrack=Sprint-Strategy&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank")
                            img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

//- table.row.bgr-color.brad-top
//-     tr
//-         td.wrapper.last.pt0.bgr-img
//-             table.twelve.columns
//-                 tr
//-                     td.text-pad-small.pb0.plr50
//-                         p.title.center ${{ Short-E-mail.block_00 }}$<br>
//-                             span.yello ${{ Short-E-mail.block_01 }}$
         
table.row.bgr-color.brad-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="#" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/cj/0e/7603jov9srte6reg/Container (4) (1).png")

table.row.white-bg
    tr
        td.wrapper.last.pt35.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb35
                        p.hello-text.pb20 ${{ Short-E-mail.block_03 }}$
                        p.text.pb5 ${{ Short-E-mail.block_04 }}$
                        p.text.pb5 ${{ Short-E-mail.block_05 }}$
                        p.text ${{ Short-E-mail.block_06 }}$
                
.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.hello-text.pb20 ${{ Short-E-mail.block_07 }}$
                        p.text.pb20 ${{ Short-E-mail.block_08 }}$
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/slg3jov9srte6r2g/Frame 824.png")
                        .right-container
                            p.text.pb2
                                span.number 1
                                |${{ Short-E-mail.block_09 }}$&nbsp;
                            p.text ${{ Short-E-mail.block_10 }}$    
                                a.a-link(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_Sprint-Strategy&retrack=Sprint-Strategy&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank") ${{ Short-E-mail.block_11 }}$
                tr
                    td.text-pad-small.pb0.pt24  
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/slhiuavv9levmatg/Frame 824 (1).png")
                        .right-container
                            p.text.pb2
                                span.number 2
                                |${{ Short-E-mail.block_12 }}$&nbsp;
                            p.text ${{ Short-E-mail.block_13 }}$    
                tr
                    td.text-pad-small.pb0.pt24  
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v4/mno3jov9srte6r40/Frame 715 (4) (1).png")
                        .right-container
                            p.text.pb2
                                span.number 3
                                |${{ Short-E-mail.block_14 }}$&nbsp;
                            p.text ${{ Short-E-mail.block_15 }}$    
                tr
                    td.text-pad-small.pb0.pt24  
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/slg3jov9srte6r10/Frame 715.png")
                        .right-container
                            p.text.pb2
                                span.number 4
                                |${{ Short-E-mail.block_16 }}$&nbsp;
                            p.text.pb5 ${{ Short-E-mail.block_17 }}$   
                            p.text ${{ Short-E-mail.block_18 }}$   

                tr
                    td.text-pad-small.pb0.pt24  
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/slg3jov9srte6r1g/Frame 715 (1).png")
                        .right-container
                            p.text.pb2
                                span.number 5
                                |${{ Short-E-mail.block_19 }}$&nbsp;
                            p.text 
                                span.green ${{ Short-E-mail.block_20 }}$&nbsp;
                                |${{ Short-E-mail.block_21 }}$    
                tr
                    td.text-pad-small.pb0.pt10
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/slg3jov9srte6r20/Frame 715 (2).png")
                        .right-container
                            p.text
                                span.red ${{ Short-E-mail.block_22 }}$&nbsp;
                                |${{ Short-E-mail.block_23 }}$                    
                tr
                    td.text-pad-small.pb24.pt24 
                        .left-container
                            a(href="#" target="_blank")
                                img(src="https://fsms.quadcode.com/storage/public/ci/v3/sl9iuavv9levmat0/Frame 715 (3).png")
                        .right-container
                            p.text.pb2
                                span.number 6
                                |${{ Short-E-mail.block_24 }}$&nbsp;
                            p.text ${{ Short-E-mail.block_25 }}$&nbsp;      
                                span.green ${{ Short-E-mail.block_26 }}$        
                                |&nbsp;${{ Short-E-mail.block_27 }}$&nbsp;       
                                span.red ${{ Short-E-mail.block_28 }}$        
                                |&nbsp;${{ Short-E-mail.block_29 }}$                    

.div-20 &nbsp;

table.row.green-bg.brad-full.border-bg-green
    tr
        td.wrapper.last.pt35.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb35
                        p.hello-text.pb20 ${{ Short-E-mail.block_30 }}$
                        p.text.pb10 
                            img.dot(src="https://static.cdnpub.info/files/storage/public/5e/8d/aa6a28c720a9i1g3f9/Oval Copy 3.png" width="10" height="10" alt="")
                            |${{ Short-E-mail.block_31 }}$
                        p.text.pb10 
                            img.dot(src="https://static.cdnpub.info/files/storage/public/5e/8d/aa6a28c720a9i1g3f9/Oval Copy 3.png" width="10" height="10" alt="")
                            |${{ Short-E-mail.block_32 }}$
                        p.text
                            img.dot(src="https://fsms.iqoption.com/storage/public/ch/s6/698d0gfsc472atmg/dot-affstore.png" width="10" height="10" alt="")
                            |${{ Short-E-mail.block_33 }}$

