.div-36 &nbsp;
table.row.dark-bg
    tr
        td.wrapper.last.pt35
            table.twelve.columns
                tr
                    td.text-pad-small.pb20
                        a.nopoint(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_Sprint-Strategy&retrack=Sprint-Strategy&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank")
                            img(src="https://fsms.quadcode.com/storage/public/ci/v3/sl9iuavv9levmasg/banner.png" style="max-width: 413px; margin: 0 auto; float: none; width: 100% !important;")

    tr
        td.wrapper.last.pt0.offset-by-two
            table.eight.columns
                tr
                    td.text-pad-small.pb20
                        p.title-blitz.center ${{ Short-E-mail.block_35 }}$&nbsp;
                            span.yell ${{ Short-E-mail.block_36 }}$
                            |&nbsp;${{ Short-E-mail.block_37 }}$

                        
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb35.text-pad-small.pt0
                        .button-wrapper.button-wrapper_top
                            table.medium-button.radius
                                tr
                                    td.iq.green-button
                                        a.butt(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank") ${{ Short-E-mail.block_38 }}$  
   
.div-36 &nbsp;
