table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrackmail_rewarded_reviews_2nd&retrack=rewarded_reviews_2nd" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrack=mail_rewarded_reviews_2nd&retrack=rewarded_reviews_2nd" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title.pb32 ${{ Strategy-bonus_Exnova-2.block_01 }}$
                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d0/nd/dq1msj7oc3be3cd0/Strategy-bonus_Exnova-2.png")
                        p.hello.pb12.pt32 ${{ Strategy-bonus_Exnova-2.block_04 }}$ {{embedded.user_first_name}} 👋
                        p.text.pb40 ${{ Strategy-bonus_Exnova-2.block_06 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrack=mail_rewarded_reviews_2nd&retrack=rewarded_reviews_2nd" universal="true" target="_blank") ${{ Strategy-bonus_Exnova-2.block_03 }}$
     
.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one.pb0
            table.ten.columns
                tr
                    td.text-pad-small.pb28.pt44
                        p.title-head ${{ Strategy-bonus_Exnova-2.block_07 }}$

    tr
        td.wrapper.last.pt0.pb0
            table.twelve.columns
                tr
                    td.pb32.text-pad-small.plr50.background-arrow
                        .social-links.pt0
                            .countries-block-new.fisrt-block
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/d0/nd/k0bjqakt70bn9ke0/SignIn.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova-2.block_08 }}$&nbsp;
                                        a.link(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrackmail_rewarded_reviews_2nd&retrack=rewarded_reviews_2nd" universal="true" target="_blank") ${{ Strategy-bonus_Exnova-2.block_09 }}$
                                        |${{ Strategy-bonus_Exnova-2.block_10 }}$
                            .countries-block-new.mar-mob
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/d0/nd/k09msj7oc3be3ce0/Promo.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova-2.block_11 }}$
                        
                            .countries-block-new
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/d0/nd/k09msj7oc3be3cdg/Accept.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova-2.block_12 }}$

    tr
        td.wrapper.last.offset-by-one.pb0
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt0
                        p.text.pb40 ${{ Strategy-bonus_Exnova-2.block_13 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/promo-centre?aff=7&afftrack=mail_rewarded_reviews_2nd&retrack=ewarded_reviews_2nd" universal="true" target="_blank") ${{ Strategy-bonus_Exnova-2.block_14 }}$

                tr
                    td.text-pad-small.pb44    
                        p.gray-text.center.pt32.bt-dash ${{ Strategy-bonus_Exnova-2.block_15 }}$
                        p.gray-text.center ${{ Strategy-bonus_Exnova-2.block_16 }}$

table.row
    tr
        td.wrapper.last.pt50.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        .stor.center
            
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_mail_rewarded_reviews_2nd" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_mail_rewarded_reviews_2nd&retrack=rewarded_reviews_2nd" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt20
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


