table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20 ${{ 8x-password.block_00 }}$
                        p.text ${{ 8x-password.block_01 }}$ {{embedded.brand_name}} ${{ 8x-password.block_03 }}$

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb0
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}{{activation_link}}" target="_blank") ${{ 8x-password.block_04 }}$
                        .right-side
                            p.small-text.center-small ${{ 8x-password.block_05 }}$&ensp;
                                span.red {{code}}     

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb0 ${{ 8x-password.block_07 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
