table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb25-a.pt50
                            
                        .right-block.fl-l.br10 
                            .padding-card
                                
                                    
                                p.flag-item.pb9
                                    |Meta
                                    img.flag-img(src="https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png")
                                .block-text
                                    
                                    p.profit-text.pt3.ta-r.d-inlbl ${{ digest-05-03-23.block_12 }}$
                                    p.green.pl6.pt3.ta-r.d-inlbl 575%
                                .cont    
                                    p.green-number $540
                                        img.arr-big(src="https://fsms.iqoption.com/storage/public/cg/mk/tc01ik1e3hsi39p0/Group 53 (1).png")
                                    p.big-number.pt10.pb25 $80
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=35" target="_blank") ${{ digest-05-03-23.block_15 }}$ 
                                //- https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png
                                //- https://static.cdnroute.io/files/storage/public/62/bc/339f9fbe69h0b8b3e4/btc.png
                        .left-block.fl-r.blue-bg.br10 
                            p.most-text ${{ digest-05-03-23.block_11 }}$  

                tr
                    td.pb25-a
                        .right-block.fl-r.br10 
                            .padding-card
                                
                                p.flag-item.pb9
                                    |QUALCOMM
                                    img.flag-img(src="https://static.cdnpub.info/files/storage/public/5f/7d/bc96a900e4g6f8i9f7/Group_13.png")
                                .block-text
                                    p.profit-text.pt3.ta-r.d-inlbl ${{ digest-05-03-23.block_12 }}$
                                    p.green.pl6.pt3.ta-r.d-inlbl 260%
                             
                                .cont    
                                    p.green-number $3,420
                                        img.arr-big(src="https://fsms.iqoption.com/storage/public/cg/mk/tc01ik1e3hsi39p0/Group 53 (1).png")
                                    p.big-number.pt10.pb25 $950
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=626" target="_blank") ${{ digest-05-03-23.block_15 }}$ 
                         
                        .left-block.fl-l.white-bg.br10.mh225 
                            p.big-green-number.center.plr10 502k
                            p.text-week.center.pb23.plr10.ta-center ${{ digest-05-03-23.block_20 }}$

                tr
                    td.pb50
                        .left-mob.white-bg.br10   
                            .padding
                                p.text-week.pb20 ${{digest-05-03-23.block_17 }}$
                                p.country-text
                                    |Andorra
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/cf/qv/37vm73k4mm2dgj6g/Andorra.png")
                                    
                                p.country-number.green +$887.45
                        .right-mob.white-bg.br10   
                            .padding
                                p.text-week.pb20 ${{ digest-05-03-23.block_17 }}$
                                    //${{ digest-27-04-22.block_18 }}$ 
                                p.country-text
                                    |Burkina Faso
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/cc/uj/u5ui9sl8a8p49ho0/Burkina-Faso (1).png")
                                    
                                p.country-number.green +$2,156.82

