table.row.transparent
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb35
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=instinct" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/9d/444d708e42b9e3j7j0/bg.png")

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb35
                        p.title.pb20 ${{ cb-instinct.block_00 }}$
                        p.text ${{ cb-instinct.block_01 }}$
table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb15
                        p.subtitle.pb30 ${{ cb-instinct.block_02 }}$
                        p.line-text ${{ cb-instinct.block_03 }}$
                        p.line-text.pb30 ${{ cb-instinct.block_04 }}$
                        .purple-block.mb15
                            p.block-title.pb20 ${{ cb-instinct.block_05 }}$
                            p.line-text ${{ cb-instinct.block_06 }}$
                            p.line-text ${{ cb-instinct.block_07 }}$
                            p.line-text ${{ cb-instinct.block_08 }}$
                            p.line-text.pb0 ${{ cb-instinct.block_09 }}$

                        .purple-block
                            p.block-title.pb20 ${{ cb-instinct.block_10 }}$
                            p.line-text ${{ cb-instinct.block_11 }}$
                            p.line-text ${{ cb-instinct.block_12 }}$
                            p.line-text ${{ cb-instinct.block_13 }}$
                            p.line-text.pb0 ${{ cb-instinct.block_14 }}$

                        p.smaller-text.pt30 ${{ cb-instinct.block_15 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb30
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=instinct" target="_blank") ${{ cb-instinct.block_16 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.pb15 ${{ cb-instinct.block_17 }}$
                        p.text.pb40 ${{ cb-instinct.block_18 }}$
                        .point.mb40
                            .point_left
                                img.point-img(src="https://static.cdnpub.info/files/storage/public/60/9d/444d6d1dc1g3e9d0a7/indies.png")
                            .point_right
                                p.point-title.pb15 ${{ cb-instinct.block_19 }}$
                                p.point-text.pb15 ${{ cb-instinct.block_20 }}$
                                a.try(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=instinct" target="_blank") ${{ cb-instinct.block_21 }}$
                                    img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")

                        .point.mb40
                            .point_left
                                img.point-img(src="https://static.cdnpub.info/files/storage/public/60/9d/444d74bb78a8c8b4e1/sentiment.png")
                            .point_right
                                p.point-title.pb15 ${{ cb-instinct.block_22 }}$
                                p.point-text.pb15 ${{ cb-instinct.block_23 }}$
                                a.try(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=instinct" target="_blank") ${{ cb-instinct.block_24 }}$
                                    img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")

                        .point
                            .point_left
                                img.point-img(src="https://static.cdnpub.info/files/storage/public/60/9d/444d728b43d6d1d0h3/news.png")
                            .point_right
                                p.point-title.pb15 ${{ cb-instinct.block_25 }}$
                                p.point-text.pb15 ${{ cb-instinct.block_26 }}$
                                a.try(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=instinct" target="_blank") ${{ cb-instinct.block_27 }}$
                                    img.arr(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d628ff1f6i1j9f6/arr.png")


table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.subtitle ${{ cb-instinct.block_28 }}$