
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb25.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-day-7&retrack=exnova-day-7" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-day-7&retrack=exnova-day-7" universal="true" target="_blank") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ Exnova-day-7.block_02 }}$ {{embedded.user_first_name}}${{ Exnova-day-7.block_04 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/ct/bc/s5vn71ajn3fd7gg0/Email 7.png")
                        p.text.pt32.pb10 ${{ Exnova-day-7.block_05 }}$
                        p.text.pb10 ${{ Exnova-day-7.block_06 }}$
                        p.text.pb10 ${{ Exnova-day-7.block_07 }}$
                        p.text.pb40 ${{ Exnova-day-7.block_08 }}$

                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-day-7&retrack=exnova-day-7" universal="true" target="_blank") ${{ Exnova-day-7.block_09 }}$

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb20 ${{ Exnova-day-7.block_10 }}$
                        table
                            tr
                                td.pb0.w-a.m-w-1
                                    p.number 1
                                td.pb0.w-a.m-w-2 
                                    a(href="#" target="_blank")
                                        img.smaiil-img(src="https://fsms.quadcode.com/storage/public/ct/6p/b976f6cetv899rk0/stepspics.png")
                                td.pb0.w-a
                                    p.text ${{ Exnova-day-7.block_11 }}$ ${{ Exnova-day-7.block_12 }}$${{ Exnova-day-7.block_13 }}$

                        .bbline &nbsp;
                        .div-21 &nbsp;

                        table
                            tr
                                td.pb0.w-a.m-w-1
                                    p.number 2
                                td.pb0.w-a.m-w-2 
                                    a(href="#" target="_blank")
                                        img.smaiil-img(src="https://fsms.quadcode.com/storage/public/ct/6p/b97n71ajn3fd7fdg/stepspics (1).png")
                                td.pb0.w-a
                                    p.text ${{ Exnova-day-7.block_14 }}$ ${{ Exnova-day-7.block_15 }}$ ${{ Exnova-day-7.block_16 }}$ 

                        .bbline &nbsp;
                        .div-21 &nbsp;
                        
                        table
                            tr
                                td.pb0.w-a.m-w-1
                                    p.number 3
                                td.pb0.w-a.m-w-2 
                                    a(href="#" target="_blank")
                                        img.smaiil-img(src="https://fsms.quadcode.com/storage/public/ct/6p/b976f6cetv899rl0/stepspics (2).png")
                                td.pb0.w-a
                                    p.text ${{ Exnova-day-7.block_17 }}$ 
                        p.text.pt32.pb10 ${{ Exnova-day-7.block_18 }}$ 
                        p.text.pb10 ${{ Exnova-day-7.block_19 }}$ 
                        p.text.pb40 ${{ Exnova-day-7.block_20 }}$ 
                
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-day-7&retrack=exnova-day-7" universal="true" target="_blank") ${{ Exnova-day-7.block_21 }}$


