table.row
    tr
        td.pb0
            table.row.twelve.columns
                tr
                    td.offset-by-one.wrapper.last.pb0
                        table.ten.columns
                            tr
                                td.wrapper.last.pb0
                                    a(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_iq-genesiv&retrack=iq-genesiv&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank")
                                        img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

table.row
    tr
        td.pb0
            table.row.bgr.twelve.columns
                tr 
                    td.wrapper.past.pt30.pb0
                        a(href="#" target="_blank")
                            img.img-logo.center(src="https://fsms.iqoption.com/storage/public/cl/fl/sfuvga51bgs4idfg/banner-1.png")
                tr
                    td.offset-by-one.wrapper.last.pt0.pb0
                        table.ten.columns
                            tr
                                td.pb45.text-pad-small
                                    //- p.white-text.center.pt0.pb10 ${{ iqcrowd.block_01 }}$
                                    p.title.pb0 ${{ genesiv.block_01 }}$

                                    //- table.w290(align="center")
                                        tr 
                                            td.pb0.butt-td
                                                a.butt-text(href="https://t.me/+nj13Flkt_5k0NWFl" target="_blank")
                                                    |${{ iqcrowd.block_03 }}$

.h8 &nbsp;

table.row.white-bg.brad-full
    tr
        td.offset-by-one.wrapper.last.pt35.pb35
            table.ten.columns
                tr
                    td.pt0.pb0.text-pad-small 
                        p.subtitle.pb20 ${{ genesiv.block_02 }}$
                        p.black-text.pb30 ${{ genesiv.block_03 }}$
                        
                        table.w290(align="left")
                                tr 
                                    td.pb0.butt-td
                                        a.butt-text(href="https://t.me/+nj13Flkt_5k0NWFl" target="_blank")
                                            |${{ genesiv.block_04 }}$

.h8 &nbsp;

table.row.white-bg.brad-full
    tr
        td.offset-by-one.wrapper.last.pt35.pb35
            table.ten.columns
                tr
                    td.pt0.pb0.text-pad-small 
                        p.subtitle.pb30 ${{ genesiv.block_05 }}$
                tr
                    td.pt0.pb12.text-pad-small
                        .left-block
                            .padding-box
                                img.block-icon(src="https://fsms.iqoption.com/storage/public/cl/fk/dbul467bt1j2o2pg/icon-1.png")
                                p.subtitle-head.pt10.pb5 ${{ genesiv.block_06 }}$
                                p.black-text ${{ genesiv.block_07 }}$

                        .right-block
                            .padding-box
                                img.block-icon(src="https://fsms.iqoption.com/storage/public/cl/fk/dbuvga51bgs4idd0/icon-2.png")
                                p.subtitle-head.pt10.pb5 ${{ genesiv.block_08 }}$
                                p.black-text ${{ genesiv.block_09 }}$

                tr
                    td.pt0.pb0.text-pad-small
                        .left-block
                            .padding-box
                                img.block-icon(src="https://fsms.iqoption.com/storage/public/cl/fk/dbuvga51bgs4iddg/icon-3.png")
                                p.subtitle-head.pt10.pb5 ${{ genesiv.block_10 }}$
                                p.black-text ${{ genesiv.block_11 }}$

                        .right-block
                            .padding-box
                                img.block-icon(src="https://fsms.iqoption.com/storage/public/cl/fk/dbul467bt1j2o2q0/icon-4.png")
                                p.subtitle-head.pt10.pb5 ${{ genesiv.block_12 }}$
                                p.black-text ${{ genesiv.block_13 }}$
                tr
                    td.pt20.pb0.text-pad-small 
                        
                        table.w420(align="left")
                                tr 
                                    td.pb0.butt-td
                                        a.butt-text-2(href="https://t.me/+nj13Flkt_5k0NWFl" target="_blank")
                                            |${{ genesiv.block_14 }}$

.h8 &nbsp;

table.row.white-bg.brad-full
    tr
        td.offset-by-one.wrapper.last.pt35.pb35
            table.ten.columns
                tr
                    td.pt0.pb0.text-pad-small 
                        p.subtitle.pb20 ${{ genesiv.block_15 }}$
                        p.black-text.pb10.list 
                            b ${{ genesiv.block_16 }}$ <br>
                            |${{ genesiv.block_17 }}$
                        p.black-text.pb10.list 
                            b ${{ genesiv.block_18 }}$ <br>
                            |${{ genesiv.block_19 }}$
                        p.black-text.pb25.list 
                            b ${{ genesiv.block_20 }}$ <br>
                            |${{ genesiv.block_21 }}$

                        table.w290(align="left")
                                tr 
                                    td.pb0.butt-td
                                        a.butt-text(href="https://t.me/+nj13Flkt_5k0NWFl" target="_blank")
                                            |${{ genesiv.block_22 }}$


                        //- p.black-text.pt50
                            b Disclaimer: 
                            |The information shared in this channel is not intended as investment advice.

table.row
    tr
        td.wrapper.last.pt20.offset-by-one
            table.ten.columns
                tr
                    td.pb0.pt20
                        
                            a(href="https://app.appsflyer.com/id871125783?pid=7&c=mail_iq-genesiv" target="_blank")
                                img.a-app(src="https://fsms.iqoption.com/storage/public/cj/9n/hohiuavv9levmcv0/app-2.png")
                            a(href="https://app.appsflyer.com/com.iqoption?pid=7&c=mail_iq-genesiv" target="_blank")
                                img.a-google(src="https://fsms.iqoption.com/storage/public/cj/9n/hog3jov9srte6t3g/goog.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td.offset-by-one.wrapper.last.pb0
                        table.ten.columns
                            tr 
                                td.text-pad-small.pb0.pt0
                                    .socials
                                        a.first-link(href="${{ socials-3.block_00 }}$" target="_blank")
                                            img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cj/9m/rqhiuavv9levmcu0/fb-icon.png")
                                        a(href="${{ socials-3.block_01 }}$" target="_blank")
                                            img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cj/9m/rqhiuavv9levmct0/inst-icon.png")
                                        a(href="${{ socials-3.block_03 }}$" target="_blank")
                                            img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cj/9m/r5o3jov9srte6t2g/yt-icon.png")
                                        a.last-link(href="${{ socials-3.block_02 }}$" target="_blank")
                                            img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cj/9m/rqhiuavv9levmctg/tw-icon.png")
                //- tr 
                //-     td.pt20.plr50 
                //-         a.blue-link(href="mailto:{{embedded.company_email}}" target="_blank")  ${{ event-sit.block_07 }}$
                //-             img.arrow-icon(src="https://fsms.iqoption.com/storage/public/ci/8q/an83jov9srte6mt0/arrow-right.png")
