table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb0
                        p.big-text-a.pb20.center ${{ digest-19-04-23.block_16 }}$
                        .left-mob.white-bg.br10   
                            .padding
                                p.country-text.ta-r
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/ck/se/bbqiauj9p8abqbv0/4-red-64.png")
                                    |<b>Daniel K.</b>
                                p.country-number.green.ta-r $8,819
                        .right-mob.white-bg.br10   
                            .padding
                                p.country-text.ta-r
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/ck/se/bbqiauj9p8abqbvg/9-blue-64.png")
                                    |<b>Christopher J.</b>
                                p.country-number.green.ta-r $5,086

table.row
    tr
        td.wrapper.last.offset-by-two.pt20
            table.eight.columns
                tr
                    td.pb50.text-pad-small
                        .button-wrapper.button-wrapper_top
                            table.medium-button.radius-big
                                tr
                                    td.iq
                                        a.butt(href="https://${{ situational-links.block_03 }}$/traderoom/deeplink/deposit?amount=100?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_39 }}$&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_39 }}$&retrack=digest-new-${{ digest-19-04-23.block_39 }}$" target="_blank") ${{ digest-19-04-23.block_17 }}$

