table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")


table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.title.pb20 ${{ transaction-review.block_00 }}$
                        p.text.pb10
                            strong ${{ transaction-review.block_01 }}$
                        p.text.pb10 ${{ transaction-review.block_02 }}$&ensp;
                            strong {{transaction_id}}
                            | &ensp;${{ transaction-review.block_03 }}$
                        p.text.pb10 ${{ transaction-review.block_04 }}$
                        p.text.pb10 ${{ transaction-review.block_05 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ transaction-review.block_06 }}$
                            | &ensp;${{ transaction-review.block_07 }}$