table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")
table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title.pb20 ${{ 8x-card-verified.block_00 }}$
                        p.text.pb10 ${{ 8x-card-verified.block_01 }}$&ensp;
                            strong {{card_last_digits}}
                            | &ensp;${{ 8x-card-verified.block_02 }}$
                        p.text ${{ 8x-card-verified.block_03 }}$


table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb40
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ 8x-go.block_00 }}$
table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15
                        .grey-block
                            p.block-title.pb5 ${{ 8x-card-verified.block_04 }}$
                            p.block-text ${{ 8x-card-verified.block_05 }}$&ensp;
                                a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ 8x-card-verified.block_06 }}$
                                | &ensp;${{ 8x-card-verified.block_07 }}$