table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb10  
                        //- .center
                  
                            //- img.top-right-center(src="https://fsms.iqoption.com/storage/public/ci/il/9qo3jov9srte6pd0/icon.png")
                            //- p.big-text.center.w70 
                            //-     ${{ digest-19-04-23.block_16 }}$
         
                            //- img.article-left.bottom-left-center(src="https://fsms.iqoption.com/storage/public/ci/il/9qo3jov9srte6pcg/icon (1).png")             

                        p.big-text-a.pb20.center ${{ digest-19-04-23.block_16 }}$

                tr
                    td.pb0          
                        .left-mob.white-bg.br10
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/cl/o4/eta85cee2vclv4h0/7-red-64.png")
                                    |<b>Mamdouh S.</b>
                                p.country-number.green $43,280
                        .right-mob.white-bg.br10   
                            .padding.pr5
                                p.country-text
                                    img.flag-country(src="https://fsms.quadcode.com/storage/public/cl/o4/eta03qqkt4t5tbd0/4-blue-64.png")
                                    |<b>William J.</b>
                                p.country-number.green $42,033

table.row
    tr
        td.wrapper.last.offset-by-two.pt20
            table.eight.columns
                tr
                    td.pb50.text-pad-small
                        .button-wrapper.button-wrapper_top
                            table.medium-button.radius-big
                                tr
                                    td.iq
                                        a.butt(href="https://${{ situational-links.block_03 }}$/traderoom/deeplink/deposit?amount=100?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_46 }}$&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_46 }}$&retrack=digest-new-${{ digest-19-04-23.block_46 }}$" target="_blank") ${{ digest-19-04-23.block_17 }}$




