table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pb20.pt25
                        .center        
                            img.article-left.bottom-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a87494270c8d2b0j6/Group_195.png")
                            p.big-text.center ${{ digest-02-11-22.block_23 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a871e23a0i2e4d3e8/Group_193.png")              

                tr
                    td.pb50.pt0
                        .left-bigBlog
                            table.row
                                tr
                                    td.pb17
                                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-05-10-22.block_42 }}$/tournaments/3506?&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_46 }}$&retrack=digest-new-${{ digest-19-04-23.block_46 }}$" target="_blank")
                                            .left-spook.br10.bg-arrow    
                                                .padding-tournament
                                                    p.min-data ${{ digest-19-04-23.block_28 }}$
                                                    p.text-week.pb15 Salary in a Day
                                                    .pizzle
                                                        p.pizzle-text.pb18 ${{ digest-19-04-23.block_29 }}$
                                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_30 }}$
                                                    .entry
                                                        p.pizzle-text.pb18 ${{ digest-19-04-23.block_31 }}$
                                                        p.pizzle-number.real-green.pb18 ${{ digest-19-04-23.block_32 }}$

                                tr
                                    td.pb0
                                        a(href="https://${{ situational-links.block_03 }}$/${{ digest-05-10-22.block_42 }}$/tournaments/3525?&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_46 }}$&retrack=digest-new-${{ digest-19-04-23.block_46 }}$" target="_blank")                
                                            .right-spook.br10.bg-arrow   
                                                .padding-tournament
                                                    p.min-data ${{ digest-19-04-23.block_35 }}$
                                                    p.text-week.pb15 Weekend Treat
                                                    .pizzle
                                                        p.pizzle-text.pb18 ${{ digest-19-04-23.block_36 }}$
                                                        p.pizzle-number.pb18 ${{ digest-19-04-23.block_37 }}$
                                                    .entry
                                                        p.pizzle-text.pb18 ${{ digest-19-04-23.block_38 }}$
                                                        p.pizzle-number.real-green.pb18 ${{ digest-19-04-23.block_39 }}$

                        .right-bigBlog
                            .pad-spook.pb15
                                       
                                .spook-button
                                    a.join-bottom.jp19(href="https://${{ situational-links.block_03 }}$/${{ digest-05-10-22.block_42 }}$/tournaments/3515?&aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_46 }}$&retrack=digest-new-${{ digest-19-04-23.block_46 }}$" target="_blank")  ${{ digest-19-04-23.block_40 }}$ 

table(background="https://static.cdnroute.io/files/storage/public/62/69/16d8138066e5e2c6f1/Frame_57__1_.png").row.blue-background
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .forty-five &nbsp;
                        p.white-big-text.plr30.pb15.center ${{ digest-19-04-23.block_42 }}$
                        p.white-min-text.plr30.center ${{ digest-19-04-23.block_43 }}$
                        //- p.white-min-text.plr30.center
                        .thirty-five &nbsp;                  

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td
                        .socials.center
                            a.first-link(href="${{ socials-2.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://static.cdnpub.info/files/storage/public/60/c9/b3a34e6326d4b6h2h4/facebook_circular_logo_2.png")
                            a(href="${{ socials-2.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://static.cdnpub.info/files/storage/public/5f/4f/77876a6b58i0b7h2e5/instagram_logo.png")
                            a(href="${{ socials-2.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://static.cdnpub.info/files/storage/public/5f/4f/7787a9fb78g4b9g8i6/youtube_logo.png")
                            a.last-link(href="${{ socials-2.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://static.cdnpub.info/files/storage/public/5f/4f/77876a4177i0g1j4d0/twitter_logo.png")


