
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-weekend-treat-0701&retrack=exnova-weekend-treat-0701" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_exnova-weekend-treat-0701&retrackexnova-weekend-treat-0701" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.data-blue(style="font-weight: 700;") ${{ 07-01-Weekend-Treat.block_01 }}$
                        //- p.title.pt15 ${{ 07-01-Weekend-Treat.block_02 }}$
                        p.title.pb32.pt15 ${{ 07-01-Weekend-Treat.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/d3/5a/ul3jqakt7v2kut7g/exnova-tournament-cup.png")

                        p.text.pt32 ${{ 07-01-Weekend-Treat.block_03 }}$


.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb12
                        p.small-title.pb32 ${{ 07-01-Weekend-Treat.block_04 }}$
                        .grey-box
                            p.text.pb16 ${{ 07-01-Weekend-Treat.block_05 }}$
                            p.big-date ${{ 07-01-Weekend-Treat.block_06 }}$
      
                            
                tr
                    td.text-pad-small.pb40.pt0

                        .left-block
                            .padding-blocks
                                p.text.pb16 ${{ Exnova-72-Hours.block_08 }}$
                                p.big-date.pb8 ${{ Exnova-72-Hours.block_09 }}$

                        .right-block
                            .padding-blocks
                                p.text.pb16 ${{ Exnova-72-Hours.block_10 }}$
                                p.big-date.pb8 $2

                tr
                    td.text-pad-small.pb44.pt0          
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/tournaments?id=5626&aff=7afftrack=mail_exnova-weekend-treat-0701&retrack=exnova-weekend-treat-0701" target="_blank") ${{ 07-01-Weekend-Treat.block_07 }}$

.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44

                        p.small-title.pb32 ${{ Exnova-72-Hours.block_13 }}$


                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        .circle 💰 
                                        //- a(href="#" target="_blank")
                                        //-     img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f20/Frame 69.png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ 07-01-Weekend-Treat.block_08 }}$</b>
                                        p.text ${{ 07-01-Weekend-Treat.block_09 }}$
                                        
                        .h-12 &nbsp;   

                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        .circle ⚡
                                        //- a(href="#" target="_blank")
                                        //-     img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f1g/Frame 69 (1).png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ Exnova-72-Hours.block_16 }}$</b>
                                        p.text ${{ Exnova-72-Hours.block_17 }}$

                        .h-12 &nbsp;  

                        .blue-blocks 
                            table
                                tr
                                    td.pb0.w-a.m-w
                                        .circle ⚙️
                                        //- a(href="#" target="_blank")
                                        //-     img.small-img(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f1g/Frame 69 (1).png")
                                    td.pb0.w-a
                                        p.text.pb4 <b>${{ Exnova-72-Hours.block_18 }}$</b>
                                        p.text ${{ Exnova-72-Hours.block_19 }}$
                         
 .h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
             table.ten.columns
                tr
                    td.text-pad-small.pb32
                        p.small-title ${{ Exnova-72-Hours.block_20 }}$
    tr
        td.wrapper.last.pt0.pb40
            table.twelve.columns
                tr
                    td.pb0.text-pad-small.plr50.background-arrow
                        .social-links.pt0.pb0
                            .countries-block-new.fisrt-block
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f10/stepspics.png")
                                    p.text.pt12.center ${{ Exnova-72-Hours.block_21 }}$ 

                            .countries-block-new.mar-mob
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehudi3umufautse0/stepspics (1).png")
                                    p.text.pt12.center ${{ Exnova-72-Hours.block_22 }}$
                        
                            .countries-block-new
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f00/stepspics (2).png")
                                    p.text.pt12.center ${{ Exnova-72-Hours.block_23 }}$ 
                            
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44                                
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/tournaments?id=5626&aff=7afftrack=mail_exnova-weekend-treat-0701&retrack=exnova-weekend-treat-0701" target="_blank") ${{ Exnova-72-Hours.block_24 }}$
                       
.h-12 &nbsp;

table.row
     tr
         td.wrapper.offset-by-one.last.pt44
             table.ten.columns
                 tr
                     td.text-pad-small.pb0
                        p.center.grey-text.pb12 ${{ 07-01-Weekend-Treat.block_10 }}$
                        p.center.grey-text ${{ 07-01-Weekend-Treat.block_11 }}$
