
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=forex&asset=1" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=forex&asset=1" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb20 ${{ exnova-raffle-1.block_01 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cu/lj/mdrjqakjdvu1mukg/banner-1.png")

                        p.text.pt20.pb20 ${{ exnova-raffle-1.block_02 }}$ ${{ exnova-raffle-1.block_03 }}$${{ exnova-raffle-1.block_04 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1" universal="true" target="_blank") ${{ exnova-raffle-1.block_05 }}$

.div-12 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb20 ${{ exnova-raffle-1.block_06 }}$

                        table.w100
                            tr
                                td.list.w65.pb0
                                    .digit 1
                                    .h-6 &nbsp;
                                    .blue-block |
                                    .h-6 &nbsp;

                                td.list.pb0
                                    p.text.pt15.pl22 ${{ exnova-raffle-1.block_07 }}$
                        
                        table.w100
                            tr
                                td.list.w65.pb0
                                    .digit 2
                                    .h-6 &nbsp;
                                    .blue-block |
                                    .h-6 &nbsp;

                                td.list.pb0
                                    p.text.pt15.pl22 ${{ exnova-raffle-1.block_08 }}$

                        table.w100
                            tr
                                td.list.w65.pb0(style="vertical-align: middle !important")
                                    .digit 3

                                td.list.pb0(style="vertical-align: middle !important")
                                    p.text.pl22 ${{ exnova-raffle-1.block_09 }}$

                        p.text.pt20.pb30 ${{ exnova-raffle-1.block_10 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=binary" universal="true" target="_blank") ${{ exnova-raffle-1.block_11 }}$

.div-12 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb30 ${{ exnova-raffle-1.block_12 }}$

                        .box
                            .bg-green-arrow
                                p.level ${{ exnova-raffle-1.block_13 }}$

                            .div-20 &nbsp;
                            p.title-blitz.pb10 ${{ exnova-raffle-1.block_14 }}$ 
                                span(style="color: #8EAAC7") &rarr; 
                                b ${{ exnova-raffle-1.block_15 }}$

                        .div-16 &nbsp;

                        .box
                            .bg-green-arrow
                                p.level ${{ exnova-raffle-1.block_16 }}$

                            .div-20 &nbsp;
                            p.title-blitz.pb10 ${{ exnova-raffle-1.block_17 }}$ 
                                span(style="color: #8EAAC7") &rarr; 
                                b ${{ exnova-raffle-1.block_18 }}$

                        .div-16 &nbsp;

                        .box
                            .bg-green-arrow
                                p.level ${{ exnova-raffle-1.block_19 }}$

                            .div-20 &nbsp;
                            p.title-blitz.pb10 ${{ exnova-raffle-1.block_20 }}$ 
                                span(style="color: #8EAAC7") &rarr; 
                                b ${{ exnova-raffle-1.block_21 }}$

                        .div-16 &nbsp;

                        .box
                            .bg-green-arrow
                                p.level ${{ exnova-raffle-1.block_22 }}$

                            .div-20 &nbsp;
                            p.title-blitz.pb10 ${{ exnova-raffle-1.block_23 }}$ 
                                span(style="color: #8EAAC7") &rarr; 
                                b ${{ exnova-raffle-1.block_24 }}$

                        .div-30 &nbsp;

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=binary" universal="true" target="_blank") ${{ exnova-raffle-1.block_25 }}$

.div-12 &nbsp;

table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb16 ${{ exnova-raffle-1.block_12 }}$
                        p.text.pb32 Find your user ID in the winners’ list! 🎉 Congratulations to everyone who won! If luck wasn’t on your side this time, don’t worry – another chance is waiting for you this week.
                        .box
                            table.w100
                                tr
                                    td.pb0.w-a  
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412
                                    td.pb0.m-w
                                        p.number-black $100
                            
                        .div-16 &nbsp;

                        .box
                            table.w100
                                tr
                                    td.pb0.w-a  
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412
                                    td.pb0.m-w
                                        p.number-black $150
                            
                        .div-16 &nbsp;

                        .box
                            table.w100
                                tr
                                    td.pb0.w-a  
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412
                                    td.pb0.m-w
                                        p.number-black $500
                            
                        .div-16 &nbsp;

                        .box
                            table.w100
                                tr
                                    td.pb0.w-a  
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412
                                    td.pb0.m-w
                                        p.number-black $1,000

                        .div-30 &nbsp;

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=binary" universal="true" target="_blank") Become a winner

.div-12 &nbsp;

//- table.row.white-bg.border-full
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb15 ${{ exnova-raffle-1.block_26 }}$
                        p.text.pb30 ${{ exnova-raffle-1.block_27 }}$

                        .box
                            p.level.pb ${{ exnova-raffle-1.block_13 }}$
                            .div-20 &nbsp;
                            table.w100
                                tr
                                    td.pb0
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412

                                    td.pb0
                                        p.title-btm(style="white-space: nowrap; padding-left: 10px;") $100

                        .div-16 &nbsp;

                        .box
                            p.level.pb ${{ exnova-raffle-1.block_16 }}$
                            .div-20 &nbsp;
                            table.w100
                                tr
                                    td.pb0
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412

                                    td.pb0
                                        p.title-btm(style="white-space: nowrap; padding-left: 10px;") $150

                        .div-16 &nbsp;

                        .box
                            p.level.pb ${{ exnova-raffle-1.block_19 }}$
                            .div-20 &nbsp;
                            table.w100
                                tr
                                    td.pb0
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412

                                    td.pb0
                                        p.title-btm(style="white-space: nowrap; padding-left: 10px;") $500

                        .div-16 &nbsp;

                        .box
                            p.level.pb ${{ exnova-raffle-1.block_22 }}$
                            .div-20 &nbsp;
                            table.w100
                                tr
                                    td.pb0
                                        p.text 42345, 12412, 53232, 523423, 42345, 12412, 53232, 523423,42345, 12412

                                    td.pb0
                                        p.title-btm(style="white-space: nowrap; padding-left: 10px;") $1000

                        .div-30 &nbsp;

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1&type=binary" universal="true" target="_blank") ${{ exnova-raffle-1.block_32 }}$

//- .div-12 &nbsp;

table.row.white-bg.border-full(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.subtitle.pb15.center ${{ exnova-raffle-1.block_33 }}$
                        p.text.pb30.center ${{ exnova-raffle-1.block_34 }}$
                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?aff=7&afftrack=mail_exnova-raffle-mail1&retrack=exnova-raffle-mail1" universal="true" target="_blank") ${{ exnova-raffle-1.block_35 }}$
