
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-newyear-2026retrack=exnova-newyear-2026&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-newyear-2026&retrack=exnova-newyear-2026&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;
.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44

                        p.title.pb32 ${{ exnova-newyear-2025.block_01 }}$ 

                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/d5/21/52oggnfho3e37mq0/exnova-ny.png")
                        p.text.pt32.pb12 ${{ exnova-newyear-2025.block_02 }}$ 

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44

                        p.middle-title.pb32 ${{ exnova-newyear-2025.block_03 }}$
              
                        p.text.pb8 ${{ exnova-newyear-2025.block_04 }}$

                        .promo-block
                            p.promo-text NEWYEAR2026

                        p.small-gray-text.pt6 ${{ exnova-newyear-2025.block_06 }}$
                        
                        table.w245(align="center")
                            tr
                                td.pt40.pb0
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=NEWYEAR2026&aff=7&afftrack=mail_exnova-newyear-2026&retrack=mail-exnova-newyear-2026&type=binary-option&asset=1" universal="true" target="_blank") ${{ exnova-newyear-2025.block_07 }}$

                tr
                    td.text-pad-small.pb44.pt0
                        .blue-block 
                            p.left-text ${{ exnova-newyear-2025.block_08 }}$
                            a(href="#" universal="true" target="_blank")
                                img.right-img(src="https://fsms.quadcode.com/storage/public/d5/4e/lc8ggnfho3e37n9g/exnova-right.png")

