table.row.transparent
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb35
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=payment" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a.nopoint(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/a5/2bf5025eb7c8f5g5e0/bg.png")

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb35
                        p.title.pb20 ${{ cb-payment.block_00 }}$
                        p.text.pb20 ${{ cb-payment.block_01 }}$
                        .purple-block
                            p.block-title.pb20 ${{ cb-payment.block_02 }}$
                            table
                                tr
                                    td.pb0.w-a
                                        a(href="#" target="_blank")
                                            img.dot(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png")
                                    td.pb0.w-a    
                                        p.line-text ${{ cb-payment.block_03 }}$
                                tr
                                    td.pb0.w-a  
                                        a(href="#" target="_blank")
                                            img.dot(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png")  
                                    td.pb0.w-a 
                                        p.line-text ${{ cb-payment.block_04 }}$
                                tr
                                    td.pb0.w-a   
                                        a(href="#" target="_blank")
                                            img.dot(src="https://static.cdnpub.info/files/storage/public/60/7e/a43d7eca79i7d1f9e4/dot.png") 
                                    td.pb0.w-a         
                                        p.line-text.pb0 ${{ cb-payment.block_05 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb15
                        p.subtitle.pb15 ${{ cb-payment.block_06 }}$
                        p.text.pb25 ${{ cb-payment.block_07 }}$

                        a.video-link(href="${{ cb-payment.block_22 }}$" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/60/a5/03f86a1d66d5j9d9a8/video.png")

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt10
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/counting/?aff=7&afftrack=mail&retrack=payment" target="_blank") ${{ cb-payment.block_08 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb10 ${{ cb-payment.block_09 }}$
                        p.text ${{ cb-payment.block_10 }}$
table.row.white-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb0
                        a.nopoint(href="#" target="_blank")
                            img.methods-img(src="https://static.cdnpub.info/files/storage/public/60/a5/38e5e56321h3a7b9e7/methods.png")
table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt10
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/counting/?aff=7&afftrack=mail&retrack=payment" target="_blank") ${{ cb-payment.block_11 }}$

table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.subtitle.pb25 ${{ cb-payment.block_12 }}$
table.row.white-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.plr30.pb0
                        .squares
                            .square
                                table(background="https://static.cdnpub.info/files/storage/public/60/a5/03f84575c0h8h6a4f1/sq1.png").square1
                                    tr
                                        td.pb0.pad20
                                         
                                                img.icon(src="https://static.cdnpub.info/files/storage/public/60/a5/03f8022b03e8e4b6j1/percent.png")
                                                p.sq-text ${{ cb-payment.block_13 }}$
                            .square
                                table(background="https://static.cdnpub.info/files/storage/public/60/a5/03f8493911h2g3b9i6/sq2.png").square1
                                    tr
                                        td.pb0.pad20
                                        
                                                img.icon(src="https://static.cdnpub.info/files/storage/public/60/a5/03f8106319c5h5d0a2/loopa.png")
                                                p.sq-text ${{ cb-payment.block_14 }}$
                            .square.square3
                                table(background="https://static.cdnpub.info/files/storage/public/60/a5/03f84275f8c9a5d0h9/sq3.png").square1
                                    tr
                                        td.pb0.pad20
                                            
                                                img.icon(src="https://static.cdnpub.info/files/storage/public/60/a5/03f82f0104d3e8i5g5/security.png")
                                                p.sq-text ${{ cb-payment.block_15 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.six.columns
                tr
                    td.text-pad-small.pb20
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="{{embedded.domain}}/counting/?aff=7&afftrack=mail&retrack=payment" target="_blank") ${{ cb-payment.block_16 }}$
table.row.transparent
    tr
        td.wrapper.last.pt10
            table.twelve.columns
                tr
                    td.text-pad-small.pb0

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.subtitle.pb10 ${{ cb-payment.block_17 }}$
                        p.text ${{ cb-payment.block_18 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
                            | &ensp;${{ cb-payment.block_20 }}$
table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="mailto:{{embedded.company_email}}" target="_blank") ${{ cb-payment.block_21 }}$
