table.row
    tr
        td
            table.twelve.columns
                tr
                    td.wrapper.last.pb5.pt5
                        a(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=1" target="_blank")
                            img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

table.row.bgr
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0.pt30
                        p.data-text.center ${{ digest-08-02-23.block_01 }}$
                        img.img-header.center(src="${{ digest-12-10-22.block_43 }}$")        

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.pt15.pb20
                        .center
                            img.article-left.top-left(src="https://static.cdnroute.io/files/storage/public/62/69/4a872ab1c7b4i9b9e5/Group_195__1_.png")
                            p.big-text.center
                                |${{ digest-08-02-23.block_03 }}$
                            img.article-right(src="https://static.cdnroute.io/files/storage/public/62/69/4a8720a9f3h9b8c9h2/Group_193__1_.png")              

    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.pb20.brad-bot
                        .left-side
                            .padding-min
                                a(href="${{ digest-08-02-23.block_45 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_40 }}$&aff=88&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-08-02-23" target="_blank")
                                    img.item-img.brad-full(src="https://fsms.iqoption.com/storage/public/ch/ma/hq6gbu954ogkdrrg/Frame 698 (34).png")
                            .padding
                                p.item-title.pb10 ${{ digest-08-02-23.block_05 }}$
                                     //img.fb-img(src="https://static.cdnroute.io/files/storage/public/62/a8/9553655ce2e4h8a2e0/fb_min.png")
                                p.item-text.pb15.pb15-a ${{ digest-08-02-23.block_06 }}$
                                a.item-link(href="${{ digest-08-02-23.block_45 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_40 }}$&aff=88&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$" target="_blank") ${{ digest-08-02-23.block_07 }}$
                                    img.arr(src="https://fsms.iqoption.com/storage/public/62/d6/7c3ee61fa6c4d6h4a2/blue_arrow.png")    
                        .right-side 
                            .padding-min
                                a(href="${{ digest-08-02-23.block_46 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_40 }}$&aff=208802&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$" target="_blank")
                                    img.item-img.brad-full(src="https://fsms.iqoption.com/storage/public/ch/ma/hq6gbu954ogkdrs0/Frame 698 (35).png")
                            .padding
                                p.item-title.pb10 ${{ digest-08-02-23.block_08 }}$
                                    //img.fb-img(src="https://static.cdnroute.io/files/storage/public/62/a8/9553655ce2e4h8a2e0/fb_min.png")
                                p.item-text.pb15-a ${{ digest-08-02-23.block_09 }}$
                                a.item-link(href="${{ digest-08-02-23.block_46 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ digest-19-04-23.block_40 }}$&aff=208802&afftrack=mail_digest-new-${{ digest-19-04-23.block_40 }}$&retrack=digest-new-${{ digest-19-04-23.block_40 }}$" target="_blank") ${{ digest-08-02-23.block_10 }}$
                                    img.arr(src="https://fsms.iqoption.com/storage/public/62/d6/7c3ee61fa6c4d6h4a2/blue_arrow.png") 
                    //208802
                    //.bord

//- table.row.blue-block
//-     tr
//-         td.wrapper.last.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.pt30.pb40.text-pad-small
//-                         p.title-blue-block.center ${{ digest-02-11-22.block_11 }}$  
//-                         p.text-blue-block.center ${{ digest-02-11-22.block_12 }}$     
//-                         .socials.center
//-                             a.first-link(href="${{ digest-02-11-22.block_44 }}$" target="_blank")
//-                                 img.soc-icon.fb-big(src="https://static.cdnroute.io/files/storage/public/62/84/bbb1077536d0b6b9i2/f_logo.png")
//-                             a(href="${{ digest-02-11-22.block_45 }}$" target="_blank")
//-                                 img.soc-icon.twitter-big(src="https://static.cdnroute.io/files/storage/public/62/84/bbb10c6773b3a3i9a3/instagram_logo.png")
//-                             //- a.last-link(href="${{ soc.block_02 }}$" target="_blank")
//-                             //-     img.soc-icon.ig-big(src="https://static.cdnroute.io/files/storage/public/62/84/bbb10c5863f1h8b6j1/twitter_icon.png")          
//-                             a.last-link(href="${{ digest-02-11-22.block_46 }}$" target="_blank")
//-                                 img.soc-icon.you-big(src="https://fsms.iqoption.com/storage/public/cd/h4/hcgd7ocfs51u7a10/youtube_logo (2) 2.png")          
     
    