table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb25-a.pt50
                        .left-block.fl-l.blue-bg.br10 
                            p.most-text ${{ digest-02-11-22.block_13 }}$  
                            
                        .right-block.fl-r.br10 
                            .padding-card
                                p.flag-item.pb9.flag-top
                                    img.flag-img(src="https://fsms.iqoption.com/storage/public/5f/d7/6876f11235j9j9b6g2/AUD_USD.png")
                                    |AUD/USD
                                p.profit-text.pt3 ${{ digest-02-11-22.block_15 }}$: 
                                    span.green.pl6.pt3 1,400%
                                .cont    
                                    p.big-number.pt10.pb25 $480
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $7,200
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-08-02-23&retrack=digest-new-08-02-23&${{ situational-links.block_01 }}$=forex&${{ situational-links.block_02 }}$=99" target="_blank") ${{ digest-02-11-22.block_38 }}$ 

                tr
                    td.pb25-a
                        .right-block.fl-l.br10 
                            .padding-card
                                p.flag-item.pb9.flag-bott
                                    img.flag-img(src="https://fsms.iqoption.com/storage/public/5f/7b/1c7690bba3b7d1g3a5/WTI.png")
                                    |Oil WTI
                                p.profit-text.pt5 ${{ digest-02-11-22.block_15 }}$:
                                    span.green.pl6.pt 120%
                                .cont      
                                    p.big-number.pt10.pb25 $3,800
                                        img.arr-big(src="https://static.cdnroute.io/files/storage/public/62/69/031cb0ffe1e5f4a0g1/Group_53__1_.png")
                                    p.green-number $8,360
                                .min-button 
                                    a.join-bottom(href="${{ situational-links.block_00 }}$?aff=7&afftrack=mail_digest-new-08-02-23&retrack=digest-new-08-02-23&${{ situational-links.block_01 }}$=cfd&${{ situational-links.block_02 }}$=971" target="_blank") ${{ digest-02-11-22.block_38 }}$
                
                        .left-block.fl-r.white-bg.br10.mh225 
                            p.big-green-number.center.plr10 394k  
                            p.text-week.center.pb23.plr10 ${{ digest-02-11-22.block_20 }}$

                tr
                    td.pb50
                        .left-mob.white-bg.br10   
                            .padding.pr5
                                p.text-week.pb20 ${{ digest-02-11-22.block_21 }}$
                                p.country-text
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/cb/oe/kvu2nrvalhpoeukg/Anguilla.png")
                                    |Anguilla
                                p.country-number.green +$2,826.74
                        .right-mob.white-bg.br10   
                            .padding.pr5
                                p.text-week.pb20 ${{ digest-02-11-22.block_22 }}$
                                    //${{ digest-27-04-22.block_18 }}$ 
                                p.country-text
                                    img.flag-country(src="https://fsms.iqoption.com/storage/public/cd/h6/0d8d7ocfs51u7a1g/Fiji.png")
                                    |Fiji
                                p.country-number.green +$838.91
