table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30.bb
                        p.title.pb20 ${{ gdpr-2.block_00 }}$
                        p.text.pb10
                            strong ${{ gdpr-2.block_01 }}$
                        p.text.pb10 ${{ gdpr-1-unreg.block_00 }}$
                        p.text.pb10 ${{ gdpr-2.block_03 }}$
                        p.text.pb10 ${{ gdpr-2.block_04 }}$
                        p.text.pb0 ${{ gdpr-2.block_05 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb20.bb
                        p.text.pb0 ${{ gdpr-2.block_06 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.big-text.pb20 ${{ gdpr-2.block_07 }}$

                        p.text.list.list_1
                            span.number I
                            | ${{ gdpr-2.block_08 }}$
                        p.text.list.list_2
                            span.number II
                            | ${{ gdpr-2.block_09 }}$
                        p.text.list.list_3.pb0
                            span.number III
                            | ${{ gdpr-2.block_10 }}$
                        p.text.italic.pt30 ${{ gdpr-2.block_11 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb10

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text.center ${{ gdpr-2.block_12 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}

