table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=split" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")
                tr
                    td.text-pad-small.pb40
                        p.title ${{ tesla-split.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb10
                        p.text.pb15 <b>${{ tesla-split.block_01 }}$</b>
                        p.text.pb15 ${{ tesla-split.block_02 }}$&ensp;
                            a(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_capital-split&retrack=capital-split&instrument=cfd&assetId=167" target="_blank") ${{ tesla-split.block_03 }}$
                            |&ensp;${{ tesla-split.block_04 }}$
                        p.text.pb20 ${{ tesla-split.block_05 }}$
                        p.text.pb0 ${{ tesla-split.block_06 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ tesla-split.block_07 }}$
                            |&ensp;${{ tesla-split.block_08 }}$    

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.six.columns
                tr
                    td.text-pad-small.vam.pb30
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=split" target="_blank") ${{ tesla-split.block_09 }}$    
                      
table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text ${{ tesla-split.block_10 }}$


