table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb20 ${{ b2b-fee-charged.block_00 }}$
                        p.text.pb10
                            strong ${{ b2b-fee-charged.block_01 }}$
                        p.text.pb30 ${{ b2b-fee-charged.block_02 }}$&ensp;{{embedded.brand_name}}&ensp;${{ b2b-fee-charged.block_03 }}$&ensp;
                            strong {{commission_sum}}
                            | ${{ b2b-fee-charged.block_04 }}$
                        .grey-block
                            p.small-text ${{ b2b-fee-charged.block_05 }}$&ensp;
                                a(href="{{embedded.general_fees}}" target="_blank") ${{ b2b-fee-charged.block_06 }}$
                                | &ensp;${{ b2b-fee-charged.block_07 }}$


table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb30 ${{ b2b-fee-charged.block_08 }}$
                        p.text.check.pb20 ${{ b2b-fee-charged.block_09 }}$&ensp;
                            strong {{embedded.brand_name}}
                            | &ensp;${{ b2b-fee-charged.block_10 }}$
                        p.text.cross ${{ b2b-fee-charged.block_11 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        .button-wrapper
                            table.medium-button.radius
                                tr
                                    td.iq
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ b2b-fee-charged.block_12 }}$&ensp;{{embedded.brand_name}}

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.center
                            span.italic ${{ b2b-fee-charged.block_13 }}$
                            | &ensp;🙏


