
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt28
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova-B&retrack=Leader-exnova-B&type=forex&asset=1" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova-B&retrack=Leader-exnova-B&type=forex&asset=1" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32 ${{ Leader-B.block_02 }}$
                        a(href="#" target="_blank")
                            img.under-img.center(src="https://fsms.quadcode.com/storage/public/d0/vc/863jqakt70bn9lq0/head-leader-b-exnova.png")


                        p.text.pb32.pt32 ${{ Leader-B.block_03 }}$

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 1

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-B.block_04 }}$ 
                                        p.text ${{ Leader-B.block_05 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 2

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-B.block_06 }}$ 
                                        p.text ${{ Leader-B.block_07 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 3

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-B.block_08 }}$ 
                                        p.text ${{ Leader-B.block_09 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 4

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-B.block_10 }}$ 
                                        p.text ${{ Leader-B.block_11 }}$

                        .h-12 &nbsp;

                        .grey-box
                            table.w100
                                tr
                                    td.w74.pb0(style="vertical-align: top; width: 74px;" width="74;")
                                        .digit
                                            p.digit-text(style="text-align: center; line-height: 46px;") 5

                                    td.auto.pb0(style="vertical-align: top")
                                        p.small-title.pb12 ${{ Leader-B.block_12 }}$ 
                                        p.text ${{ Leader-B.block_13 }}$

                tr
                    td.text-pad-small.pb44.pt0
               

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova-B&retrack=Leader-exnova-B&type=forex&asset=1" target="_blank") ${{ Leader-B.block_14 }}$
     
.h-12 &nbsp;    

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44.clock
                        p.orange-date Challenge
                        p.title.pb24.pt32 ${{ Leader-B.block_15 }}$
                        p.text ${{ Leader-B.block_16 }}$
    
.h-12 &nbsp;    

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44.bb
                        p.middle-title.pb32 ${{ Leader-B.block_17 }}$
                        table
                            tr
                                td.w-a-2.m-w-2
                                    .block-0 1
                                    .block-small
                                    .block-line &nbsp;  
                                td.w-a-2
                                    p.text.pt17 ${{ Leader-B.block_18 }}$
       
                            tr
                                td.w-a-2.m-w-2
                                    .block-small
                                    .block-0 2
                                    .block-small
                                    .block-line &nbsp; 
                                td.w-a-2
                                    p.text.pt12.pt12 ${{ Leader-B.block_19 }}$

                            tr
                                td.w-a-2.m-w-2
                                    .block-small
                                    .block-0 3
                                td.w-a-2
                                    p.text.pt12 ${{ Leader-B.block_20 }}$

                tr
                    td.text-pad-small.pt32.pb8
                        .grey-box-2
                            .bg1
                                p.text(style="font-weight: 700;")
                                    img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/863jqakt70bn9lp0/1-exnova.png")
                                    |&nbsp;1.
                                p.orange-text.pb10 $800

                tr
                    td.text-pad-small.pb0
                        .left-block
                            .grey-box-2
                                p.text(style="font-weight: 700;")
                                    img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dp0/2-exnova.png")
                                    |&nbsp;2.
                                p.orange-text $600
                                a(href='#' style="pointer-events:none;")
                                    img.pic(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dr0/two-exnova.png")

                        .right-block
                            .grey-box-2
                                p.text(style="font-weight: 700;")
                                    img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dqg/3-exnova.png")
                                    |&nbsp;3.
                                p.orange-text $400
                                a(href='#' style="pointer-events:none;")
                                    img.pic(src="https://fsms.quadcode.com/storage/public/d0/vc/863jqakt70bn9lpg/three-exnova.png")

                tr
                    td.text-pad-small.pb0(align="center")
                        .center
                            .middel-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;4.
                                    p.orange-text2.pt10 $300

                            .middel-block.plr7
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;5.
                                    p.orange-text2.pt10 $250

                            .middel-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;6.
                                    p.orange-text2.pt10 $200

                tr
                    td.text-pad-small.pb32(align="center")
                        .center
                            .small-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/va/3phmsj7oc3be3djg/star-2.png")
                                        |&nbsp;7.
                                    p.orange-text2.pt10 $150

                            .small-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;8.
                                    p.orange-text2.pt10 $120

                            .small-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;9.
                                    p.orange-text2.pt10 $100
                            .small-block.last-block
                                .grey-box-3
                                    p.text(style="font-weight: 700;")
                                        img.icon(src="https://fsms.quadcode.com/storage/public/d0/vc/861msj7oc3be3dpg/4-exnova.png")
                                        |&nbsp;10.
                                    p.orange-text2.pt10 $80
                       
                tr
                    td.text-pad-small.pb32.pt0.bb
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Leader-exnova-B&retrack=Leader-exnova-B&type=forex&asset=1" target="_blank") ${{ Leader-B.block_33 }}$
                tr
                    td.text-pad-small.pb44.pt24
                            p.text(style="color: #84868B;").center.plr30 ${{ Leader-B.block_32 }}$
       

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                       
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-Trade-on-weekend-B&retrack=exnova-Trade-on-weekend-B" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")


table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


