
table.row.brad-top
    tr
        td.wrapper.last.pt0
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt26
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_trade-rush&retrack=trade-rush&type=forex&asset=1" target="_blank" universal="true")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/d0/ad/vv3jqaku8utgegt0/exnova-logo-blue-2.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/deeplink/openasset?&instrument=trade-rush?aff=7&afftrack=mail_trade-rush&retrack=trade-rushe" target="_blank" universal="true") ${{ exnova-robot.block_02 }}$
       
table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb30.pt0.plr20
                        a(href="#" target="_blank" universal="true")
                            img.center(src="https://fsms.quadcode.com/storage/public/d0/ae/261msj7rr6s524cg/top-exnova-1.png")
                tr
                    td.text-pad-small.pb50.pt0.plr20
                        p.title.pb16.center ${{ trade-rush.block_01 }}$
                        p.strong-text.pb30.center ${{ trade-rush.block_03 }}$ ${{ trade-rush.block_04 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0.shadow-button
                                    a.butt-link(href="https://trade.exnova.com/traderoom/deeplink/openasset?&instrument=trade-rush?aff=7&afftrack=mail_trade-rush&retrack=trade-rushe" target="_blank") Start Trading Now

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb12.pt5.plr4
                        .first-block
                            .max-width280
                                p.block-title.pb16 ${{ trade-rush.block_05 }}$
                                p.text ${{ trade-rush.block_06 }}$

                        .h-12 &nbsp;

                        .left-block 
                            .padding
                                p.text.pb14 ${{ trade-rush.block_07 }}$
                                a(href="#" target="_blank")
                                    img.center.fl-none(src="https://fsms.quadcode.com/storage/public/d0/a8/s5hmsj7rr6s52480/loader.png")
                                p.number 100K%

                        .right-block 
                            .padding
                                p.text ${{ trade-rush.block_08 }}$

                        p.middle-title.pt50.pb24 ${{ trade-rush.block_09 }}$

                        .gray-box-first
                            .w280
                                p.small-title.pb12 ${{ trade-rush.block_10 }}$
                                p.text-2.pb32 ${{ trade-rush.block_11 }}$
                                p.grey-text.pb32 ${{ trade-rush.block_12 }}$
                                
                                table.w280(align="center" style="float: none;")
                                    tr
                                        td.butt-2.pb0
                                            a.butt-link-2(href="https://trade.exnova.com/traderoom/deeplink/openasset?&instrument=trade-rush?aff=7&afftrack=mail_trade-rush&retrack=trade-rushe" target="_blank") ${{ trade-rush.block_13 }}$

                        p.middle-title.pt32.pb24 ${{ trade-rush.block_14 }}$

                        .gray-box-second
                            .w280
                            
                                p.small-title.pb12 ${{ trade-rush.block_15 }}$
                                p.text-2.pb32 ${{ trade-rush.block_16 }}$
                                p.grey-text.pb32 ${{ trade-rush.block_17 }}$
                            
                                table.w280(align="center" style="float: none;")
                                    tr
                                        td.butt-2.pb0
                                            a.butt-link-2(href="https://trade.exnova.com/traderoom/deeplink/openasset?&instrument=trade-rush?aff=7&afftrack=mail_trade-rush&retrack=trade-rushe" target="_blank") ${{ trade-rush.block_18 }}$
                        
                //-         p.middle-title.pt44.pb16 ${{ trade-rush.block_19 }}$
                //-         p.text-2.pb32 ${{ trade-rush.block_20 }}$
                //-         p.middle-title.pb44 ${{ trade-rush.block_21 }}$
                //-         .center
                //-             .small-box 
                //-                 .center-block
                //-                     a(href="#" target="_blank" universal="true")
                //-                         img.w100px.center.pt25(src="https://fsms.quadcode.com/storage/public/d0/a7/m53jqaku8utgegig/left.png")
                //-                     p.block-text.center ${{ trade-rush.block_22 }}$ {{embedded.brand_name}} ${{ trade-rush.block_24 }}$
                //-             .small-box.plr10.middle-block-back 
                //-                 .center-block
                //-                     a(href="#" target="_blank" universal="true")
                //-                         img.w100px.center.pt12(src="https://fsms.quadcode.com/storage/public/d0/a7/m4rjqaku8utgegh0/center.png")
                //-                     p.block-text.center ${{ trade-rush.block_25 }}$ 
                //-             .small-box 
                //-                 .center-block
                //-                     a(href="#" target="_blank" universal="true")
                //-                         img.w100px.center.pt12(src="https://fsms.quadcode.com/storage/public/d0/a7/m53jqaku8utgeghg/right.png")
                //-                     p.block-text.center ${{ trade-rush.block_26 }}$
                //- tr
                //-     td.text-pad-small.pb12.pt0       
                //-         table.w280(align="center")
                //-             tr
                //-                 td.butt-2.pb0.shadow-button-blue
                //-                     a.butt-link-2(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-Trading-Challenge&retrack=exnova-Trading-Challenge&type=forex&asset=1" target="_blank") ${{ trade-rush.block_27 }}$
                //- tr
                //-     td.text-pad-small.pb12.pt0 
                //-         .blue-block 
                //-             //- .block-text.pb8  ${{ trade-rush.block_26 }}$
                //-             //- p.promocode ${{ trade-rush.block_27 }}$
                //-             p.text.pb28 ${{ trade-rush.block_28 }}$
                //-             p.text ${{ trade-rush.block_29 }}$&nbsp;
                //-                 a.link(href="https://exnova.com/terms/promocodes-policy/?aff=7&afftrack=mail_exnova-Trading-Challenge&retrack=exnova-Trading-Challenge&type=forex&asset=1" target="_blank") ${{ trade-rush.block_30 }}$

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0.plr4
                        .last-block
                            p.up-footer-text.center ${{ trade-rush.block_31 }}$

                        .small-diw 
                            &nbsp;
                        .diw-smaller
                            &nbsp;
                  
