table.row.trans
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                       
                        p.title-btm.center.pb15 ${{ exnova120623.block_49 }}$
                        p.text.center ${{ exnova120623.block_50 }}$
                             
                        table.w245(align="center")
                            tr
                                td.pt20.pb24 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_market-exnova&retrack=market-exnova" target="_blank") ${{ exnova120623.block_28 }}$
                                                        img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/ci/2g/06mgbu954ogkdu80/tw-icon.png")



