
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb20.text-pad-small
                                    a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
                    //- td.wrapper.last.pt0
                    //-     table.three.columns
                    //-         tr                        
                    //-             td.pb0.vam
                                    a.go-invest(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_margin_28-02&retrack=margin&instrument_type=binary&asset=1" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb20
                        a(href="#" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/cj/1m/40piuavv9levmbd0/pic (1).png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25                        
                        p.title.pb15 ${{ Telegram-signals.block_01 }}$
                            span.blue
                        p.text.pb10 <b>${{ Telegram-signals.block_02 }}$ {{embedded.user_first_name}}</b> 👋
                        p.text ${{ Telegram-signals.block_04 }}$

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb28.text-pad-small.pt25
                        p.black-title.pb20 ${{ Telegram-signals.block_05 }}$
                            span.blue 
                        p.text ${{ Telegram-signals.block_06 }}$    
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb25
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="${{ Telegram-signals.block_25 }}$" target="_blank")
                                            |${{ Telegram-signals.block_07 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")
                                
table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.pb20
table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb28.text-pad-small.pt25
                        p.small-title.pb20 ${{ Telegram-signals.block_08 }}$
                            span.blue 
                        //p.text.pb20 ${{ Telegram-signals.block_09 }}$    
                        .blue-box
                            p.white-box ${{ Telegram-signals.block_09 }}$
                            p.text.pt12.pb24 ${{ Telegram-signals.block_10 }}$       
                            p.white-box ${{ Telegram-signals.block_11 }}$
                            p.text.pt12.pb24 ${{ Telegram-signals.block_12 }}$   
                            p.white-box ${{ Telegram-signals.block_13 }}$
                            p.text.pt12 ${{ Telegram-signals.block_14 }}$   

table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.p20
        
table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb28.text-pad-small.pt25
                        p.black-title.pb20 ${{ Telegram-signals.block_15 }}$
                            span.blue 
                        p.text.pb20 ${{ Telegram-signals.block_16 }}$    
                        p.text ${{ Telegram-signals.block_17 }}$

    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb25
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="${{ Telegram-signals.block_25 }}$" target="_blank")
                                            |${{ Telegram-signals.block_18 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")
                                                                              
table.row
    tr
        td.wrapper.offset-by-one.last.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0 
                        p.small-title.pb20.center <i>${{ Telegram-signals.block_19 }}$</i>
                        p.text.center <i>${{ Telegram-signals.block_20 }}$</i>

        

//- table.row.white-bg
//-     tr
//-         td.wrapper.last.pt0.offset-by-one
//-             table.ten.columns                        
//-                 tr
//-                     td.pb25.text-pad-small.pt30
//-                         p.black-title ${{ EXNOVA_no_activity.block_14 }}$                   

//-                 tr
//-                     td.text-pad-small.pb25              
//-                         .left-side
//-                             a(href="#" target="_blank")
//-                                 img.center.left-images(src="https://fsms.quadcode.com/storage/public/cg/gq/u2nm73k4mm2dgn4g/Frame 713 (2).png")        
//-                         .right-side
//-                             p.text.padd-text-three ${{ EXNOVA_no_activity.block_15 }}$   

//-                 tr
//-                     td.text-pad-small.pb25              
//-                         .left-side
//-                             a(href="#" target="_blank")
//-                                 img.center.left-images(src="https://fsms.quadcode.com/storage/public/cg/gq/u2nm73k4mm2dgn50/Frame 714.png")        
//-                         .right-side
//-                             p.text.padd-text-three ${{ EXNOVA_no_activity.block_16 }}$  

//-                 tr
//-                     td.text-pad-small.pb25              
//-                         .left-side
//-                             a(href="#" target="_blank")
//-                                 img.center.left-images(src="https://fsms.quadcode.com/storage/public/cg/gq/u2nm73k4mm2dgn5g/Frame 715.png")        
//-                         .right-side
//-                             p.text.padd-text-three.pb10 ${{ EXNOVA_no_activity.block_17 }}$  
//-                             p.text.padd-text-three ${{ EXNOVA_no_activity.block_18 }}$       

table.row
    tr
        td.wrapper.offset-by-one.last.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0    
                        //- a.app-store(href="#" target="_blank")
                        //-     img.app-store(src="https://fsms.quadcode.com/storage/public/cg/er/jnfm73k4mm2dgmt0/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 (1).png")
                        .socials.center
                            a.google-store(href="#" target="_blank")
                                img.google-store(src="https://fsms.quadcode.com/storage/public/cg/er/jnfm73k4mm2dgmsg/google-play-badge (9).png")

table.row
    tr
        td.wrapper.last.pt20
            table.twelve.columns
                tr
                    td.pb0
                        .socials.center
                            a.first-link(href="${{ Telegram-signals.block_22 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ Telegram-signals.block_23 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a.last-link(href="${{ Telegram-signals.block_24 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu80/tw-icon.png")

