
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt40

                        .data-blue
                            p.data-text ${{ exnova-1102.block_01 }}$
                        p.title.pt10.pb20 ${{ exnova-1102.block_02 }}$

                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/6s/mg6fu8jqbm985e1g/banner-1.png")
                        p.subtitle.pt20.pb10 ${{ exnova-1102.block_03 }}$ {{embedded.user_first_name}} 👋
                        p.text ${{ exnova-1102.block_05 }}$ 
                        p.subtitle.pt20.pb20 ${{ exnova-1102.block_06 }}$ 
                        p.text ${{ exnova-1102.block_07 }}$

//- https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd

.div-12 &nbsp;

//- https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png
//- https://fsms.quadcode.com/storage/public/cr/6t/17mdi3umufautre0/arrow-up.png

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-1102.block_08 }}$
                        //- .blue-block
                            .bg-asset.bg-crypto
                                p.subtitle Bitcoin
                                p.text.asset-color BTC
                            .div-12 &nbsp;
                            p.red-percent 
                                img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png")
                                |3.82%

                tr
                    td.text-pad-small.pb20
                        .left-box
                            .blue-block
                                .bg-asset.bg-market
                                    p.subtitle(style="font-size: 21px; line-height: 30px;") General Motors
                                    p.text.asset-color GM
                                .div-12 &nbsp;
                                p.red-percent 
                                    img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png")
                                    |1.03%

                        .right-box
                            .blue-block
                                .bg-asset.bg-stocks
                                    p.subtitle(style="font-size: 21px; line-height: 30px;") Volkswagen AG
                                    p.text.asset-color VOWG
                                .div-12 &nbsp;
                                p.red-percent 
                                    img.arrow-icon(src="https://fsms.quadcode.com/storage/public/cr/6u/52edi3umufautrgg/arrow-btm.png")
                                    |1.95%

                tr
                    td.text-pad-small.pb44
                        //- p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            //- |${{ new-digest-8.block_06 }}$
                            |${{ exnova-1401.block_06 }}$

                        p.text.pb30 ${{ exnova-1102.block_09 }}$
                        //- p.text.pb10 ${{ new-digest-9.block_07 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd&asset=31" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_09 }}$  
                            //- |${{ new-digest-8.block_10 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd&asset=36" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_11 }}$  
                            //- |${{ new-digest-8.block_12 }}$ 
                            //- a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd&asset=38" target="_blank" universal="true" style="color: #0173ca;font-weight:700;") ${{ new-digest-8.block_13 }}$  
                            //- |${{ new-digest-8.block_14 }}$ 

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd" universal="true" target="_blank") ${{ exnova-2201.block_14 }}$

.div-12 &nbsp;

//- <img src="https://fsms.quadcode.com/storage/public/cr/6u/rqufu8jqbm985e80/arrow.png" class="arrow-icon" style="-ms-interpolation-mode: bicubic; clear: both; display: inline-block; float: none; font-family: 'Helvetica','Arial',sans-serif !important; max-width: 18px; outline: none; padding-bottom: 4px; padding-right: 0px; text-decoration: none; vertical-align: middle; width: auto;">

table.row.black-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44(style="text-align: center;" align="center")

                        p.title-2.pb10.center(style="color: #f5f9ff") ${{ exnova-1102.block_14 }}$
                        //- .data-blue(style="margin: 0 auto")
                            p.data-text(style="color: #f5f9ff") ${{ new-digest-4.block_11 }}$
                        .div-20 &nbsp;
                        .green-block
                            .bg-asset
                                p.subtitle.pt10.pb10 ${{ exnova-1102.block_16 }}$
                            .div-12 &nbsp;
                            p.text 
                                span.left-span(style="font-size: 32px; line-height: 46px; font-weight: 700") ${{ exnova-1102.block_17 }}$
                                span.right-span(style="font-size: 40px; line-height: 46px; float: right; color: #ffffff; font-weight: 700") ${{ exnova-1102.block_18 }}$

                        p.subtitle.pt20.pb30(style="color: #f5f9ff").center ${{ exnova-1102.block_19 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25"  universal="true" target="_blank") ${{ exnova-1102.block_20 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-1102.block_21 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🏦
                                            td.pb0
                                                //- p.subtitle ${{ exnova-1012.block_18 }}$
                                                p.subtitle.pb5 ${{ exnova-1102.block_22 }}$
                                                p.text.asset-color ${{ exnova-1102.block_23 }}$

                        p.text.pt20.pb20 ${{ exnova-1102.block_24 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=cfd&asset=914" universal="true" target="_blank") ${{ exnova-1102.block_25 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-1102.block_26 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🇺🇸
                                            td.pb0
                                                p.subtitle.pb5 ${{ exnova-1102.block_27 }}$
                                                p.text.asset-color ${{ exnova-1102.block_28 }}$

                        p.text.pt20.pb20 ${{ exnova-1102.block_29 }}$ 

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=forex&asset=1" universal="true" target="_blank") ${{ exnova-1102.block_30 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-1102.block_31 }}$
                        table.row
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🌐
                                            td.pb0
                                                //- p.subtitle ${{ exnova-2201.block_23 }}$
                                                p.subtitle.pb5 ${{ exnova-1102.block_32 }}$
                                                p.text.asset-color ${{ exnova-1102.block_33 }}$

                        p.text.pt20.pb20 ${{ exnova-1102.block_34 }}$ 

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&type=crypto&asset=1979" universal="true" target="_blank") ${{ exnova-1102.block_35 }}$

.div-12 &nbsp;

//- https://trade.exnova.com/traderoom/deeplink/tournaments?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25&id=3805

table.row.black-bg-2
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44(style="text-align: center;" align="center")

                        p.title-2.pb20.center(style="color: #ffffff") ${{ exnova-2201.block_36 }}$

                        .box-bg
                            a(href="https://api.trade.exnova.com/v1/multi-links/tournaments?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25" universal="true" target="_blank")
                                img.banner.banner-2(src="https://fsms.quadcode.com/storage/public/cr/g4/ki1l82562t0ame50/banner-1.png")

                            p.subtitle.pb30.plr30(style="color: #f5f9ff").center ${{ exnova-2201.block_37 }}$
                        
                        div(style="font-size:8px;line-height:25px;height:25px;") &nbsp;

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/tournaments?aff=7&afftrack=mail_exnova-new-digest-11-02-25&retrack=exnova-new-digest-11-02-25" universal="true" target="_blank") ${{ exnova-1308.block_06 }}$

.div-12 &nbsp;