
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=exnova-Instant-profit-6-05&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=exnova-Instant-profit-6-05&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt44
                        p.data ${{ exnova-Instant-profit-6-05.block_01 }}$
                        p.title.pb32.pt16 ${{ exnova-Instant-profit-6-05.block_02 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d0/cb/6ibjqaku8utgeh60/instant-exnova.png")
                 
                tr
                    td.text-pad-small.pb20
                        
                        .left-block 
                            .padd 
                                p.asset ${{ exnova-Instant-profit-6-05.block_03 }}$
                                p.name-asset ${{ exnova-Instant-profit-6-05.block_04 }}$
                        .right-block
                            .padd 
                                p.asset ${{ exnova-Instant-profit-6-05.block_07 }}$
                                p.name-asset ${{ exnova-Instant-profit-6-05.block_08 }}$


                        .left-block 
                            .padd 
                                p.asset ${{ exnova-Instant-profit-6-05.block_05 }}$
                                p.name-asset ${{ exnova-Instant-profit-6-05.block_06 }}$
                        .right-block
                            .padd 
                                p.asset ${{ exnova-Instant-profit-6-05.block_09 }}$
                                p.name-asset ${{ exnova-Instant-profit-6-05.block_10 }}$

                tr
                    td.text-pad-small.pb44
                        p.text.pb32 ${{ exnova-Instant-profit-6-05.block_11 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=exnova-Instant-profit-6-05&type=blitz-optiony&asset=2265," universal="true" target="_blank") ${{ exnova-Instant-profit-6-05.block_12 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb24
                            img.title-img(src="https://fsms.quadcode.com/storage/public/cv/07/ep3jqakjdvu1n1lg/Icon-Circle.png")
                            |${{ exnova-Instant-profit-6-05.block_13 }}$
                        p.text ${{ exnova-Instant-profit-6-05.block_14 }}$ 
.h-12 &nbsp;
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb24 ${{ exnova-Instant-profit-6-05.block_15 }}$
                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 1
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-Instant-profit-6-05.block_16 }}$</b>
                                        p.text ${{ exnova-Instant-profit-6-05.block_17 }}$
                        .h-12 &nbsp;
                        .blue-block-big
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 2
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-Instant-profit-6-05.block_18 }}$</b>
                                        p.text ${{ exnova-Instant-profit-6-05.block_19 }}$
                            p.text.pt22.pb5 <b>${{ exnova-Instant-profit-6-05.block_20 }}$</b>
                            .block-blue-line
                                p.middle-text ${{ exnova-Instant-profit-6-05.block_21 }}$
                            p.text.pt30.pb5 <b>${{ exnova-Instant-profit-6-05.block_22 }}$</b>
                            .left-side 
                                p.left-text ${{ exnova-Instant-profit-6-05.block_23 }}$
                            .right-side 
                                table.w100(align="center")
                                    tr
                                        td.pb0.butt
                                            a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=FAST110&aff=7&afftrack=mail_mail_exnova-Instant-profit-6-05a&retrack=mail_exnova-Instant-profit-6-05" universal="true" target="_blank") ${{ exnova-Instant-profit-6-05.block_24 }}$
                            p.gray-text ${{ exnova-Instant-profit-6-05.block_25 }}$
                        .h-12 &nbsp;

                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 3
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-Instant-profit-6-05.block_26 }}$</b>
                                        p.text ${{ exnova-Instant-profit-6-05.block_27 }}$

.h-12 &nbsp;

table.row.brad-full.bgr-image(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        .bottom-block
                            //- p.title-head ${{ exnova-Instant-profit-6-05.block_28 }}$
                            p.title-head.pb12 ${{ exnova-Instant-profit-6-05.block_28 }}$
                            p.text.pb40 ${{ exnova-Instant-profit-6-05.block_29 }}$

                            table.w280
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=FAST110&aff=7&afftrack=mail_mail_exnova-Instant-profit-6-05a&retrack=mail_exnova-Instant-profit-6-05" universal="true" target="_blank") ${{ exnova-Instant-profit-6-05.block_30 }}$

.h-12 &nbsp;

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20.pt44
                        p.gray-text.pb10 ${{ exnova-Instant-profit-6-05.block_31 }}$
                        p.gray-text ${{ exnova-Instant-profit-6-05.block_32 }}$&nbsp;
                            a.link(href="https://exnova.com/en/terms/promocodes-policy/?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=mail_exnova-Instant-profit-6-05" universal="true" target="_blank") ${{ exnova-Instant-profit-6-05.block_33 }}$
                            |${{ exnova-Instant-profit-6-05.block_34 }}$ 

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-Instant-profit-6-05" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-Instant-profit-6-05&retrack=exnova-Instant-profit-6-05" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ exnova-soc-new.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ exnova-soc-new.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="${{ exnova-soc-new.block_02 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="${{ exnova-soc-new.block_03 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="${{ exnova-soc-new.block_04 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a(href="${{ exnova-soc-new.block_05 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
                            a.last-link(href="${{ exnova-soc-new.block_06 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")


