table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="https://trade.capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ cb-data.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top.bb
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text.pb10
                            strong ${{ cb-data.block_01 }}$
                        p.text.pb10 ${{ cb-data.block_02 }}$
                        p.text.pb10 ${{ cb-data.block_03 }}$&ensp;{{embedded.brand_name}}&ensp;${{ cb-data.block_04 }}$&ensp;
                            a(href="{{link}}" target="_blank") ${{ cb-data.block_05 }}$
                            | &ensp;${{ cb-data.block_06 }}$
                        p.text.pb10 ${{ cb-data.block_07 }}$
                        p.text.italic ${{ cb-data.block_08 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text ${{ cb-data.block_09 }}$&nbsp;
                            a.blue(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}&nbsp;
                            | ${{ cb-data.block_10 }}$

