table.row.header
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.six.sub-columns.pb25
                        a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/61/0c/030b94f6e9a4a6d3a6/logo.png")
                    td.six.sub-columns.last.pb25



table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns.bb
                tr
                    td.text-pad-small.pb20
                        p.title.pb20 ${{ kyc-update.block_00 }}$
                        p.text.pb10
                            strong ${{ kyc-update.block_01 }}$
                        p.text.pb10 ${{ kyc-update.block_02 }}$&ensp;
                            strong \#{{user_id}}
                        p.text.pb30 ${{ kyc-update.block_04 }}$
                        .grey-block
                            p.text ${{ kyc-update.block_05 }}$&nbsp;
                                a.link(href="{{embedded.domain}}/verification/docs" target="_blank") ${{ kyc-update.block_06 }}$
                                | &ensp;${{ kyc-update.block_07 }}$&ensp;
                                strong {{days}}
                                | &ensp;${{ kyc-update.block_08 }}$
                        p.text.pt30 Failure to provide the requested information in full within this timeframe&ensp;
                            strong will result in the automatic permanent closure of your trading account
                            | &ensp;along with any open positions (if any), as per the relevant legislation.

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text ${{ kyc-update.block_10 }}$&ensp;
                            a.link(href="mailto:{{embedded.company_email}}" target="_blank") ${{ kyc-update.block_11 }}$
                            | &ensp;${{ kyc-update.block_12 }}$