table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")
                tr
                    td.text-pad-small.pb40
                        p.title ${{ s-deal-cancel.block_00 }}$
table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15

table.row.white-bg.bb.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb10
                            strong ${{ s-deal-cancel.block_01 }}$
                        p.text.pb10 ${{ s-deal-cancel.block_02 }}$&ensp;
                            strong {{deal_id}}
                            | &ensp;${{ s-deal-cancel.block_04 }}$
                        p.text.pb10 ${{ s-deal-cancel.block_05 }}$
                        p.text ${{ s-deal-cancel.block_06 }}$