table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.white-bg.brad-top
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb40.bb
                        p.title.pb20 ${{ gdpr-3-unreg.block_00 }}$
                        p.text.pb10
                            strong ${{ gdpr-3-unreg.block_01 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_02 }}$&ensp;
                            strong {{DD}}/{{MM}}/{{YYYY}}
                        p.text.pb0 ${{ gdpr-3-unreg.block_04 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40.bb
                        p.big-text.pb20 ${{ gdpr-3.block_05 }}$
                        p.text ${{ gdpr-3-add.block_00 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.big-text.pb20 ${{ gdpr-3.block_09 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_10 }}$
                        p.text.pb10 ${{ gdpr-3-unreg.block_11 }}$
                        p.text.pb10 ${{ gdpr-3.block_23 }}$
                        p.text.pb0 ${{ gdpr-3.block_24 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.text-pad-small.pb10

table.row.white-bg.brad-top.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text.center ${{ gdpr-3.block_26 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") {{embedded.company_email}}
