table.row
    tr
        td.pb0
            table.row.twelve.columns
                tr
                    td.offset-by-one.wrapper.last.pb0.pt32
                        table.ten.columns
                            tr
                                td.wrapper.last.pb0
                                    //- .center
                                    //-     p.orange-text.center Official Online Trading Partner
                                    a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo.center(src="https://fsms.quadcode.com/storage/public/d4/g1/nmankfhebl8k66v0/IQ-HB.png")

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb55(dir="rtl")
                        p.data-text(dir="rtl")
                            img.data-img(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9ug/data-img.png")
                            |${{ new-digest-25.block_01 }}$  
                        p.title.pt12(dir="rtl") ${{ new-digest-25.block_02 }}$  

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(dir="rtl")
                        p.middle-title.pb32(dir="rtl") ${{ new-digest-25.block_03 }}$  
                        .gray-table(dir="rtl") 
                            .left-side-2.pb20.center-mobile 
                                .img-flag-3
                                    p.asset-name(dir="ltr") Medtronic plc.
                                    p.short-asset-name MDT
                            .right-side-2.pb20(dir="rtl")
                                p.right-text.center-mobile(dir="rtl") ${{ new-digest-25.block_04 }}$  
                                p.small-green-text.center-mobile(dir="ltr") +4.5%
                            .left-side-bottom(dir="rtl")
                                p.black-text.center-mobile.text-right(dir="rtl") $96

                            a(href="#" universal="true" target="_blank")
                                img.arrow.center(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9t0/arrow-ar.png")
                            a(href="#" universal="true" target="_blank")
                                img.arrow-bottom.center(src="https://fsms.quadcode.com/storage/public/cu/33/c2muko6hcq7ndadg/arrow-bottom-2.png")
                            .right-side-bottom(dir="rtl")
                                p.green-text.center-mobile.text-left(dir="rtl") $100.33

                            p.text.pb30.pt12(dir="rtl") ${{ new-digest-25.block_07 }}$
                            //- p.text.pb30(dir="rtl") ${{ new-digest-25.block_08 }}$
                            p.text.pb30(dir="rtl") ${{ new-digest-25.block_08 }}$
                            .center
                                a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$&type=cfd&asset=548" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p2 ${{ new-digest-25.block_09 }}$
                            //- table.w100
                            //-     tr
                            //-         td.pb0(dir="rtl")
                            //-             .right-button
                            //-                 a(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=SPOOKY666&aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$" universal="true" target="_blank")
                            //-                     .div-butt2
                            //-                         p.butt-p.butt-p2(dir="rtl") ${{ new-digest-25.block_08 }}$
                            //-             .right-button
                            //-                 a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$&type=stock&asset=557" universal="true" target="_blank")
                            //-                     .div-butt
                            //-                         p.butt-p ${{ new-digest-25.block_09 }}$

.h-12 &nbsp;  

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(dir="rtl" style="text-align:right;")
                        p.orange-block(dir="rtl") ${{ new-digest-25.block_10 }}$
                        p.date(dir="rtl").pt16
                            img.date-img(src="https://fsms.quadcode.com/storage/public/cv/8m/b39msj7rr6s51rsg/date.png")
                            |${{ new-digest-25.block_12 }}$
                        p.middle-title.pb24.pt16(dir="rtl") ${{ new-digest-25.block_11 }}$
                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d4/g1/nmaqubga63ldchv0/logo-tiur.png")
                        p.text.pt32.pb40(dir="rtl") ${{ new-digest-25.block_13 }}$
                        .center
                            a(href="https://api.iqoption.com/v1/multi-links/tournaments?id=5145&aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$" universal="true" target="_blank")
                                .div-butt2
                                    p.butt-p.butt-p2(dir="rtl") ${{ new-digest-25.block_14 }}$

.h-12 &nbsp; 

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(dir="rtl")
                        p.middle-title.pb32(dir="rtl") ${{ new-digest-25.block_15 }}$  
                        .gray-table(dir="rtl") 
                            .left-side.pb20.center-mobile 
                                .img-flag
                                    p.asset-name(dir="ltr") NIVIDIA Corporation
                                    p.short-asset-name(dir="ltr") NVDA
                            .right-side.pb20(dir="rtl")
                                p.right-text.center-mobile(dir="rtl") ${{ new-digest-25.block_16 }}$  
                                p.small-green-text.center-mobile(dir="rtl") 1,194%
                            .left-side-bottom(dir="rtl")
                                p.black-text.center-mobile.text-right(dir="rtl") $155

                            a(href="#" universal="true" target="_blank")
                                img.arrow.center(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9t0/arrow-ar.png")
                            a(href="#" universal="true" target="_blank")
                                img.arrow-bottom.center(src="https://fsms.quadcode.com/storage/public/cu/33/c2muko6hcq7ndadg/arrow-bottom-2.png")
                            .right-side-bottom(dir="rtl")
                                p.green-text.center-mobile.text-left(dir="rtl") $2,006
                            .h-30 &nbsp;
                            .center
                                a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$&type=cfd&asset=586" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2(dir="rtl") ${{ new-digest-25.block_17 }}$ 

                        .h-12 &nbsp;

                        .gray-table 
                            .left-side.pb20.center-mobile 
                                .img-flag-2
                                    p.asset-name(dir="ltr") Bitcoin
                                    p.short-asset-name(dir="rtl") BTC
                            .right-side.pb20(dir="rtl")
                                p.right-text.center-mobile(dir="rtl") ${{ new-digest-25.block_18 }}$ 
                                p.small-green-text.center-mobile(dir="rtl") 1,166%  
                            .left-side-bottom(dir="rtl")
                                p.black-text.center-mobile.text-right(dir="rtl") $50

                            a(href="#" universal="true" target="_blank")
                                img.arrow.center(src="https://fsms.quadcode.com/storage/public/ct/vr/ip6uko6hcq7nd9t0/arrow-ar.png")
                            a(href="#" universal="true" target="_blank")
                                img.arrow-bottom.center(src="https://fsms.quadcode.com/storage/public/cu/33/c2muko6hcq7ndadg/arrow-bottom-2.png")
                            .right-side-bottom(dir="rtl")
                                p.green-text.center-mobile.text-left(dir="rtl") $633
                            .h-30 &nbsp;
                            .center
                                a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$&type=crypto&asset=816" universal="true" target="_blank")
                                    .div-butt2
                                        p.butt-p.butt-p2(dir="rtl") ${{ new-digest-25.block_19 }}$ 
 
.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(style="text-align:center;" dir="rtl")
                        p.middle-title.pb32 ${{ new-digest-25.block_20 }}$ 
                        
                            .left-block 
                                .padding-iside
                                    a(href="${{ new-digest-25.block_24 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_26 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_26 }}$&retrack=digest-new-${{ new-digest-25.block_26 }}$" universal="true" target="_blank")
                                        img.blog-img(src="${{ new-digest-25.block_27 }}$")
                                    .h-24 &nbsp;
                                    
                                    .img-a
                                        p.text(dir="rtl") ${{ new-digest-25.block_21 }}$ 
                                    
                            .right-block
                                .padding-iside(dir="rtl")
                                    a(href="${{ new-digest-25.block_25 }}$?utm_source=emailcampaign&utm_campaign=digest-new-${{ new-digest-25.block_26 }}$&aff=88&afftrack=mail_${{ new-digest-25.block_26 }}$&retrack=digest-new-${{ new-digest-25.block_26 }}$" universal="true" target="_blank")
                                        img.blog-img(src="${{ new-digest-25.block_28 }}$")
                                    .h-24 &nbsp;
                                    
                                    .img-a
                                        p.text(dir="rtl") ${{ new-digest-25.block_22 }}$ 

.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pt44.pb44(style="text-align:center;" dir="rtl")
                        p.middle-title.pb32 ${{ new-digest-25.block_23 }}$ 

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column(dir="rtl")
                                        p.just-number 1
                                    td.pb0.second-column(dir="rtl")
                                        p.traider(dir="ltr") Daniel W.
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/cu/gu/of1msj7st9h5co2g/Zambia.png") 
                                           
                                    td.pb0.thirth-column(align="right" dir="rtl")
                                        p.small-green-number(dir="rtl") $175,573
 
                        .h-12 &nbsp;

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column(dir="rtl")
                                        p.just-number(dir="rtl") 2
                                    td.pb0.second-column(dir="rtl")
                                        p.traider(dir="ltr") Hunter F.
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/5f/8e/b90e69f464e5d6h1g3/thailand.png") 
                                            
                                    td.pb0.thirth-column(align="right" dir="rtl")
                                        p.small-green-number(dir="rtl") $160,680

                        .h-12 &nbsp;

                        .gray-block
                            table.w100
                                tr
                                    td.pb0.first-column(dir="rtl")
                                        p.just-number(dir="rtl") 3
                                    td.pb0.second-column(dir="rtl")
                                        p.traider(dir="ltr") Emma P.
                                            img.traiders-flag(src="https://fsms.quadcode.com/storage/public/5f/8e/b90e69f464e5d6h1g3/thailand.png") 
                                    td.pb0.thirth-column(align="right" dir="rtl")
                                        p.small-green-number(dir="rtl") $140,983

                                  
.h-12 &nbsp;

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-smal

                        //- p.text.gray-text.pb12(dir="rtl") ${{ new-digest-25.block_29 }}$
                        //- p.text.gray-text.pb40(dir="rtl") ${{ new-digest-25.block_30 }}$&nbsp;
                        //-     a.link(href="https://iqoption.com/terms-and-conditions/promocodes-policy?aff=7&afftrack=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$&retrack=new-IQ-Digest-${{ new-digest-25.block_26 }}$" target="_blank") ${{ new-digest-25.block_31 }}$
                        //-     |${{ new-digest-25.block_32 }}$

                        .stor.center
                            a(href="https://app.appsflyer.com/id871125783?pid=7&c=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$" target="_blank")
                                img.a-app(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.iqoption?pid=7&c=mail_new-IQ-Digest-${{ new-digest-25.block_26 }}$" target="_blank")
                                img.a-google(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjr0/play.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td
                        .socials.center
                            a.first-link(href="${{ socials-3.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vdg/fb.png")
                            a(href="${{ socials-3.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7ve0/ig.png")
                            a(href="${{ socials-3.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/gb285cee2vclvjq0/yt.png")
                            a.last-link(href="${{ socials-3.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vf0/tw.png")

