
//- table.row.header
//-     tr
//-         td.wrapper.offset-by-one.last.pt30
//-             table.ten.columns
//-                 tr
//-                     td.pb20.center
//-                         .bg-logo.center
//-                             a(href="https://capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=welcome" target="_blank")
//-                                 img.logo.pt10.pb10.center(src="https://static.cdnpub.info/files/storage/public/5f/b2/959fd19e89f4b9d3a5/logo.png")

table.row.header
    tr
        td.wrapper.offset-by-one.last.pt30
            table.ten.columns
                tr
                    td.pb20.center
                        
                        a(href="https://capitalbear.com/traderoom/?aff=7&afftrack=mail&retrack=welcome" target="_blank")
                            img.logo.pt0.pb10.center(src="https://fsms.quadcode.com/storage/public/cg/dd/jpo1ik1e3hsi37ug/Group 8 Copy 5 (2) (1).png")
   
    tr
        td.wrapper.last.pl30.pt30
            table.six.columns
                tr
                    td.text-pad-small.pb40
                        p.title.pb15 ${{ cb-welcome.block_01 }}$
                        p.text.header-text.podlojka ${{ cb-welcome.block_02 }}$&ensp;
                            strong ${{ cb-welcome.block_03 }}$
//.offset-by-one

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td(background="https://fsms.quadcode.com/storage/public/cg/di/ntnm73k4mm2dgmng/Group 56 (1).png").pb0.down-block
                        
                            p.down-text.pb25 ${{ cb-welcome.block_04 }}$
                            .pb24
                                .button-wrapper.button-wrapper_down.button-wrapper_down-bord
                                    table.medium-button.radius.bg-button
                                        tr
                                            td.butt-td.bg-button.br8
                                                a.butt.color-text-button(href="https://play.google.com/store/apps/details?id=com.capitalbear" target="_blank") ${{ cb-welcome.block_05 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table(background="https://fsms.quadcode.com/storage/public/cg/ha/2d7m73k4mm2dgng0/Group 21 (3) (1).png").row.brad-top.brad-bot.activate-block
    tr
        td.wrapper.last.offset-by-one.pt20
            table.eleven.columns
                tr
                    td(background="https://static.cdnpub.info/files/storage/public/5f/b2/91402aa451f0c4b1a8/on.png").text-pad-small.pb0.active-background
                        p.activate-title.pb10 ${{ cb-welcome.block_06 }}$
                            br
                            | ${{ cb-welcome.block_07 }}$
                tr
                    td.text-pad-small.pb40            
                        p.text.pr50.pb25 ${{ cb-welcome.block_08 }}$
                        .button-wrapper.button-wrapper_activate
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://capitalbear.com/counting?aff=7&afftrack=mail&retrack=welcome" target="_blank") ${{ cb-welcome.block_10 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table(background="https://fsms.quadcode.com/storage/public/cg/dd/fcnm73k4mm2dgmi0/Rectangle 607 (1).png").row.brad-top.perks-block
    tr
        td.wrapper.last.pt60
            table.twelve.columns
                tr
                    td.text-pad-small.pb40
                        p.white-title.center.pb10 ${{ cb-welcome.block_11 }}$
                        p.white-text.center.plr70 ${{ cb-welcome.block_12 }}$

table.row.white-bg.brad-bot
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td(background="https://static.cdnpub.info/files/storage/public/5f/b2/afcfbac6f5i2h7j8f6/icon1.png").pb0.perk_1
                        .perk
                            p.perk-title.pb12 ${{ cb-welcome.block_13 }}$
                            p.text ${{ cb-welcome.block_14 }}$
                tr
                    td(background="https://static.cdnpub.info/files/storage/public/5f/b2/afcfbb86d3d6h9f0i5/icon2.png").pb0.perk_2           
                        .perk
                            p.perk-title.pb12 ${{ cb-welcome.block_15 }}$
                            p.text ${{ cb-welcome.block_16 }}$
                tr
                    td(background="https://static.cdnpub.info/files/storage/public/5f/b2/afcfdefb07c7b9f2j3/icon3.png").pb0.perk_3           
                        .perk
                            p.perk-title.pb12 ${{ cb-welcome.block_17 }}$
                            p.text ${{ cb-welcome.block_18 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table(background="https://fsms.quadcode.com/storage/public/cg/ha/15o1ik1e3hsi38f0/blitz-block (2) (1).png").row.brad-top.brad-bot.blitz-block
    tr
        td.wrapper.last.offset-by-one.pt20
            table.eleven.columns
                tr
                    td(background="https://static.cdnroute.io/files/storage/public/61/c9/d00cdf98c1d1f4j5b3/blitz.png").text-pad-small.pb10.blitz-background
                        p.blitz-title ${{ capitalBear-welcome-finish.block_00 }}$
                        p.text.pr50.pb25 ${{ capitalBear-welcome-finish.block_01 }}$
                tr
                    td.text-pad-small.pb40        
                        
                        .button-wrapper.button-wrapper_activate
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://capitalbear.com/counting?aff=7&afftrack=mail&retrack=welcome" target="_blank") ${{ capitalBear-welcome-finish.block_02 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt45
            table.twelve.columns
                tr
                    td.pb0

table(background="https://fsms.quadcode.com/storage/public/cg/cq/s0nm73k4mm2dgme0/Group 26.png").row.brad-top.brad-bot.plus-block
    tr
        td.wrapper.last.offset-by-one.pt50
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.plus-title.pb25 ${{ cb-welcome.block_19 }}$
                        p.text.pb25 ${{ cb-welcome.block_20 }}$
                        .block-left
                            img.img1(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73b752b0f7a7d5/1.png")
                            p.point-text.pb30 ${{ cb-welcome.block_21 }}$
                            img.img3(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73e7b1f7i9g2c1/3.png")
                            p.point-text ${{ cb-welcome.block_23 }}$
                        .block-right
                            img.img2(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f73b408e1a4h0a4/2.png")
                            p.point-text.pb30 ${{ cb-welcome.block_22 }}$
                            img.img4(src="https://static.cdnpub.info/files/storage/public/5f/b2/913f9bb462a7f4d0b4/4.png")
                            p.point-text ${{ cb-welcome.block_24 }}$




