
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-5&retrack=car-tournament-email-5" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-5&retrack=car-tournament-email-5" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb24.pt15 ${{ Teaser-email-5.block_01 }}$ {{embedded.user_first_name}} ${{ Teaser-email-5.block_03 }}$
                        p.text.pb32 ${{ Teaser-email-5.block_04 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/am/od9l82562t0ambv0/en-car.png")


.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb32
                        p.small-title.pb32 ${{ Teaser-email-5.block_06 }}$
                        .blue-blocks 
                            p.text.pb16 ${{ Teaser-email-5.block_07 }}$&nbsp;
                                a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ Teaser-email-5.block_08 }}$
                                |&nbsp;${{ Teaser-email-5.block_09 }}$
                            p.text.list.pb6 ${{ Teaser-email-5.block_10 }}$ 
                            p.text.list ${{ Teaser-email-5.block_11 }}$     

                        .h-12 &nbsp; 
                        .blue-blocks 
                            p.text ${{ Teaser-email-5.block_12 }}$ 

                        .h-12 &nbsp;
                        .blue-blocks 
                            p.text ${{ Teaser-email-5.block_13 }}$ 

                tr
                    td.text-pad-small.pb44.pt0          
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-5&retrack=car-tournament-email-5" target="_blank") ${{ Teaser-email-5.block_14 }}$ 



             
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.text.bt.pt20.center <b>${{ Teaser-email-5.block_15 }}$</b>
