
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                                        img.logo(src="https://static.cdnroute.io/files/storage/public/62/b1/eb98e3afd4a7c8f1e8/m_logoCombination__1_.png")
                                    a.go-invest(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")
   
                    //- td.wrapper.last.pt0
                    //-     table.three.columns
                    //-         tr                        
                    //-             td.pb0.vam
                                    a.go-invest(href="https://iqbroker.co/lp/multilink/asset?aff=7&afftrack=mail_margin_28-02&retrack=margin&instrument_type=binary&asset=1" target="_blank") Invest now
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.trans
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb25
                        p.title.pb15 ${{ EXNOVA_no_activity.block_02 }}$<br>
                        p.text ${{ EXNOVA_no_activity.block_03 }}$

table.row.trans
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb35
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_no_activity_buttons.block_01 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb28.text-pad-small.pt40
                        p.black-title ${{ EXNOVA_no_activity.block_05 }}$
                tr
                    td.pb28.text-pad-small     
                        .social-links.pt0
                            .countries-block-new
                                .padding
                                    table
                                        tr
                                            td.pb0
                                                img.icon-block(src="https://static.cdnroute.io/files/storage/public/62/b4/5630beea71b9c5e9h5/left.png")
                                    table
                                        tr
                                            td.pb0            
                                                p.item-number-new.pb5.pt13 ${{ EXNOVA_no_activity.block_06 }}$
                                                p.grey-number ${{ EXNOVA_no_activity.block_07 }}$

                            .countries-block-new.mar-mob
                                .padding
                                    table
                                        tr
                                            td.pb0
                                                img.icon-block(src="https://static.cdnroute.io/files/storage/public/62/b4/5630c840e2h1c2a7a4/middle.png")
                                    table
                                        tr
                                            td.pb0            
                                                p.item-number-new.pb5.pt13 ${{ EXNOVA_no_activity.block_08 }}$
                                                p.grey-number-text ${{ EXNOVA_no_activity.block_09 }}$

                            .countries-block-new
                                .padding
                                    table
                                        tr
                                            td.pb0
                                                img.icon-block(src="https://static.cdnroute.io/files/storage/public/62/b4/5630d23212a7b0a4i0/right.png")
                                    table
                                        tr
                                            td.pb0            
                                                p.item-number-new.pb5.pt13 ${{ EXNOVA_no_activity.block_10 }}$
                                                p.grey-number ${{ EXNOVA_no_activity.block_11 }}$     

                tr
                    td.pb28.text-pad-small          
                        p.text.pb30 ${{ EXNOVA_no_activity.block_12 }}$       
                        a(href="#" target="_blank")
                            img(src="https://fsms.iqoption.com/storage/public/cg/gq/ucnm73k4mm2dgn6g/Frame 806 (1).png")  
                        a(href="#" target="_blank")
                            img(src="https://fsms.iqoption.com/storage/public/cg/gq/u2o1ik1e3hsi385g/Frame 809.png") 
          
table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb25
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_no_activity_buttons.block_00 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.pb12
table.row.white-bg
    tr
        td.wrapper.last.pt0.offset-by-one
            table.ten.columns                        
                tr
                    td.pb25.text-pad-small.pt30
                        p.black-title ${{ EXNOVA_no_activity.block_14 }}$                   

                tr
                    td.text-pad-small.pb25              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://fsms.iqoption.com/storage/public/cg/gq/u2nm73k4mm2dgn4g/Frame 713 (2).png")        
                        .right-side
                            p.text.padd-text-three ${{ EXNOVA_no_activity.block_15 }}$   

                tr
                    td.text-pad-small.pb25              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://fsms.iqoption.com/storage/public/cg/gq/u2nm73k4mm2dgn50/Frame 714.png")        
                        .right-side
                            p.text.padd-text-three ${{ EXNOVA_no_activity.block_16 }}$  

                tr
                    td.text-pad-small.pb25              
                        .left-side
                            a(href="#" target="_blank")
                                img.center.left-images(src="https://fsms.iqoption.com/storage/public/cg/gq/u2nm73k4mm2dgn5g/Frame 715.png")        
                        .right-side
                            p.text.padd-text-three.pb10 ${{ EXNOVA_no_activity.block_17 }}$  
                            p.text.padd-text-three ${{ EXNOVA_no_activity.block_18 }}$       

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.five.columns
                tr
                    td.pb30
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button.radius.blue-button
                                tr
                                    td.iq.blue-button
                                        a.butt(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_no_activity.block_21 }}$
                                            img.arrow-icon(src="https://static.cdnroute.io/files/storage/public/62/a8/50b90d0d72f8b6c6g8/icon_arrow__1___1_.png")

table.row
    tr
        td.wrapper.last
            table.twelve.columns
                tr
                    td.pt0.pb25

table.row
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .left-block
                            a(href="#" target="_blank") 
                                img.left-img(src="https://fsms.iqoption.com/storage/public/cg/gq/u2vm73k4mm2dgn60/Group 323.png")
                            p.number ${{ EXNOVA_no_activity.block_31 }}$  
                        .right-block
                            .padding-bottoim-block 
                                p.title-bottom-block ${{ EXNOVA_no_activity.block_22 }}$
                                .left
                                    p.right-text ${{ EXNOVA_no_activity.block_23 }}$
                                    p.right-number ${{ EXNOVA_no_activity.block_28 }}$
                                .right
                                    p.right-text ${{ EXNOVA_no_activity.block_29 }}$
                                    p.right-number.green ${{ EXNOVA_no_activity.block_30 }}$
                                a.item-link(href="{{embedded.domain}}/traderoom/asset?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ EXNOVA_no_activity.block_32 }}$
                                    img.arr(src="https://static.cdnroute.io/files/storage/public/62/ba/eeef16f711i0f4d2e1/icon_arrow__2_.png")      
        
table.row
    tr
        td.wrapper.offset-by-one.last.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb0    
                        //- a.app-store(href="#" target="_blank")
                        //-     img.app-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmt0/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 (1).png")
                        
                        a.google-store(href="#" target="_blank")
                            img.google-store(src="https://fsms.iqoption.com/storage/public/cg/er/jnfm73k4mm2dgmsg/google-play-badge (9).png")
