
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-black-friday&retrack=eexnova-black-friday&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-black-friday&retrack=exnova-black-friday&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;
.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44

                        p.title.pb30 ${{ exnova-black-friday.block_01 }}$ 

                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/ct/2s/gq76f6c4k7f547ag/banner-1.png")
                        p.text.pt30.pb12 ${{ exnova-black-friday.block_02 }}$ 
                        p.text ${{ exnova-black-friday.block_03 }}$ 

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20 ${{ exnova-black-friday.block_04 }}$

                        .grey-box
                            p.text ${{ exnova-black-friday.block_05 }}$

                        .div-12 &nbsp;

                        .grey-box
                            p.text ${{ exnova-black-friday.block_06 }}$

                        .div-12 &nbsp;

                        .grey-box
                            p.text ${{ exnova-black-friday.block_07 }}$

                        .div-12 &nbsp;

                        .grey-box
                            p.text ${{ exnova-black-friday.block_08 }}$

                        .div-12 &nbsp;


                        .grey-box
                            p.text ${{ exnova-black-friday.block_09 }}$

                        .div-12 &nbsp;

                        .grey-box
                            p.text ${{ exnova-black-friday.block_10 }}$

                        
                        table.w245(align="center")
                            tr
                                td.pt40.pb0
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-black-friday&retrack=exnova-black-friday" universal="true" target="_blank") ${{ exnova-black-friday.block_11 }}$

.div-12 &nbsp;

table.row.white-bg(style="border: 4px solid #0173ca;")
    tr
        td.wrapper.last.pt44.offset-by-one
            table.ten.columns
                
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb32 ${{ exnova-black-friday.block_12 }}$
                        //- a(href="#" universal="true" target="_blank")
                        //-     img.center(src="https://fsms.quadcode.com/storage/public/ct/2s/gq76f6c4k7f547bg/banner-2.png")
                        p.text ${{ exnova-black-friday.block_13 }}$

.div-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.middle-title.pb24 ${{ exnova-black-friday.block_14 }}$ 
                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 1
                                    td.pb0.w-a
                                   
                                        p.text.wb-bw ${{ exnova-black-friday.block_15 }}$ {{embedded.brand_name}} ${{ exnova-black-friday.block_17 }}$ 
                        .h-12 &nbsp;
                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 2
                                    td.pb0.w-a
                        
                                        p.text.wb-bw ${{ exnova-black-friday.block_18 }}$
                        
                        .h-12 &nbsp;

                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number 3
                                    td.pb0.w-a
                    
                                        p.text.wb-bw ${{ exnova-black-friday.block_19 }}$
                                    
                        table.w245(align="center")
                            tr
                                td.pt40.pb0
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=BLACKFRIDAY100&aff=7&afftrack=mail_exnova-black-friday&retrack=mail-exnova-black-friday&type=binary-option&asset=1" universal="true" target="_blank") ${{ exnova-black-friday.block_20 }}$
