
table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        p.gray-text.center.pb12 ${{ exnova-black-friday.block_21 }}$
                        p.gray-text.center.pb40 ${{ exnova-black-friday.block_22 }}$ 
                            a.link(href="https://exnova.com/terms/promocodes-policy/?&aff=7&afftrack=mail_exnova-black-friday&retrack=mail-exnova-black-friday" target="_blank") ${{ exnova-black-friday.block_23 }}$ 
                            |${{ exnova-black-friday.block_24 }}$

                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_Green-Red-Market" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_Green-Red-Market&retrack=Green-Red-Market" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt32
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/cv/en/ht3jqakhdj8lo5m0/fb.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51ts0/ig.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht3jqakhdj8lo5mg/yt.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tq0/tg.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51trg/tw.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/en/ht1msj7rr6s51tqg/Dis.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cv/en/nu3jqakhdj8lo5n0/wats.png")

