table.row
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title.pb32 ${{ mistery-box-awake-results.block_01 }}$ 
                        
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d2/so/prrjqakt7v2kur60/Mystery-box-promo-Exnova.png")
                
                        p.text.pt32 ${{ mistery-box-awake-results.block_02 }}$
                        //- p.text ${{ mistery-box-awake-results.block_03 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt44
                        .middle-title.pb32 ${{ mistery-box-awake-results.block_03 }}$
                        
                        .gray-block
                            a(href="https://drive.google.com/file/d/1vmvmwArDZVM8HTaZ2zgDvkkzKYxgrUUe/view?usp=sharing" universal="true" target="_blank")
                                .cup-block
                                    p.middle-title.mw70 ${{ exnova-mistery-box-awake-results-2.block_01 }}$
                                    
                                    a(href="https://drive.google.com/file/d/1vmvmwArDZVM8HTaZ2zgDvkkzKYxgrUUe/view?usp=sharing" universal="true" target="_blank")
                                        img.cup-img(src="https://fsms.quadcode.com/storage/public/d3/17/jerjqakt7v2kuse0/cup-exnova-new.png")
                    
                            p.text.pt24 165779947, 173358714 ,183151511, 158270016, 182345206, 179540823, 182317006, 169735222, 183015009, 182234945, 166107018, 179516584, 182619098, 180964237, 182997320, 164393366, 151954863, 183146862, 157102918, 182553574, 144896880, 183200410, 161376010, 163977375, 148147609, 174837770, 181966373, 178308042

                tr
                    td.text-pad-small.pb44.pt0
                        table.w280(align="center" style="border-collapse:initial;")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=MYSTERYBOX&aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results&category=binary-option" universal="true" target="_blank") ${{ exnova-mistery-box-awake-results-2.block_02 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
      
                        p.middle-title.pb12.center ${{ exnova-mistery-box-awake-results-2.block_03 }}$
                        p.text.pb40.center ${{ exnova-mistery-box-awake-results-2.block_04 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=WEEKEND&aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results&category=binary-option" universal="true" target="_blank")  ${{ exnova-mistery-box-awake.block_16 }}$

table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb40.pt40 
                        p.gray-text.pb10 ${{ mistery-box-awake-results.block_07 }}$
                        p.gray-text.pb10 ${{ mistery-box-awake-results.block_08 }}$&nbsp;
                            a.link(href="https://exnova.com/terms/promocodes-policy/?aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results&category=binary-option" universal="true" target="_blank") ${{ mistery-box-awake-results.block_09 }}$

    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .stor.center
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-mistery-box-awake-results" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-mistery-box-awake-results&retrack=mistery-box-awake-results" target="_blank")
                                img.a-google(src="${{ social-exnova.block_06 }}$")

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .socials.center
                            .div-inline.first-inline
                                a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                    img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                                a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                                a(href="${{ social-exnova.block_02 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                                a(href="https://t.me/exnovachat" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            .div-inline
                                a(href="${{ social-exnova.block_04 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                                a.last-link(href="${{ social-exnova.block_05 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png" style="max-width: 20px !important;")
                                a.last-link(href="https://discord.gg/exnova" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")
                                a.last-link(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank" style="margin-left: 0px !important; margin-right: 0px !important;")
                                    img.soc-icon.what(src="https://fsms.quadcode.com/storage/public/cv/e2/jchmsj7rr6s51tf0/what-icon.png")
