table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_IQ-RFM-3-1-1&retrack=mail_IQ-RFM-3-1-1&type=forex&asset=1" universal="true" target="_blank")
                            img.logo.center(src="https://static.cdnroute.io/files/storage/public/60/b6/1b5cef3f19b7c9i0b2/logo_shadow_top_2.png")

table.row.brad-full.bgr-image
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        .h-406 &nbsp;

    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb50.pt0

                        div.gmail-blend-screen
                            div.gmail-blend-diff
                                p.white-title.pb16 {{embedded.user_first_name}}${{ rfm-iq-311.block_02 }}$
                                p.white-text.test-class  ${{ rfm-iq-311.block_03 }}$

                        .h-24 &nbsp;

                        table.w280(align="left")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/open-asset?aff=7&afftrack=mail_IQ-RFM-3-1-1&retrack=mail_IQ-RFM-3-1-1" universal="true" target="_blank") ${{ rfm-iq-311.block_04 }}$

.h-12 &nbsp;
//- table.row.brad-full.white-bg(style="border: 4px solid #FF7700;")
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44

                        p.middle-title.pb32 ${{ rfm-iq-311.block_05 }}$
                        .first-block
                            .inside-padding 
                                p.fat-text.mw-1 ${{ rfm-iq-311.block_06 }}$

                        .second-block
                            .inside-padding 
                                p.fat-text ${{ rfm-iq-311.block_08 }}$

                        .h-8 &nbsp;

                        .third-block
                            .inside-padding 
                                p.fat-text ${{ rfm-iq-311.block_09 }}$

                        .fourth-block
                            .inside-padding 
                                p.fat-text ${{ rfm-iq-311.block_07 }}$ 
                        
                        .h-8 &nbsp;

                        .fiveth-block
                            .inside-padding 
                                p.fat-text ${{ rfm-iq-311.block_10 }}$

                        .sixth-block
                            .inside-padding 
                                p.fat-text.mw-3 ${{ rfm-iq-311.block_11 }}$ 
.h-12 &nbsp;
table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ rfm-iq-311.block_12 }}$
                        .orange-back-1
                            .left-block 
                                p.small-title.pb40 ${{ rfm-iq-311.block_13 }}$ 
                                p.text ${{ rfm-iq-311.block_14 }}$ 
                          
                        .h-8 &nbsp;
                        .orange-back-2
                            .left-block 
                                p.small-title.pb40 ${{ rfm-iq-311.block_15 }}$ 
                                p.text ${{ rfm-iq-311.block_16 }}$ 
                   
                        .h-8 &nbsp;
                        .orange-back-3
                            .left-block 
                                p.small-title.pb40 ${{ rfm-iq-311.block_17 }}$ 
                                p.text ${{ rfm-iq-311.block_18 }}$ 
                         

                        .h-40 &nbsp;
                        table.w280.centet(style="border-collapse: initial;" align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=NY2026&aff=7&afftrack=mail_IQ-RFM-3-1-1&retrack=IQ-RFM-3-1-1" universal="true" target="_blank") ${{ rfm-iq-311.block_19 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg(style="border: 4px solid #FF7700;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ rfm-iq-311.block_20 }}$
                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                        p.small-title.pb4 ${{ rfm-iq-311.block_21 }}$
                                        p.text ${{ rfm-iq-311.block_22 }}$

                        .h-12 &nbsp;

                        .line-block 
                            table.w100
                                tr
                                    td.m-w.pb0
                                        a(href="#" universal="true" target="_blank")
                                            img.lest-item(src="https://fsms.quadcode.com/storage/public/d5/oe/ha7vhhgea139uijg/dot.png")
                                    td.w-a.pb0
                                            p.small-title.pb4 ${{ rfm-iq-311.block_23 }}$
                                            p.text.pb36 ${{ rfm-iq-311.block_24 }}$

                            p.fat-text.pb12 ${{ rfm-iq-311.block_25 }}$
                            //- p.fat-text.pt30.pb12 ${{ rfm-iq-311.block_26 }}$

                            .promo-block
                                p.promo-text ${{ rfm-iq-311.block_27 }}$

                            p.small-gray-text.pt6 ${{ rfm-iq-311.block_29 }}$
                        
                        .h-40 &nbsp;
                        
                        table.w280.centet(style="border-collapse: initial;" align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.iqoption.com/v1/multi-links/deposit?promocode=RECLAIM150V&aff=7&afftrack=mail_IQ-RFM-3-1-1&retrack=IQ-RFM-3-1-1" universal="true" target="_blank") ${{ rfm-iq-311.block_28 }}$

table.row
    tr
        td.wrapper.last.pt20.offset-by-one
            table.ten.columns
                tr
                    td.pb0.text-pad-small
                        p.promo-text-foot.center.pb10 ${{ rfm-iq-311.block_30 }}$
                        p.promo-text-foot.center.pb50 ${{ rfm-iq-311.block_31 }}$&nbsp;
                            a.link(href="https://iqoption.com/terms-and-conditions/promocodes-policy?&afftrack=mail_IQ-RFM-3-1-1&retrack=IQ-RFM-3-1-1" target="_blank") ${{ rfm-iq-311.block_32 }}$
                            |${{ rfm-iq-311.block_33 }}$
                        .stor.center
                            a(href="https://app.appsflyer.com/id871125783?pid=7&c=mail_IQ-RFM-3-1-1" target="_blank")
                                img.a-app(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.iqoption?pid=7&c=mail_IQ-RFM-3-1-1" target="_blank")
                                img.a-google(src="https://fsms.iqoption.com/storage/public/cn/td/oo285cee2vclvjr0/play.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td(align="center").pb0.center
                        .socials.center
                            a.first-link(href="https://www.facebook.com/iqoptionglobal" target="_blank")
                                img.soc-icon.fb(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vdg/fb.png")
                            a(href="${{ socials-3.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7ve0/ig.png")
                            a(href="${{ socials-3.block_03 }}$" target="_blank")
                                img.soc-icon.you(src="https://fsms.iqoption.com/storage/public/cn/td/gb285cee2vclvjq0/yt.png")
                            a.last-link(href="${{ socials-3.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.iqoption.com/storage/public/cn/td/fri03qqv4qln7vf0/tw.png")
