table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")

                tr
                    td.text-pad-small.pb40
                        p.title ${{ margin-call-notice.block_00 }}$

table.row.grey-bg
    tr
        td.wrapper.last.pt15
            table.twelve.columns
                tr
                    td.pb0

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb15 
                            strong ${{ margin-call-notice.block_01 }}$
                        p.text.pb15 ${{ margin-call-notice.block_02 }}$
                        p.text.pb15 ${{ margin-call-notice.block_03 }}$&nbsp;
                            |<b>{{event_margin_level}}${{ margin-call-notice.block_05 }}$</b>
                            |${{ margin-call-notice.block_06 }}$&nbsp;
                            a(href="{{embedded.company_terms_link}}" target="_blank") ${{ margin-call-notice.block_07 }}$
                            |&nbsp;${{ margin-call-notice.block_08 }}$
                            |<b>{{event_stop_out_margin_level}}${{ margin-call-notice.block_10 }}$</b>
                        p.text ${{ margin-call-notice.block_11 }}$        

table.row
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.vam.pb0
                        .left-side
                            .button-wrapper.button-wrapper_left
                                table.medium-button.radius
                                    tr
                                        td.butt-td
                                            a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ margin-call-notice.block_12 }}$

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt20
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.text ${{ margin-call-notice.block_13 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ margin-call-notice.block_14 }}$
                            |&ensp;${{ margin-call-notice.block_15 }}$

