
table.row
    tr
        td.wrapper
            table.row.twelve.columns
                tr
                    td.wrapper.offset-by-four.last.pb0
                        table.gour.columns
                            tr
                                td.pb0
                                    a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_blitz-options&retrack=blitz-options" target="_blank")
                                        img.logo.center(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.br-top
    tr
        td.wrapper.last.pt0.pb0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="#").nopoint
                            img.image.br-top(src="https://static.cdnroute.io/files/storage/public/61/c4/8e1bb3e405c0f1b2f3/Group_34_Cop2y.gif")

table.row.bg-white
    tr
        td.wrapper.last.offset-by-one.pb40
            table.ten.columns
                tr
                    td.pb0.pt30.text-pad-small
                        p.text-title.pb10 ${{ blitz-options.block_00 }}$
                        p.text ${{ blitz-options.block_01 }}$
                tr
                    td.pt30.pb30.text-pad-small
                        .back-block
                            .block
                                .left-block
                                    a(href="#")
                                        img.min-img-1.center(src="https://static.cdnroute.io/files/storage/public/61/c4/83f152f7d0c0b1e0i3/1_capital.png")
                                    p.text-bot.pb3 <b>${{ blitz-options.block_02 }}$</b>
                                    p.text-bot ${{ blitz-options.block_03 }}$
                                .center-block
                                    a(href="#")
                                        img.min-img-2.center(src="https://static.cdnroute.io/files/storage/public/61/c4/83f156afb1i3d3j5d5/2_capital.png")
                                    p.text-bot.pb3 <b>${{ blitz-options.block_04 }}$</b>
                                    p.text-bot ${{ blitz-options.block_05 }}$
                                .right-block-two
                                    a(href="#")
                                        img.min-img-4.center(src="https://static.cdnroute.io/files/storage/public/61/c4/83f1690494e7c5e6g3/4_capital.png")
                                    p.text-bot.pb3 <b>${{ blitz-options.block_08 }}$</b>
                                    p.text-bot ${{ blitz-options.block_09 }}$
                                .right-block
                                    a(href="#")
                                        img.min-img-3.center(src="https://static.cdnroute.io/files/storage/public/61/c4/83f17bb235h2c4a7i4/3_capital.png")
                                    p.text-bot.pb3 <b>${{ blitz-options.block_06 }}$</b>
                                    p.text-bot ${{ blitz-options.block_07 }}$
                            table.row
                                tr
                                    td.wrapper.last.offset-by-two.pb0.pt0
                                        table.six.columns
                                            tr
                                                td.pb30
                                                    .button-wrapper.button-wrapper_bot.pt0.pr30-a
                                                        table.medium-button
                                                            tr
                                                                td.iq.but-3
                                                                    a.butt(href="https://trade.capitalbear.com/traderoom/deeplink/openasset?aff=7&afftrack=mail_blitz-options2&retrack=blitz-options&instrument=turbo&assetId=1345" target="_blank") ${{ digest-capital-17-12.block_08 }}$


