table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb30.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Strategy-bonus_Exnova&retrack=Strategy-bonus_Exnova&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_Strategy-bonus_Exnova&retrack=Strategy-bonus_Exnova&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title ${{ Strategy-bonus_Exnova.block_01 }}$
                        p.title ${{ Strategy-bonus_Exnova.block_02 }}$
                        p.title.pb32 ${{ Strategy-bonus_Exnova.block_03 }}$
                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8c0/top.png")
                        p.text.pt32.pb10 ${{ Strategy-bonus_Exnova.block_04 }}$
                        p.text.pb40 ${{ Strategy-bonus_Exnova.block_05 }}$
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=STRATEGY100&aff=7&afftrack=mail_mail-Strategy-bonus_Exnova&retrack=mail-Strategy-bonus_Exnova&type=binary-option&asset=1" universal="true" target="_blank") ${{ Strategy-bonus_Exnova.block_06 }}$


.h-12 &nbsp;

table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb16.pt44 
                        p.title-head.pb16 ${{ Strategy-bonus_Exnova.block_07 }}$

                        .left-block
                            .padding-box
                                p.block-title ${{ Strategy-bonus_Exnova.block_08 }}$
                                p.text ${{ Strategy-bonus_Exnova.block_09 }}$
                        .right-block
                            .padding-box
                                p.block-title ${{ Strategy-bonus_Exnova.block_10 }}$
                                p.text ${{ Strategy-bonus_Exnova.block_11 }}$
                        
                tr
                    td.text-pad-small.pb44
                        .line-block 
                            p.block-title ${{ Strategy-bonus_Exnova.block_12 }}$
                            p.text ${{ Strategy-bonus_Exnova.block_13 }}$
                        p.block-title.pb24.pt32 ${{ Strategy-bonus_Exnova.block_14 }}$
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        p.block-title ${{ Strategy-bonus_Exnova.block_15 }}$
                                        p.text ${{ Strategy-bonus_Exnova.block_16 }}$
                                        
                        .h-12 &nbsp;

                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        p.block-title ${{ Strategy-bonus_Exnova.block_17 }}$
                                        p.text ${{ Strategy-bonus_Exnova.block_18 }}$

                        .h-12 &nbsp;

                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        p.block-title ${{ Strategy-bonus_Exnova.block_19 }}$
                                        p.text ${{ Strategy-bonus_Exnova.block_20 }}$

                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        p.block-title ${{ Strategy-bonus_Exnova.block_21 }}$
                                        p.text ${{ Strategy-bonus_Exnova.block_22 }}$
                        .h-12 &nbsp;
                        .line-block 
                            table.w100
                                tr
                                    td.pb0.m-w
                                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                                            img.marker(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8bg/bird.png")
                                    td.pb0.w-a
                                        p.block-title ${{ Strategy-bonus_Exnova.block_23 }}$
                                        p.text ${{ Strategy-bonus_Exnova.block_24 }}$
                 

                        p.block-title.pt32.pb24 ${{ Strategy-bonus_Exnova.block_25 }}$
                        a(href="#" universal="true" target="_blank" style="pointer-events:none;")
                            img.center(src="https://fsms.quadcode.com/storage/public/cu/ub/093jqakjdvu1n1b0/Illustration.png")
.h-12 &nbsp;

table.row.white-bg.brad-full(style="border: 4px solid #0B79CC;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title-head.pb20.center ${{ Strategy-bonus_Exnova.block_26 }}$
                        p.text.pb30.center ${{ Strategy-bonus_Exnova.block_27 }}$

                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=STRATEGY100&aff=7&afftrack=mail_mail-Strategy-bonus_Exnova&retrack=mail-Strategy-bonus_Exnova&type=binary-option&asset=1" universal="true" target="_blank") ${{ Strategy-bonus_Exnova.block_28 }}$

.h-12 &nbsp;
table.row.white-bg.brad-full
    tr
        td.wrapper.last.offset-by-one.pb0
            table.ten.columns
                tr
                    td.text-pad-small.pb28.pt44
                        p.title-head ${{ Strategy-bonus_Exnova.block_29 }}$
            
    tr
        td.wrapper.last.pt0.pb0
            table.twelve.columns
                tr
                    td.pb40.text-pad-small.plr50.background-arrow
                        .social-links.pt0
                            .countries-block-new.fisrt-block
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8b0/one.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova.block_30 }}$ {{embedded.brand_name}} ${{ Strategy-bonus_Exnova.block_32 }}$

                            .countries-block-new.mar-mob
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cu/ub/091msj7jlq1dg8ag/two.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova.block_33 }}$
                        
                            .countries-block-new
                                    img.block-img(src="https://fsms.quadcode.com/storage/public/cu/ub/093jqakjdvu1n1ag/three.png")
                                    p.text.pt12.center.brake-word ${{ Strategy-bonus_Exnova.block_34 }}$
                                    
    tr
        td.wrapper.last.offset-by-one.pb0
            table.ten.columns
                tr
                    td.text-pad-small.pb32.pt0
                        table.w280(align="center")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=STRATEGY100&aff=7&afftrack=mail_mail-Strategy-bonus_Exnova&retrack=mail-Strategy-bonus_Exnova&type=binary-option&asset=1" universal="true" target="_blank") ${{ Strategy-bonus_Exnova.block_35 }}$

                tr
                    td.text-pad-small.pb44    
                        p.gray-text.center.pt32.bt-dash.plr40 ${{ Strategy-bonus_Exnova.block_36 }}$

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-new-digest-28-01-25" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-new-digest-28-01-25&retrack=exnova-new-digest-28-01-25" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c4/tp6uko6hcq7nd5kg/pwa-en.png")

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .socials.center
                            a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                            a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                            a(href="https://www.youtube.com/@ExnovaTrading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                            a(href="https://t.me/exnova_global" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            a(href="https://www.tiktok.com/@exnova_trading" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                            a.last-link(href="${{ social-exnova.block_02 }}$" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png")
