table.row
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb40.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active&type=forex&asset=1" universal="true" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.title.pb32 ${{ exnova-mistery-2-box.block_01 }}$ 
                        
                        a(href="#" universal="true" target="_blank")
                            img.center.under-img(src="https://fsms.quadcode.com/storage/public/d2/so/prrjqakt7v2kur60/Mystery-box-promo-Exnova.png")
                
                        p.text.pt32 ${{ exnova-mistery-2-box.block_02 }}$
    
.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ exnova-mistery-2-box.block_03 }}$
                        ul(style="margin: 0; padding: 0 0 24px 25px;") 
                            li.text.pb12 ${{ exnova-mistery-2-box.block_04 }}$
                            li.text.pb12 ${{ exnova-mistery-2-box.block_05 }}$
                            li.text ${{ exnova-mistery-2-box.block_06 }}$

                        p.text.pb40 ${{ exnova-mistery-2-box.block_07 }}$

                        table.w280(align="center" style="border-collapse:initial;")
                            tr
                                td.butt-2.pb0
                                    a.butt-link-2(href="https://api.iqoption.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active&category=binary-option" universal="true" target="_blank") ${{ exnova-mistery-2-box.block_08 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        p.middle-title.pb32 ${{ exnova-mistery-2-box.block_09 }}$
             
                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 1

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova-mistery-2-box.block_10 }}$
                        .h-12 &nbsp;

                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 2

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova-mistery-2-box.block_11 }}$
                        .h-12 &nbsp;
                        .gray-block     
                            table.w100
                                tr
                                    td.pb0.m-w(style="vertical-align: top;")
                                        p.number 3

                                    td.pb0.w-a(style="vertical-align: middle;")
                                        p.text ${{ exnova-mistery-2-box.block_12 }}$

                        .h-30 &nbsp;
                        table.w280(align="center" style="border-collapse:initial;")
                            tr
                                td.butt-2.pb0
                                    a.butt-link-2(href="https://api.iqoption.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active&category=binary-option" universal="true" target="_blank") ${{ exnova-mistery-2-box.block_13 }}$
      
.h-12 &nbsp;

table.row.brad-full.bg-img-2
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44
                        .max-with-2
                            p.middle-title.pb12 ${{ exnova-mistery-2-box.block_14 }}$
                            p.text.pb40 ${{ exnova-mistery-2-box.block_15 }}$
                            table.w280(align="left")
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.iqoption.com/v1/multi-links/asset-selector?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active&category=binary-option" universal="true" target="_blank") ${{ exnova-mistery-2-box.block_16 }}$

table.row
    tr
        td.wrapper.last.pt50
            table.twelve.columns
                tr
                    td.pb20
                        .stor.center
                            //- a(href="https://testflight.apple.com/join/vwJsQ4m1?aff=7&afftrack=mail_exnova-risk-free-winner1&retrack=exnova-risk-free-winner1" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/cn/td/oo285cee2vclvjqg/app.png")
                            a(href="https://app.appsflyer.com/com.exnova?pid=7&c=mail_exnova-mistery-box-active" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/ct/c5/00euko6hcq7nd5lg/gp-new-exnova.png")
                            a(href="https://trade.exnova.com/pwa?aff=7&afftrack=mail_exnova-mistery-box-active&retrack=exnova-mistery-box-active" target="_blank")
                                img.a-google(src="${{ social-exnova.block_06 }}$")

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0
                        .socials.center
                            .div-inline.first-inline
                                a.first-link(href="${{ social-exnova.block_00 }}$" target="_blank")
                                    img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/ci/2g/06mgbu954ogkdu7g/fb-icon.png")
                                a(href="${{ social-exnova.block_01 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ci/2g/06gd0gfsc472auj0/inst-icon.png")
                                a(href="${{ social-exnova.block_02 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fpg/youtube-icon.png")
                                a(href="https://t.me/exnovachat" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl7n71ajn3fd7fp0/tg-icon.png")
                            .div-inline
                                a(href="${{ social-exnova.block_04 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/ct/7h/kl76f6cetv899s1g/tik-tok-icon.png")
                                a.last-link(href="${{ social-exnova.block_05 }}$" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cn/pf/rpq85cee2vclvivg/xx.png" style="max-width: 20px !important;")
                                a.last-link(href="https://discord.gg/exnova" target="_blank")
                                    img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/cv/e2/hjjjqakhdj8lo5a0/discord-icon.png")
                                a.last-link(href="https://chat.whatsapp.com/D1CVzQHDKMHEZvul94IyhV" target="_blank" style="margin-left: 0px !important; margin-right: 0px !important;")
                                    img.soc-icon.what(src="https://fsms.quadcode.com/storage/public/cv/e2/jchmsj7rr6s51tf0/what-icon.png")
