table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")

table.row.brad-top
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb20 ${{ margin-call-notice.block_00 }}$
                        p.text.pb10
                            strong ${{ margin-call-notice.block_01 }}$
                        p.text.pb15 ${{ margin-call-notice.block_02 }}$
                        p.text.pb15 ${{ margin-call-notice.block_03 }}$&nbsp;
                            |<b>{{event_margin_level}}${{ margin-call-notice.block_05 }}$</b>
                            |${{ margin-call-notice.block_06 }}$&nbsp;
                            a(href="{{embedded.company_terms_link}}" target="_blank") ${{ margin-call-notice.block_07 }}$
                            |&nbsp;${{ margin-call-notice.block_08 }}$
                            |<b>{{event_stop_out_margin_level}}${{ margin-call-notice.block_10 }}$</b>
                        p.text ${{ margin-call-notice.block_11 }}$    
                        
table.row.white-bg
    tr
        td.wrapper.last.offset-by-three.pt0
            table.six.columns
                tr
                    td.pb40
                        .button-wrapper.button-wrapper_bot.pt0.plr20
                            table.medium-button.radius.six.columns
                                tr
                                    td.iq
                                        a.butt(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank") ${{ margin-call-notice.block_12 }}$

table.row.col-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb10        

table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.small-text.pt5.pb5.center ${{ margin-call-notice.block_13 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ margin-call-notice.block_14 }}$
                            |&ensp;${{ margin-call-notice.block_15 }}$

