z
table.row.brad-top
    tr
        td.wrapper.last.pt30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25&type=forex&asset=1" universal="true" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://api.trade.exnova.com/v1/multi-links/open-asset?aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25&type=forex&asset=1" universal="true" target="_blank") ${{ social-exnova.block_07 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

.div-20 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt40

                        .data-blue
                            p.data-text ${{ exnova-230725.block_02 }}$
                        p.title.pt10.pb20 ${{ exnova-230725.block_03 }}$

                        a(href="#" target="_blank" style="pointer-events: none;")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/6s/mg6fu8jqbm985e1g/banner-1.png")
                        p.subtitle.pt20.pb10 ${{ exnova-230725.block_04 }}$ {{embedded.user_first_name}} ${{ exnova-230725.block_06 }}$
            
                        p.text ${{ exnova-230725.block_07 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-230725.block_08 }}$
         
                        p.text.pb10 ${{ exnova-230725.block_09 }}$
                        p.text.pb10 ${{ exnova-230725.block_10 }}$
                        p.text.pb10 ${{ exnova-230725.block_11 }}$
                        p.text.pb10 ${{ exnova-230725.block_12 }}$
                        p.text.pb10 ${{ exnova-230725.block_13 }}$
                        p.text.pb30 ${{ exnova-230725.block_14 }}$
    

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://docs.google.com/forms/d/e/1FAIpQLScVL6GVMK7xszi3WJUqNoNVn_AYPawgwGS5qan7ebr4L00POg/viewform" universal="true" target="_blank") ${{ exnova-230725.block_15 }}$

.h-12 &nbsp;

table.row.brad-full.white-bg
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt30
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-230725.block_46 }}$
                        
                     
                        .blue-block-2
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number ${{ exnova-230725.block_47 }}$
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-230725.block_48 }}$</b>
                                        p.text ${{ exnova-230725.block_49 }}$
                                        
                        .h-12 &nbsp;

                        .blue-block-big
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number ${{ exnova-230725.block_50 }}$

                                    td.pb0.w-a

                                        p.text <b>${{ exnova-230725.block_51 }}$</b>
                                        p.text ${{ exnova-230725.block_52 }}$
                       
                            p.middle-text.pb5.pt20 ${{ exnova-230725.block_53 }}$
                            .block-blue-line
                                p.text ${{ exnova-230725.block_54 }}$
                   
                            p.middle-text.pt20 ${{ exnova-230725.block_55 }}$
                            //- p.text.pt30.pb5 <b>${{ exnova-230725.block_54 }}$</b>
                            .left-side-2
                                p.left-text ${{ exnova-230725.block_56 }}$

                            .right-side-2
                                table.w100(align="center")
                                    tr
                                        td.pb0.butt-2
                                            a.butt-link(href="https://api.trade.exnova.com/v1/multi-links/deposit?promocode=POWER120&aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=pexnova-new-digest-23-07-25" universal="true" target="_blank") ${{ exnova-230725.block_57 }}$
                            p.gray-text ${{ exnova-230725.block_58 }}$

                        .h-12 &nbsp;

                        .blue-block
                            table.w100
                                tr
                                    td.pb0.m-w
                                        p.number ${{ exnova-230725.block_59 }}$
                                    td.pb0.w-a
                                        p.text <b>${{ exnova-230725.block_60 }}$</b>
                                        p.text ${{ exnova-230725.block_61 }}$
      
.div-12 &nbsp;

table.row.black-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44(style="text-align: center;" align="center")

                        p.title-2.pb10.center(style="color: #f5f9ff") ${{ exnova-230725.block_22 }}$
                        //- .data-blue(style="margin: 0 auto")
                            p.data-text(style="color: #f5f9ff") ${{ new-digest-4.block_11 }}$
                        .div-20 &nbsp;
                        .green-block
                            .bg-asset
                                p.subtitle.pt10.pb10 ${{ exnova-230725.block_23 }}$
                            .div-12 &nbsp;
                            p.text 
                                span.left-span(style="font-size: 32px; line-height: 46px; font-weight: 700") ${{ exnova-230725.block_24 }}$
                                span.right-span(style="font-size: 40px; line-height: 46px; float: right; color: #ffffff; font-weight: 700") ${{ exnova-230725.block_25 }}$

                        p.subtitle.pt20.pb30(style="color: #f5f9ff").center ${{ exnova-230725.block_26 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://trade.exnova.com/en/counting?aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25"  universal="true" target="_blank") ${{ exnova-230725.block_27 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-230725.block_28 }}$

                        p.text.pb30 ${{ exnova-230725.block_29 }}$
                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/assetselector?category=cfd?aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25"  universal="true" target="_blank") ${{ exnova-230725.block_30 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-230725.block_31 }}$
          

                        p.text.pb10 ${{ exnova-230725.block_32 }}$
                        p.text.pb10 ${{ exnova-230725.block_33 }}$
                        p.text.pb10 ${{ exnova-230725.block_34 }}$
                        p.text.pb10 ${{ exnova-230725.block_35 }}$
                        //p.text.pb10 ${{ exnova-230725.block_20 }}$
                        p.text.pb30 ${{ exnova-230725.block_36 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/assetselector?category=cfd&aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25&type=cfd&asset=31" universal="true" target="_blank") ${{ exnova-230725.block_37 }}$

.div-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.last.pt30.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title-2.pb20
                            img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
                            |${{ exnova-230725.block_38 }}$
                        table.row 
                            tr
                                td.asset-block
                                    table.row 
                                        tr 
                                            td.pb0.td-icon(style="vertical-align: middle; padding-right: 20px;") 
                                                p.text-icon 🪙
                                            td.pb0(style="vertical-align:middle;")
                                                p.subtitle ${{ exnova-230725.block_39 }}$
                                   

                        p.text.pt20.pb20 ${{ exnova-230725.block_40 }}$

                        table.w245(align="center")
                            tr
                                td.iq.blue-button
                                    a.butt(href="https://trade.exnova.com/traderoom/deeplink/assetselector?category=forex&aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25" universal="true" target="_blank") ${{ exnova-230725.block_41 }}$

//- .div-12 &nbsp;

//- table.row.white-bg
//-     tr
//-         td.wrapper.last.pt30.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.text-pad-small.pb44
//-                         p.title-2.pb20
//-                             img.big-icon(src="https://fsms.quadcode.com/storage/public/cr/6s/qnudi3umufautrcg/icon-1.png")
//-                             |${{ exnova-230725.block_42 }}$
         

//-                         p.text.pb10 ${{ exnova-230725.block_43 }}$
//-                         p.text.pb30 ${{ exnova-230725.block_44 }}$

//-                         table.w245(align="center")
//-                             tr
//-                                 td.iq.blue-button
//-                                     a.butt(href="https://trade.exnova.com/traderoom/deeplink/assetselector?category=commodity&aff=7&afftrack=mail_exnova-new-digest-23-07-25&retrack=exnova-new-digest-23-07-25" universal="true" target="_blank") ${{ exnova-230725.block_45 }}$
