
//- table.row
//-     tr
//-         td.wrapper
//-             table.row.twelve.columns
//-                 tr
//-                     td.wrapper.offset-by-four.last.pb0
//-                         table.four.columns
//-                             tr
//-                                 td.pb0
//-                                     a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_capital-Weekly&retrack=capital-Weekly" target="_blank")
//-                                         img.logo.center(src="https://static.cdnpub.info/files/storage/public/60/7e/da5a300d80i4e3a7j7/logo.png")

table.row.brad-full
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb0
                        a(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_trade-to-win&retrack=trade-to-win").nopoint
                            img.center(src="https://fsms.quadcode.com/storage/public/cl/2d/squ440di46t34mv0/Frame 1 (1).png")

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb0.pb32.text-pad-small
                        //p.hello ${{ trade-to-win.block_01 }}$ {{embedded.user_first_name}},
                        p.text.pb0 ${{ trade-to-win.block_01 }}$
                        //- p.text.pb10 ${{ trade-to-win.block_04 }}$

    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.pb50.text-pad-small
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button
                                tr
                                    td.iq.rad
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_trade-to-win&retrack=trade-to-win" target="_blank") ${{ trade-to-win.block_15 }}$

//- table.row.white-bg.brad-full
//-     tr
//-         td.wrapper.last.pt40.offset-by-one
//-             table.ten.columns
//-                 tr
//-                     td.pb40.text-pad-small 
//-                         p.text.pb24 ${{ trade-to-win.block_04 }}$
//-                         p.points.pb10 ${{ trade-to-win.block_05 }}$&nbsp;
//-                             a.link-trader(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_trade-to-win&retrack=trade-to-win") ${{ trade-to-win.block_06 }}$
//-                         p.points.pb10 ${{ trade-to-win.block_07 }}$
//-                         p.points ${{ trade-to-win.block_08 }}$

//- .block-empty &nbsp;           

table.row.white-bg.brad-full
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb40.text-pad-small 
                        p.points.pb24 ${{ trade-to-win.block_02 }}$
                        p.text.pb10 ${{ trade-to-win.block_03 }}$
                        p.text.pb10 ${{ trade-to-win.block_04 }}$
                        p.text.pb10 ${{ trade-to-win.block_05 }}$
                        p.text.pb10 ${{ trade-to-win.block_06 }}$
                        p.text.pb10 ${{ trade-to-win.block_07 }}$
                        p.text.pb10 ${{ trade-to-win.block_08 }}$
                        p.text.pb10 ${{ trade-to-win.block_09 }}$
                        p.text.pb10 ${{ trade-to-win.block_10 }}$
                        p.text.pb10 ${{ trade-to-win.block_11 }}$
                        p.text.pb10 ${{ trade-to-win.block_12 }}$
                        
                        

    tr
        td.wrapper.last.offset-by-one.pt0
            table.six.columns
                tr
                    td.pb50.text-pad-small
                        .button-wrapper.button-wrapper_bot.pt0
                            table.medium-button
                                tr
                                    td.iq.rad
                                        a.butt(href="https://trade.capitalbear.com/traderoom/asset?aff=7&afftrack=mail_trade-to-win&retrack=trade-to-win" target="_blank") ${{ trade-to-win.block_15 }}$

.block-empty &nbsp;   

table.row.blue-bg-2.brad-full
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb40.text-pad-small     
                         p.text.pb0 ช่วงเวลาเทรดสะสมคะแนน 9 พย. - 30 พย. 66     
         
.block-empty &nbsp;   

table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.pb40.text-pad-small 
                        p.text.pb10 ประกาศรายชื่อผู้โชคดี  6 ธค. 66
                        p.text.pb10 ${{ trade-to-win.block_13 }}$
                            a.link(href="mailto:mailto:{{embedded.company_email}}" target="_blank") ${{ trade-to-win.block_14 }}$
                        p.text.pb0 CapitalBear Thailand 🐻💜
                            


table.row
    tr
        td.wrapper.last.pt40.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb20
                        p.black-subtitle.pb10.center ${{ capitalBear-25-03-22.block_19 }}$
                        p.text.center ${{ capitalBear-25-03-22.block_20 }}$
                            img.arr-pn(src="https://static.cdnroute.io/files/storage/public/61/ea/a05b0c5b04f3d1g2g3/serd__1_.png")

                tr
                    td.center
                        .stor.center
                            a.a-app(href="${{ capitalBear-28-04-23.block_20 }}$" target="_blank")
                                img.app-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f57d7f8i7j4i5j1/fb.png")
                            a.a-google(href="${{ capitalBear-28-04-23.block_21 }}$" target="_blank")
                                img.google-stor(src="https://static.cdnroute.io/files/storage/public/61/96/5b5f5ad843a0g9c4b7/inst.png")
