table.row
    tr
        td.wrapper.last.bgr
            table.row.header
                tr
                    td.wrapper.offset-by-one.last.pt30
                        table.ten.columns
                            tr
                                td.six.sub-columns.pb0
                                    a(href="https://8xtrade.com/traderoom/?aff=7&afftrack=mail&retrack=8x-lose" target="_blank")
                                        img.logo(src="https://static.cdnpub.info/files/storage/public/5f/51/18dae78c93d4c4g1d5/logo.png")
                                td.six.sub-columns.last.pb0
                                    .header-soc
                                        a(href="" target="_blank")
                                            img.ig(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadc8ed0a9c1b2b3/ig.png")
                                        a(href="" target="_blank")
                                            img.tw(src="https://static.cdnpub.info/files/storage/public/5f/51/18db28f4f5a1b6i3e8/twitter.png")
                                        a(href="" target="_blank")
                                            img.yt(src="https://static.cdnpub.info/files/storage/public/5f/51/18db48a987a3i5a3j0/yt.png")
                                        a(href="" target="_blank")
                                            img.fb(src="https://static.cdnpub.info/files/storage/public/5f/51/18dadd0ea9j2e9g2g8/fb.png")
            table.row
                tr
                    td.wrapper.last.offset-by-one.pt0
                        table.ten.columns
                            tr
                                td.text-pad-small.pb0
                                    p.title ${{ 8x-lose.block_01 }}$
                                    p.white-text ${{ 8x-lose.block_02 }}$
            table.row
                tr
                    td.wrapper.last.pt0
                        table.twelve.columns
                            tr
                                td.pb35




table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt30
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.text.pb10
                            strong ${{ 8x-lose.block_03 }}$
                        p.text.pb0 ${{ 8x-lose.block_04 }}$

                        a.nopoint.mtb30(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/51/18db23b387c4d3d6d3/lines.png")

                        p.black-sub.pb15 ${{ 8x-lose.block_05 }}$
                            .pl20
                                p.text.list.pb8
                                    span.list-text ${{ 8x-lose.block_06 }}$
                                p.text.list.pb8
                                    span.list-text ${{ 8x-lose.block_07 }}$
                                p.text.list
                                    span.list-text ${{ 8x-lose.block_08 }}$
                        p.text.pt15.pb10 ${{ 8x-lose.block_09 }}$

                        .item
                            img.item-img(src="https://static.cdnpub.info/files/storage/public/5f/58/e0e7406733e2g5g2d2/1.png")
                            .item_right
                                p.item-title ${{ 8x-lose.block_10 }}$
                                p.item-text ${{ 8x-lose.block_11 }}$
                        p.text.pt15.pb15 ${{ 8x-lose.block_12 }}$
                        a.red-link(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail&retrack=8x-lose" target="_blank")
                            img.arr(src="https://static.cdnpub.info/files/storage/public/5f/58/e3216b1521i6d4g8e0/arr.png")
                            | ${{ 8x-lose.block_13 }}$

                        .item
                            img.item-img(src="https://static.cdnpub.info/files/storage/public/5f/58/e0e73e89a9e0j6c0f6/2.png")
                            .item_right
                                p.item-title ${{ 8x-lose.block_14 }}$
                                p.item-text ${{ 8x-lose.block_15 }}$
                        p.text.pt15.pb15 ${{ 8x-lose.block_16 }}$
                        a.red-link(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail&retrack=8x-lose" target="_blank")
                            img.arr(src="https://static.cdnpub.info/files/storage/public/5f/58/e3216b1521i6d4g8e0/arr.png")
                            | ${{ 8x-lose.block_17 }}$

                        .item
                            img.item-img(src="https://static.cdnpub.info/files/storage/public/5f/58/e0e76d4c81a5h9i8g9/3.png")
                            .item_right
                                p.item-title ${{ 8x-lose.block_18 }}$
                                p.item-text ${{ 8x-lose.block_19 }}$
                        p.text.pt15.pb15 ${{ 8x-lose.block_20 }}$

                        a.nopoint.mtb15(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/58/e0e75450d1c8h8f2i5/lines.png")

                        p.text ${{ 8x-lose.block_21 }}$
                        a.nopoint.mtb15(href="#" target="_blank")
                            img.img100(src="${{ 8x-lose.block_29 }}$")

                        a.nopoint.mtb15(href="#" target="_blank")
                            img.img100(src="https://static.cdnpub.info/files/storage/public/5f/58/e0e75450d1c8h8f2i5/lines.png")

                        p.black-sub.pb15.pt15 ${{ 8x-lose.block_26 }}$
                        p.text ${{ 8x-lose.block_27 }}$

table.row.white-bg
    tr
        td.wrapper.last.offset-by-one.pt15
            table.six.columns
                tr
                    td.text-pad-small.vam.pb40
                        .button-wrapper.button-wrapper_left
                            table.medium-button.radius
                                tr
                                    td.butt-td
                                        a.butt(href="https://8xtrade.com/traderoom/asset/1?type=binary&aff=7&afftrack=mail&retrack=8x-lose" target="_blank") ${{ 8x-lose.block_28 }}$
