
table.row.brad-top
    tr
        td.wrapper.last.pt30.pb30
            table.row
                tr
                    td.wrapper.offset-by-one.last.pt0
                        table.ten.columns
                            tr
                                td.pb0.text-pad-small
                                    a(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-4&retrack=car-tournament-email-4" target="_blank")
                                        img.logo(src="https://fsms.quadcode.com/storage/public/cp/av/8ncds9kt1nhaukfg/logo-exnova.png")
                                    a.go-invest(href="https://trade.exnova.com/traderoom/asset?aff=7&afftrack=mail_car-tournament-email-2&retrack=car-tournament-email-4" target="_blank") ${{ Invest-now.block_00 }}$
                                        img.arr(src="https://static.cdnroute.io/files/storage/public/62/a2/fef50cbea6d4j8b4d4/icon_arrow.png")

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.title.pb32.pt15 ${{ Teaser-email-4.block_01 }}$ ${{ Teaser-email-4.block_02 }}$
                        a(href="#" target="_blank")
                            img.banner(src="https://fsms.quadcode.com/storage/public/cr/am/c46di3umufautsh0/top-mail-4.png")

                        p.text.pt32 ${{ Teaser-email-4.block_03 }}$&nbsp;
                            a(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-4&retrack=car-tournament-email-4" target="_blank") ${{ Teaser-email-4.block_04 }}$
                            |&nbsp;${{ Teaser-email-4.block_05 }}$

                        table.w245(align="center")
                            tr 
                                td.pt40.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-4&retrack=car-tournament-email-4" target="_blank") ${{ Teaser-email-4.block_06 }}$


.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb32
                        p.small-title.pb32 ${{ Teaser-email-4.block_07 }}$
                        .grey-box
                            p.text.pb16 ${{ Teaser-email-4.block_08 }}$
                            p.big-date.pb8 ${{ Teaser-email-4.block_09 }}$
                            p.text.pb15  ${{ Teaser-email-4.block_10 }}$

                            p.text ${{ Teaser-email-4.block_11 }}$
                        
                      
               
                tr
                    td.text-pad-small.pb44.pt0          
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-4&retrack=car-tournament-email-4" target="_blank") ${{ Teaser-email-4.block_12 }}$



                    
.h-12 &nbsp;

table.row.white-bg
    tr
        td.wrapper.offset-by-one.last.pt44
            table.ten.columns
                tr
                    td.text-pad-small.pb32
                        p.small-title ${{ Teaser-email-4.block_13 }}$
    tr
        td.wrapper.last.pt0.pb40
            table.twelve.columns
                tr
                    td.pb0.text-pad-small.plr50.background-arrow
                        .social-links.pt0.pb0
                            .countries-block-new.fisrt-block
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f10/stepspics.png")
                                    p.text.pt12.center ${{ Teaser-email-4.block_14 }}$ ${{ Teaser-email-4.block_15 }}$ ${{ Teaser-email-4.block_16 }}$

                            .countries-block-new.mar-mob
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehudi3umufautse0/stepspics (1).png")
                                    p.text.pt12.center ${{ Teaser-email-4.block_17 }}$
                        
                            .countries-block-new
                                    img.block-img.center(src="https://fsms.quadcode.com/storage/public/cr/8r/ehufu8jqbm985f00/stepspics (2).png")
                                    p.text.pt12.center ${{ Teaser-email-4.block_18 }}$ 
                            
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb32                               
                        table.w245(align="center")
                            tr 
                                td.pt0.pb0 
                                    .button-wrapper_bot.pt0
                                        table.medium-button.radius.blue-button
                                            tr
                                                td.iq.blue-button
                                                    a.butt(href="https://exnovatorneios.com/?aff=7afftrack=mail_car-tournament-email-4&retrack=car-tournament-email-4" target="_blank") ${{ Teaser-email-4.block_19 }}$
                
    tr
        td.wrapper.offset-by-one.last.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb44
                        p.grey-text.bt.pt20 ${{ Teaser-email-4.block_20 }}$