table.row.header
    tr
        td.wrapper.offset-by-four.last.pt0
            table.four.columns
                tr
                    td.pb25
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail_system&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnroute.io/files/storage/public/62/0f/89f0e2a488e7j9c7b9/logo.png")
table.row.brad-top.bb
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb30
                        p.title.pb20 ${{ sus-geo.block_00 }}$
                        p.text.pb10
                            strong ${{ sus-geo.block_01 }}$
                        p.text.pb20 ${{ sus-geo.block_02 }}$

                        p.text.list
                            a(href="{{embeded_domain}}/profile/security" target="_blank") ${{ sus-geo.block_03 }}$
                        p.text.list
                            a(href="{{embeded_domain}}/profile/security" target="_blank") ${{ sus-geo.block_04 }}$


table.row.brad-bot
    tr
        td.wrapper.last.offset-by-one.pt40
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.small-text.pt5.pb5.center ${{ sus-geo.block_05 }}$&nbsp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ sus-geo.block_06 }}$
                            | &ensp;${{ sus-geo.block_07 }}$