table.row.header
    tr
        td.wrapper.offset-by-one.last.pt40
            table.ten.columns
                tr
                    td.pb40
                        a(href="{{embedded.domain}}/traderoom/?aff=7&afftrack=mail&retrack=system" target="_blank")
                            img.logo(src="https://static.cdnpub.info/files/storage/public/5f/ad/4a6bec6d95c0c0h5j4/logo.png")
                tr
                    td.text-pad-small.pb40
                        p.title ${{ 2facode.block_02 }}$
table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb15

table.row.white-bg.bb.brad-top
    tr
        td.wrapper.last.offset-by-one.pt35
            table.ten.columns
                tr
                    td.text-pad-small.pb40
                        p.text.pb10
                            strong ${{ 2facode.block_03 }}$
                        p.text.pb20 ${{ 2facode.block_06 }}$
                        .grey-block
                            p.code {{code}}
                            p.text.pt20 ${{ 2facode.block_07 }}$&ensp;5&ensp;${{ 2facode.block_08 }}$
                        p.text.pt20 ${{ 2facode.block_09 }}$&ensp;{{embedded.brand_name}}&ensp;${{ 2facode.block_10 }}$
table.row.grey-bg
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb5
table.row.white-bg.brad-bot
    tr
        td.wrapper.last.offset-by-two.pt30
            table.eight.columns
                tr
                    td.text-pad-small.pb30
                        p.small-text.center ${{ 2facode.block_11 }}$&ensp;
                            a(href="mailto:{{embedded.company_email}}" target="_blank") ${{ 2facode.block_12 }}$

